In [2]:
model_path = '/home/LLM_para/para_glm4'
lora_path = './final_checkpoint_GLM4_SQL_SFT_cropped'
# lora_path = './final_checkpoint_newS_SFT_SQL_CN_TV'
# lora_path = './final_checkpoint_newS_SFT_SQL_CN_TV'
val_dataset_path = "./mydataset_SQL/T2Q_GLM4_SFT_val_sql.jsonl"

In [3]:
model = AutoPeftModelForCausalLM.from_pretrained(
        lora_path, trust_remote_code= True, device_map='auto')

ValueError: Can't find 'adapter_config.json' at './final_checkpoint_GLM4_SQL_SFT_cropped'

In [4]:
tokenizer = AutoTokenizer.from_pretrained(model_path, trust_remote_code=True)

Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

In [5]:
test_df = pd.read_json(val_dataset_path, lines=True)
print(test_df)

                                           instruction  \
0     I want you to act as a SQL terminal in front ...
1     I want you to act as a SQL terminal in front ...
2     I want you to act as a SQL terminal in front ...
3     I want you to act as a SQL terminal in front ...
4     I want you to act as a SQL terminal in front ...
..                                                 ...
378   I want you to act as a SQL terminal in front ...
379   I want you to act as a SQL terminal in front ...
380   I want you to act as a SQL terminal in front ...
381   I want you to act as a SQL terminal in front ...
382   I want you to act as a SQL terminal in front ...

                                                 input  \
0    Find the name, headquarter and revenue of all ...
1    Return the total revenue of companies with hea...
2     Give the distinct headquarters of manufacturers.
3    Select the names and the prices of all the pro...
4      What is the total revenue of each manufacturer?
..                                                 ...
378  What are the names and year of construction fo...
379  Show the id and builder of the railway that ar...
380  List the object number of railways that do not...
381  Show the prices of publications whose publishe...
382  Show different publishers together with the nu...

                                                output
0    ```gerenated SQL\n-- SQL: SELECT name ,  headq...
1    ```gerenated SQL\n-- SQL: SELECT SUM(revenue) ...
2    ```gerenated SQL\n-- SQL: SELECT DISTINCT head...
3    ```gerenated SQL\n-- SQL: SELECT name ,  price...
4    ```gerenated SQL\n-- SQL: SELECT SUM(revenue) ...
..                                                 ...
378  ```gerenated SQL\n-- SQL: SELECT name ,  built...
379  ```gerenated SQL\n-- SQL: SELECT t2.railway_id...
380  ```gerenated SQL\n-- SQL: SELECT objectnumber ...
381  ```gerenated SQL\n-- SQL: SELECT price FROM pu...
382  ```gerenated SQL\n-- SQL: SELECT publisher ,  ...

[383 rows x 3 columns]

In [6]:
def predict(messages, model, tokenizer):
    device = "cuda"
    text = tokenizer.apply_chat_template(
        messages,
        tokenize=False,
        add_generation_prompt=True
    )
    model_inputs = tokenizer([text], return_tensors="pt").to(device)

    generated_ids = model.generate(
        model_inputs.input_ids,
        max_new_tokens=512
    )
    generated_ids = [
        output_ids[len(input_ids):] for input_ids, output_ids in zip(model_inputs.input_ids, generated_ids)
    ]
    
    response = tokenizer.batch_decode(generated_ids, skip_special_tokens=True)[0]
    
#     print("reponse1++++++++++++++++",response)
     
    return response

In [7]:
import re
pattern = r"-- SQL: (.*?);"
test_df_check = test_df[:10]
print(test_df_check)
test_text_list = []
for index, row in test_df_check.iterrows():
    instruction = row['instruction']
    input_value = row['input']
    messages = [
        {"role": "system", "content": f"{instruction}"},
        {"role": "user", "content": f"{input_value}"}
    ]

    response = predict(messages, model, tokenizer)
    match = re.search(pattern, response, re.DOTALL)
    if match:  
        response = match.group(1).strip() 
    else:
        sql_statement = "None"
    print("预测SQL：",response)
#     if ";" in response:
#         response = response.split(";")[0]
#     if "```SQL:" in response:
# #         print(23)
#         response = response.split("```SQL:")[1]
#     response = re.sub(r'\s+', ' ', response).strip()
# #     print(response)

                                         instruction  \
0   I want you to act as a SQL terminal in front ...
1   I want you to act as a SQL terminal in front ...
2   I want you to act as a SQL terminal in front ...
3   I want you to act as a SQL terminal in front ...
4   I want you to act as a SQL terminal in front ...
5   I want you to act as a SQL terminal in front ...
6   I want you to act as a SQL terminal in front ...
7   I want you to act as a SQL terminal in front ...
8   I want you to act as a SQL terminal in front ...
9   I want you to act as a SQL terminal in front ...

                                               input  \
0  Find the name, headquarter and revenue of all ...
1  Return the total revenue of companies with hea...
2   Give the distinct headquarters of manufacturers.
3  Select the names and the prices of all the pro...
4    What is the total revenue of each manufacturer?
5  What is the total revenue of all companies who...
6  What is the sum of revenue from companies with...
7  Select the name of the products with a price l...
8  What are the ids of all students along with ho...
9                How many students play video games?

                                              output
0  ```gerenated SQL\n-- SQL: SELECT name ,  headq...
1  ```gerenated SQL\n-- SQL: SELECT SUM(revenue) ...
2  ```gerenated SQL\n-- SQL: SELECT DISTINCT head...
3  ```gerenated SQL\n-- SQL: SELECT name ,  price...
4  ```gerenated SQL\n-- SQL: SELECT SUM(revenue) ...
5  ```gerenated SQL\n-- SQL: SELECT SUM(revenue) ...
6  ```gerenated SQL\n-- SQL: SELECT SUM(revenue) ...
7  ```gerenated SQL\n-- SQL: SELECT name FROM pro...
8  ```gerenated SQL\n-- SQL: SELECT stuid ,  COUN...
9  ```gerenated SQL\n-- SQL: SELECT COUNT(DISTINC...
预测SQL： SELECT name ,  headquarter ,  revenue FROM manufacturers ORDER BY revenue DESC
预测SQL： SELECT SUM(revenue) FROM manufacturers WHERE headquarter  =  'Tokyo' OR headquarter  =  'Taiwan'
预测SQL： SELECT DISTINCT headquarter FROM manufacturers
预测SQL： SELECT name ,  price FROM products
预测SQL： SELECT SUM(revenue) ,  name FROM manufacturers GROUP BY name
预测SQL： SELECT SUM(revenue) FROM manufacturers WHERE headquarter  =  'Tokyo' OR headquarter  =  'Taiwan'
预测SQL： SELECT SUM(revenue) FROM manufacturers WHERE headquarter  =  'Austin'
预测SQL： SELECT name FROM products WHERE price  <=  200
预测SQL： SELECT t1.stuid ,  COUNT(*) FROM sportsinfo as t1 JOIN plays_games as t2 ON t1.stuid  =  t2.stuid GROUP BY t1.stuid
预测SQL： SELECT COUNT(DISTINCT stuid) FROM plays_games

In [9]:
#  read glod 
from tqdm import tqdm
# 录入db_id query用于glod  第一次使用需要
df = pd.read_csv("./mydataset_SQL/validation_dataset_formatted.csv",encoding="GBK")
results = []
for index, row in tqdm(df.iterrows(), total=len(df)):
    results.append([row['query'],row['question'],row['db_id']])
new_df = pd.DataFrame(results, columns = ['reference_query','question','db_id'])
print(new_df)

100%|██████████████████████████████████████████████████████████████████████████████| 383/383 [00:00<00:00, 11833.57it/s]

                                       reference_query  \
0    SELECT name ,  headquarter ,  revenue FROM man...
1    SELECT SUM(revenue) FROM manufacturers WHERE h...
2       SELECT DISTINCT headquarter FROM manufacturers
3                   SELECT name ,  price FROM products
4    SELECT SUM(revenue) ,  name FROM manufacturers...
..                                                 ...
378  SELECT name ,  built_year FROM mill WHERE type...
379  SELECT t2.railway_id ,  t1.builder FROM railwa...
380  SELECT objectnumber FROM railway WHERE railway...
381  SELECT price FROM publication WHERE publisher ...
382  SELECT publisher ,  COUNT(*) FROM publication ...

                                              question          db_id
0    Find the name, headquarter and revenue of all ...  manufactory_1
1    Return the total revenue of companies with hea...  manufactory_1
2     Give the distinct headquarters of manufacturers.  manufactory_1
3    Select the names and the prices of all the pro...  manufactory_1
4      What is the total revenue of each manufacturer?  manufactory_1
..                                                 ...            ...
378  What are the names and year of construction fo...   architecture
379  Show the id and builder of the railway that ar...        railway
380  List the object number of railways that do not...        railway
381  Show the prices of publications whose publishe...         book_2
382  Show different publishers together with the nu...         book_2

[383 rows x 3 columns]

In [10]:
import re
index = 0
pattern = r"-- SQL: (.*?);"
predict_list = []
for index, row in test_df.iterrows():
    index += 1
    instruction = row['instruction']
    input_value = row['input']
    messages = [
        {"role": "system", "content": f"{instruction}"},
        {"role": "user", "content": f"{input_value}"}
    ] 
    response = predict(messages, model, tokenizer)
    response = predict(messages, model, tokenizer)
    match = re.search(pattern, response, re.DOTALL)
    if match:  
        response = match.group(1).strip() 
    else:
        sql_statement = "None"
    print(f"预测SQL{index}：",response)
    predict_list.append(response)
#     messages.append({"role": "assistant", "content": f"{response}"})
#     result_text = f"{messages[0]}\n\n{messages[1]}\n\n{messages[2]}"
#     print(result_text)
    
#     test_text_list.append(swanlab.Text(result_text, caption=response))

预测SQL1： SELECT name ,  headquarter ,  revenue FROM manufacturers ORDER BY revenue DESC
预测SQL2： SELECT SUM(revenue) FROM manufacturers WHERE headquarter  =  'Tokyo' OR headquarter  =  'Taiwan'
预测SQL3： SELECT DISTINCT headquarter FROM manufacturers
预测SQL4： SELECT name ,  price FROM products
预测SQL5： SELECT SUM(revenue) ,  name FROM manufacturers GROUP BY name
预测SQL6： SELECT SUM(revenue) FROM manufacturers WHERE headquarter  =  'Tokyo' OR headquarter  =  'Taiwan'
预测SQL7： SELECT SUM(revenue) FROM manufacturers WHERE headquarter  =  'Austin'
预测SQL8： SELECT name FROM products WHERE price  <=  200
预测SQL9： SELECT t1.stuid ,  COUNT(*) FROM sportsinfo as t1 JOIN plays_games as t2 ON t1.stuid  =  t2.stuid GROUP BY t1.stuid
预测SQL10： SELECT COUNT(DISTINCT stuid) FROM plays_games
预测SQL11： SELECT major ,  AVG(age) ,  MIN(age) ,  MAX(age) FROM student GROUP BY major
预测SQL12： SELECT t1.stuid ,  SUM(t1.hours_played) FROM plays_games as t1 GROUP BY t1.stuid
预测SQL13： SELECT DISTINCT gtype FROM video_games
预测SQL14： SELECT gtype ,  COUNT(*) FROM video_games GROUP BY gtype
预测SQL15： SELECT t2.fname ,  t2.age FROM sportsinfo as t1 JOIN student as t2 ON t1.stuid  =  t2.stuid WHERE t1.sportname  =  "Football" INTERSECT SELECT t2.fname ,  t2.age FROM sportsinfo as t1 JOIN student as t2 ON t1.stuid  =  t2.stuid WHERE t1.sportname  =  "Lacrosse"
预测SQL16： SELECT gtype FROM video_games GROUP BY gtype ORDER BY COUNT(*) ASC LIMIT 1
预测SQL17： SELECT COUNT(*) FROM documents
预测SQL18： SELECT document_name ,  document_id FROM documents WHERE document_type_code  =  "BK"
预测SQL19： SELECT statement_id ,  COUNT(*) FROM accounts GROUP BY statement_id
预测SQL20： SELECT t1.document_id FROM documents_with_expenses as t1 JOIN ref_budget_codes as t2 ON t1.budget_type_code  =  t2.budget_type_code WHERE t2.budget_type_description  =  'SF'
预测SQL21： SELECT t1.document_id FROM documents as t1 JOIN documents_with_expenses as t2 ON t1.document_id  =  t2.document_id WHERE t1.document_name LIKE '%s%'
预测SQL22： SELECT COUNT(*) FROM ref_budget_codes
预测SQL23： SELECT document_type_code ,  document_type_name ,  document_type_description FROM ref_document_types
预测SQL24： SELECT t2.project_id ,  t2.project_details FROM documents as t1 JOIN projects as t2 ON t1.project_id  =  t2.project_id GROUP BY t1.project_id HAVING COUNT(*)  >=  2
预测SQL25： SELECT DISTINCT t1.paperid FROM venue as t2 JOIN paper as t1 ON t2.venueid  =  t1.venueid WHERE t1.year  =  2015 AND t2.venuename  =  "pldi"
预测SQL26： SELECT DISTINCT t2.citingpaperid FROM paper as t1 JOIN cite as t2 ON t1.paperid  =  t2.citedpaperid GROUP BY t2.citingpaperid HAVING COUNT(DISTINCT t2.citedpaperid)  >=  5
预测SQL27： SELECT journal FROM architect WHERE date  =  "2011-03-01"
预测SQL28： SELECT DISTINCT t3.paperid FROM paper as t3 JOIN paperdataset as t2 ON t3.paperid  =  t2.paperid JOIN dataset as t1 ON t2.datasetid  =  t1.datasetid WHERE t1.datasetname  =  "ImageNet" AND t3.venueid  =  "eccv" AND t3.year  =  2014
预测SQL29： SELECT DISTINCT t2.paperid FROM writes as t2 JOIN author as t1 ON t2.authorid  =  t1.authorid WHERE t1.authorname  =  "sharon goldwater"
预测SQL30： SELECT DISTINCT t3.journalid  ,  t2.venueid FROM paperkeyphrase as t1 JOIN paper as t2 ON t1.paperid  =  t2.paperid JOIN keyphrase as t3 ON t1.keyphraseid  =  t3.keyphraseid WHERE t2.year  =  2010 AND t3.keyphrasename  =  "Trophic Cascade"
预测SQL31： SELECT DISTINCT t3.paperid FROM paperkeyphrase as t2 JOIN paper as t3 ON t2.paperid  =  t3.paperid JOIN venue as t4 ON t4.venueid  =  t3.venueid JOIN keyphrase as t1 ON t2.keyphraseid  =  t1.keyphraseid WHERE t1.keyphrasename  =  "Parsing" AND t3.year  =  2012 AND t4.venuename  =  "acl"
预测SQL32： SELECT DISTINCT t2.paperid FROM writes as t2 JOIN author as t1 ON t2.authorid  =  t1.authorid WHERE t1.authorname  =  "sharon goldwater"
预测SQL33： SELECT DISTINCT t3.venueid FROM writes as t2 JOIN paper as t1 ON t2.paperid  =  t1.paperid JOIN author as t3 ON t2.authorid  =  t3.authorid WHERE t3.authorname  =  "Daniella Coelho"
预测SQL34： SELECT DISTINCT t3.paperid FROM writes as t3 JOIN author as t2 ON t3.authorid  =  t2.authorid JOIN writes as t4 ON t4.paperid  =  t3.paperid JOIN author as t1 ON t4.authorid  =  t1.authorid WHERE t2.authorname  =  "Peter Mertens" AND t1.authorname  =  "Dina Barbian"
预测SQL35： SELECT DISTINCT t1.keyphraseid  ,  COUNT(t4.citedpaperid) FROM paperkeyphrase as t2 JOIN paper as t3 ON t2.paperid  =  t3.paperid JOIN cite as t4 ON t3.paperid  =  t4.citingpaperid JOIN keyphrase as t1 ON t2.keyphraseid  =  t1.keyphraseid GROUP BY t1.keyphraseid ORDER BY COUNT(t4.citedpaperid) DESC
预测SQL36： SELECT DISTINCT COUNT(DISTINCT t3.paperid) FROM paper as t3 JOIN paperdataset as t2 ON t3.paperid  =  t2.paperid JOIN dataset as t1 ON t2.datasetid  =  t1.datasetid WHERE t1.datasetname  =  "ImageNet"
预测SQL37： SELECT DISTINCT t3.paperid FROM paperkeyphrase as t2 JOIN paper as t3 ON t2.paperid  =  t3.paperid JOIN keyphrase as t1 ON t2.keyphraseid  =  t1.keyphraseid WHERE t1.keyphrasename  =  "Question Answering"
预测SQL38： SELECT DISTINCT t3.paperid FROM paperkeyphrase as t2 JOIN paper as t3 ON t2.paperid  =  t3.paperid JOIN keyphrase as t1 ON t2.keyphraseid  =  t1.keyphraseid WHERE t1.keyphrasename  =  "Question Answering"
预测SQL39： SELECT DISTINCT t1.paperid FROM venue as t2 JOIN paper as t1 ON t2.venueid  =  t1.venueid WHERE t2.venuename  =  "chi"
预测SQL40： SELECT DISTINCT t3.citingpaperid FROM paper as t1 JOIN cite as t3 ON t1.paperid  =  t3.citedpaperid JOIN venue as t2 ON t2.venueid  =  t1.venueid WHERE t2.venuename  =  "ACL" GROUP BY t3.citingpaperid HAVING COUNT(DISTINCT t3.citedpaperid)  <  5
预测SQL41： SELECT DISTINCT t1.paperid FROM venue as t2 JOIN paper as t1 ON t2.venueid  =  t1.venueid WHERE t1.year  =  2015 AND t2.venuename  =  "pldi"
预测SQL42： SELECT DISTINCT t1.keyphrasename FROM paperkeyphrase as t2 JOIN paper as t3 ON t2.paperid  =  t3.paperid JOIN writes as t4 ON t4.paperid  =  t3.paperid JOIN keyphrase as t1 ON t2.keyphraseid  =  t1.keyphraseid JOIN author as t5 ON t4.authorid  =  t5.authorid WHERE t5.authorname  =  "oren etzioni" GROUP BY t1.keyphrasename ORDER BY COUNT(*) DESC
预测SQL43： SELECT DISTINCT t3.paperid FROM paper as t3 JOIN paperdataset as t2 ON t3.paperid  =  t2.paperid JOIN dataset as t1 ON t2.datasetid  =  t1.datasetid WHERE t1.datasetname  =  "WebKB"
预测SQL44： SELECT DISTINCT t2.datasetid FROM paperkeyphrase as t3 JOIN paperdataset as t2 ON t3.paperid  =  t2.paperid JOIN dataset as t1 ON t2.datasetid  =  t1.datasetid JOIN keyphrase as t4 ON t3.keyphraseid  =  t4.keyphraseid WHERE t4.keyphrasename  =  "semantic parsing"
预测SQL45： SELECT DISTINCT t3.paperid FROM writes as t2 JOIN paper as t3 ON t2.paperid  =  t3.paperid JOIN author as t1 ON t2.authorid  =  t1.authorid WHERE t1.authorname  =  "Liwen Xiong" AND t3.year  =  2015
预测SQL46： SELECT DISTINCT t4.citedpaperid  ,  COUNT(t4.citedpaperid) FROM paperkeyphrase as t2 JOIN paper as t1 ON t2.paperid  =  t1.paperid JOIN cite as t4 ON t1.paperid  =  t4.citedpaperid JOIN keyphrase as t3 ON t2.keyphraseid  =  t3.keyphraseid WHERE t3.keyphrasename  =  "parsing" GROUP BY t4.citedpaperid ORDER BY COUNT(t4.citedpaperid) DESC
预测SQL47： SELECT DISTINCT t1.authorname  ,  t3.paperid FROM paperkeyphrase as t2 JOIN paper as t3 ON t2.paperid  =  t3.paperid JOIN writes as t4 ON t4.paperid  =  t3.paperid JOIN keyphrase as t5 ON t2.keyphraseid  =  t5.keyphraseid JOIN author as t1 ON t4.authorid  =  t1.authorid WHERE t1.authorname  =  "brian curless" AND t5.keyphrasename  =  "convolution"
预测SQL48： SELECT DISTINCT t4.keyphrasename FROM paperkeyphrase as t2 JOIN paper as t1 ON t2.paperid  =  t1.paperid JOIN writes as t3 ON t3.paperid  =  t1.paperid JOIN keyphrase as t4 ON t2.keyphraseid  =  t4.keyphraseid JOIN author as t5 ON t3.authorid  =  t5.authorid WHERE t5.authorname  =  "Luke Zettlemoyer"
预测SQL49： SELECT DISTINCT t1.authorid FROM venue as t3 JOIN paper as t2 ON t3.venueid  =  t2.venueid JOIN writes as t1 ON t1.paperid  =  t2.paperid WHERE t2.year  =  2016 AND t3.venuename  =  "acl"
预测SQL50： SELECT DISTINCT COUNT(t1.paperid)  ,  t1.year FROM venue as t2 JOIN paper as t1 ON t2.venueid  =  t1.venueid WHERE t2.venuename  =  "NIPS" GROUP BY t1.year ORDER BY COUNT(t1.paperid) DESC
预测SQL51： SELECT DISTINCT t1.authorname FROM paperkeyphrase as t2 JOIN paper as t3 ON t2.paperid  =  t3.paperid JOIN writes as t4 ON t4.paperid  =  t3.paperid JOIN keyphrase as t5 ON t2.keyphraseid  =  t5.keyphraseid JOIN author as t1 ON t4.authorid  =  t1.authorid WHERE t5.keyphrasename  =  "sensor fusion"

预测SQL52： SELECT DISTINCT t3.paperid FROM paperkeyphrase as t1 JOIN paper as t3 ON t1.paperid  =  t3.paperid JOIN writes as t4 ON t4.paperid  =  t3.paperid JOIN keyphrase as t2 ON t1.keyphraseid  =  t2.keyphraseid JOIN author as t5 ON t4.authorid  =  t5.authorid WHERE t5.authorname  =  "brian curless" AND t2.keyphrasename  =  "convolution"
预测SQL53： SELECT DISTINCT t3.year FROM writes as t3 JOIN author as t2 ON t3.authorid  =  t2.authorid JOIN writes as t4 ON t4.paperid  =  t3.paperid JOIN author as t1 ON t4.authorid  =  t1.authorid WHERE t2.authorname  =  "Peter Mertens" AND t1.authorname  =  "Dina Barbian"
预测SQL54： SELECT DISTINCT t2.paperid FROM paperkeyphrase as t2 JOIN paper as t1 ON t2.paperid  =  t1.paperid JOIN keyphrase as t3 ON t2.keyphraseid  =  t3.keyphraseid WHERE t3.keyphrasename  =  "instance segmentation"
预测SQL55： SELECT DISTINCT COUNT(t1.paperid) FROM venue as t2 JOIN paper as t1 ON t2.venueid  =  t1.venueid WHERE t1.year  =  2015 AND t2.venuename  =  "nature communications"
预测SQL56： SELECT DISTINCT t2.year FROM paperkeyphrase as t2 JOIN paper as t1 ON t2.paperid  =  t1.paperid JOIN keyphrase as t3 ON t2.keyphraseid  =  t3.keyphraseid WHERE t3.keyphrasename  =  "deep learning" ORDER BY t2.year asC
预测SQL57： SELECT DISTINCT t3.paperid FROM writes as t2 JOIN author as t1 ON t2.authorid  =  t1.authorid JOIN writes as t3 ON t2.paperid  =  t3.paperid JOIN author as t4 ON t3.authorid  =  t4.authorid WHERE t1.authorname  =  "sharon goldwater" AND t4.authorname  =  "sharon goldwater"
预测SQL58： SELECT DISTINCT paperid FROM paper WHERE year  =  2015
预测SQL59： SELECT DISTINCT t4.citedpaperid  ,  COUNT(t4.citedpaperid) FROM paperkeyphrase as t2 JOIN paper as t1 ON t2.paperid  =  t1.paperid JOIN cite as t4 ON t1.paperid  =  t4.citedpaperid JOIN keyphrase as t3 ON t2.keyphraseid  =  t3.keyphraseid WHERE t3.keyphrasename  =  "Artificial Intelligence" GROUP BY t4.citedpaperid ORDER BY COUNT(t4.citedpaperid) DESC
预测SQL60： SELECT DISTINCT t1.keyphrasename FROM paperkeyphrase as t2 JOIN paper as t1 ON t2.paperid  =  t1.paperid JOIN venue as t3 ON t3.venueid  =  t1.venueid JOIN keyphrase as t1 ON t2.keyphraseid  =  t1.keyphraseid WHERE t1.year  =  2012 AND t3.venuename  =  "EMNLP-CoNLL" ORDER BY t1.numciting DESC
预测SQL61： SELECT venue FROM fracture WHERE fracture  =  "Acrylic bone cement"
预测SQL62： SELECT DISTINCT COUNT(DISTINCT t2.paperid) FROM writes as t2 JOIN author as t1 ON t2.authorid  =  t1.authorid WHERE t1.authorname  =  "Christopher D. Manning"
预测SQL63： SELECT DISTINCT t1.authorid FROM venue as t3 JOIN paper as t2 ON t3.venueid  =  t2.venueid JOIN writes as t1 ON t1.paperid  =  t2.paperid WHERE t2.title  =  "acl" AND t2.year  =  2016
预测SQL64： SELECT DISTINCT t2.paperid FROM writes as t2 JOIN author as t1 ON t2.authorid  =  t1.authorid WHERE t1.authorname  =  "balakrishnan prabhakaran"
预测SQL65： SELECT DISTINCT t3.datasetid FROM paper as t2 JOIN writes as t1 ON t2.paperid  =  t1.paperid JOIN paperdataset as t3 ON t2.paperid  =  t3.paperid JOIN author as t4 ON t1.authorid  =  t4.authorid WHERE t4.authorname  =  "jitendra malik"
预测SQL66： SELECT DISTINCT t4.keyphrasename FROM paperkeyphrase as t2 JOIN paper as t1 ON t2.paperid  =  t1.paperid JOIN writes as t3 ON t3.paperid  =  t1.paperid JOIN keyphrase as t4 ON t2.keyphraseid  =  t4.keyphraseid JOIN author as t5 ON t3.authorid  =  t5.authorid WHERE t5.authorname  =  "Luke Zettlemoyer"
预测SQL67： SELECT DISTINCT t2.year FROM writes as t2 JOIN paper as t1 ON t2.paperid  =  t1.paperid JOIN author as t3 ON t2.authorid  =  t3.authorid WHERE t3.authorname  =  "benjamin mako hill" ORDER BY t2.year asC
预测SQL68： SELECT DISTINCT t3.paperid FROM paperkeyphrase as t2 JOIN paper as t3 ON t2.paperid  =  t3.paperid JOIN writes as t4 ON t4.paperid  =  t3.paperid JOIN keyphrase as t1 ON t2.keyphraseid  =  t1.keyphraseid JOIN author as t5 ON t4.authorid  =  t5.authorid WHERE t5.authorname  =  "brian curless" AND t1.keyphrasename  =  "convolution"
预测SQL69： SELECT DISTINCT COUNT(DISTINCT t2.paperid) FROM writes as t2 JOIN author as t1 ON t2.authorid  =  t1.authorid WHERE t1.authorname  =  "Christopher D. Manning"
预测SQL70： SELECT DISTINCT t3.venueid FROM writes as t2 JOIN paper as t1 ON t2.paperid  =  t1.paperid JOIN author as t3 ON t2.authorid  =  t3.authorid WHERE t3.authorname  =  "li dong" AND t1.year  =  2016
预测SQL71： SELECT DISTINCT COUNT(t3.paperid)  ,  t1.authorid FROM venue as t4 JOIN paper as t3 ON t4.venueid  =  t3.venueid JOIN writes as t1 ON t1.paperid  =  t3.paperid WHERE t4.venuename  =  "chi" GROUP BY t1.authorid ORDER BY COUNT(t3.paperid) DESC
预测SQL72： SELECT DISTINCT COUNT(t4.citedpaperid)  ,  t3.authorid FROM paper as t1 JOIN cite as t4 ON t1.paperid  =  t4.citedpaperid JOIN venue as t2 ON t2.venueid  =  t1.venueid JOIN paper as t3 ON t3.paperid  =  t4.citingpaperid WHERE t2.venuename  =  "CVPR" GROUP BY t3.authorid ORDER BY COUNT(t4.citedpaperid) DESC
预测SQL73： SELECT DISTINCT t3.paperid FROM writes as t2 JOIN paper as t3 ON t2.paperid  =  t3.paperid JOIN author as t1 ON t2.authorid  =  t1.authorid WHERE t1.authorname  =  "Liwen Xiong" AND t3.year  =  2015
预测SQL74： SELECT DISTINCT COUNT(t3.paperid) FROM paperkeyphrase as t2 JOIN paper as t3 ON t2.paperid  =  t3.paperid JOIN keyphrase as t1 ON t2.keyphraseid  =  t1.keyphraseid WHERE t1.keyphrasename  =  "convolutional neural networks" AND t3.year  =  2016
预测SQL75： SELECT DISTINCT COUNT(t3.paperid) FROM paperkeyphrase as t2 JOIN paper as t3 ON t2.paperid  =  t3.paperid JOIN keyphrase as t1 ON t2.keyphraseid  =  t1.keyphraseid WHERE t1.keyphrasename  =  "question answering" AND t3.year  >=  2011 AND t3.year  <=  2016
预测SQL76： SELECT DISTINCT t3.paperid FROM paperkeyphrase as t2 JOIN paper as t3 ON t2.paperid  =  t3.paperid JOIN venue as t4 ON t4.venueid  =  t3.venueid JOIN keyphrase as t1 ON t2.keyphraseid  =  t1.keyphraseid WHERE t1.keyphrasename  =  "Parsing" AND t3.year  =  2012 AND t4.venuename  =  "acl"
预测SQL77： SELECT DISTINCT COUNT(DISTINCT t2.paperid) FROM writes as t2 JOIN author as t1 ON t2.authorid  =  t1.authorid WHERE t1.authorname  =  "Christopher D. Manning"
预测SQL78： SELECT DISTINCT t1.paperid FROM venue as t2 JOIN paper as t1 ON t2.venueid  =  t1.venueid WHERE t1.year  =  2015 AND t2.venuename  =  "pldi"
预测SQL79： SELECT DISTINCT t2.paperid FROM writes as t2 JOIN author as t1 ON t2.authorid  =  t1.authorid WHERE t1.authorname  =  "sharon goldwater"
预测SQL80： SELECT DISTINCT t4.citedpaperid  ,  COUNT(t4.citedpaperid) FROM paper as t3 JOIN cite as t4 ON t3.paperid  =  t4.citedpaperid JOIN writes as t2 ON t2.paperid  =  t3.paperid JOIN author as t1 ON t2.authorid  =  t1.authorid WHERE t1.authorname  =  "ohad shamir" GROUP BY t4.citedpaperid ORDER BY COUNT(t4.citedpaperid) DESC
预测SQL81： SELECT SUM(enrollment) ,  AVG(enrollment) FROM university
预测SQL82： SELECT t2.school_name FROM endowment as t1 JOIN school as t2 ON t1.school_id  =  t2.school_id GROUP BY t1.school_id HAVING COUNT(*)  >  1 AND MAX(t1.amount)  >  8.5
预测SQL83： SELECT nominee FROM musical WHERE award  =  "Bob Fosse" OR award  =  "Cleavant Derricks"
预测SQL84： SELECT DISTINCT nominee FROM musical WHERE award != "Tony award"
预测SQL85： SELECT COUNT(*) FROM actor
预测SQL86： SELECT COUNT(*) FROM actor
预测SQL87： SELECT investor ,  COUNT(*) FROM entrepreneur GROUP BY investor
预测SQL88： SELECT SUM(t1.money_requested) FROM entrepreneur as t1 JOIN people as t2 ON t1.people_id  =  t2.people_id WHERE t2.height  >  1.85
预测SQL89： SELECT COUNT(DISTINCT company) FROM architect
预测SQL90： SELECT COUNT(DISTINCT company) FROM architect
预测SQL91： SELECT billing_state ,  COUNT(*) FROM invoices WHERE billing_country  =  "USA" GROUP BY billing_state
预测SQL92： SELECT t1.name FROM tracks as t1 JOIN playlist_tracks as t2 ON t1.id  =  t2.track_id JOIN playlists as t3 ON t2.playlist_id  =  t3.id WHERE t3.name  =  'Movies' INTERSECT SELECT t1.name FROM tracks as t1 JOIN playlist_tracks as t2 ON t1.id  =  t2.track_id JOIN playlists as t3 ON t2.playlist_id  =  t3.id WHERE t3.name  =  'Music'
预测SQL93： SELECT title ,  phone ,  hire_date FROM employees WHERE first_name = "Nancy" AND last_name = "Edwards"
预测SQL94： SELECT COUNT(*) FROM artists as t1 JOIN albums as t2 ON t1.id  =  t2.artist_id WHERE t1.name  =  "Billy Cobham"

预测SQL95： SELECT t2.fname ,  t2.lname FROM architect as t1 JOIN architect as t2 ON t1.id  =  t2.id ORDER BY t1.start_year DESC LIMIT 10
预测SQL96： SELECT milliseconds FROM tracks WHERE name = "Fast As a Shark"
预测SQL97： SELECT t2.name FROM playlist_tracks as t1 JOIN playlists as t2 ON t1.playlist_id  =  t2.id GROUP BY t1.playlist_id HAVING COUNT(t1.track_id)  >  100
预测SQL98： SELECT t1.first_name ,  t1.last_name ,  COUNT(*) FROM customers as t1 JOIN invoices as t2 ON t2.customer_id  =  t1.id GROUP BY t1.id ORDER BY COUNT(*) DESC LIMIT 10
预测SQL99： SELECT t1.first_name ,  t1.last_name FROM employees as t1 JOIN customers as t2 ON t1.id  =  t2.support_rep_id GROUP BY t1.id ORDER BY COUNT(*) DESC LIMIT 1
预测SQL100： SELECT COUNT(*) ,  t2.name FROM tracks as t1 JOIN genres as t2 ON t1.genre_id  =  t2.id GROUP BY t2.name ORDER BY COUNT(*) DESC LIMIT 5
预测SQL101： SELECT t1.title FROM albums as t1 JOIN tracks as t2 ON t1.id = t2.album_id WHERE t2.name = "Balls to the Wall"
预测SQL102： SELECT t1.name ,  t2.visit_date FROM tourist_attractions as t1 JOIN visits as t2 ON t1.tourist_attraction_id  =  t2.tourist_attraction_id JOIN visitors as t3 ON t2.tourist_id  =  t3.tourist_id WHERE t3.tourist_details  =  "Vincent" OR t3.tourist_details  =  "Vivian"
预测SQL103： SELECT t1.attraction_type_code ,  t2.attraction_type_description FROM ref_attraction_types as t1 JOIN tourist_attractions as t2 ON t1.attraction_type_code  =  t2.attraction_type_code GROUP BY t1.attraction_type_code ORDER BY COUNT(*) DESC LIMIT 1
预测SQL104： SELECT t1.name FROM tourist_attractions as t1 JOIN visits as t2 ON t1.tourist_attraction_id  =  t2.tourist_attraction_id JOIN visitors as t3 ON t2.tourist_id  =  t3.tourist_id WHERE t3.tourist_details  =  'Alison' EXCEPT SELECT t1.name FROM tourist_attractions as t1 JOIN visits as t2 ON t1.tourist_attraction_id  =  t2.tourist_attraction_id JOIN visitors as t3 ON t2.tourist_id  =  t3.tourist_id WHERE t3.tourist_details  =  'Rosalind'
预测SQL105： SELECT address FROM locations WHERE location_name  =  "UK Gallery"
预测SQL106： SELECT hotel_id ,  star_rating_code FROM hotels ORDER BY price_range ASC
预测SQL107： SELECT tourist_details FROM visitors
预测SQL108： SELECT t1.name FROM staff as t1 JOIN tourist_attractions as t2 ON t1.tourist_attraction_id  =  t2.tourist_attraction_id WHERE t2.name  =  "US museum"
预测SQL109： SELECT DISTINCT price_range FROM hotels
预测SQL110： SELECT destination FROM flight GROUP BY destination ORDER BY COUNT(*) LIMIT 1
预测SQL111： SELECT t2.name FROM flight as t1 JOIN aircraft as t2 ON t1.aid  =  t2.aid WHERE t1.flno  =  99
预测SQL112： SELECT COUNT(*) FROM architect
预测SQL113： SELECT eid ,  name FROM employee ORDER BY salary DESC FETCH FIRST 1 ROW ONLY
预测SQL114： SELECT destination FROM flight GROUP BY destination ORDER BY COUNT(*) LIMIT 1
预测SQL115： SELECT aid ,  name FROM aircraft ORDER BY distance DESC FETCH FIRST 1 ROW ONLY
预测SQL116： SELECT eid ,  salary FROM employee WHERE name  =  'Mark Young'
预测SQL117： SELECT t1.name FROM employee as t1 JOIN certificate as t2 ON t1.eid  =  t2.eid JOIN aircraft as t3 ON t3.aid  =  t2.aid WHERE t3.name  =  "Boeing 737-800" INTERSECT SELECT t1.name FROM employee as t1 JOIN certificate as t2 ON t1.eid  =  t2.eid JOIN aircraft as t3 ON t3.aid  =  t2.aid WHERE t3.name  =  "Airbus A340-300"
预测SQL118： SELECT origin FROM flight WHERE destination  =  "Honolulu"
预测SQL119： SELECT SUM(area) FROM state
预测SQL120： SELECT population FROM city WHERE city_name  =  "boulder"
预测SQL121： SELECT t1.capital FROM state as t1 JOIN border_info as t2 ON t1.state_name  =  t2.border WHERE t2.state_name IN ( SELECT border FROM state as t1 JOIN border_info as t2 ON t1.state_name  =  t2.border WHERE t1.state_name  =  "texas" )
预测SQL122： SELECT traverse FROM river WHERE length  =  ( SELECT MAX(length) FROM river )
预测SQL123： SELECT highest_point FROM highlow WHERE state_name  =  "texas"
预测SQL124： SELECT border FROM border_info WHERE state_name  =  "kentucky"
预测SQL125： SELECT t1.population FROM city as t1 JOIN state as t2 ON t1.state_name  =  t2.state_name WHERE t2.area  =  ( SELECT MIN(area) FROM state ) AND t1.city_name  =  t2.capital
预测SQL126： SELECT population FROM state WHERE area  =  ( SELECT MAX(area) FROM state )
预测SQL127： SELECT population FROM city WHERE city_name  =  "boulder"
预测SQL128： SELECT state_name FROM state WHERE state_name NOT IN ( SELECT traverse FROM river )
预测SQL129： SELECT t1.city_name FROM city as t1 JOIN state as t2 ON t1.state_name  =  t2.state_name WHERE t2.capital  =  t1.city_name AND t1.population  =  ( SELECT MAX(population) FROM city WHERE state_name  =  t2.state_name )
预测SQL130： SELECT state_name FROM state WHERE density  =  ( SELECT MIN(density) FROM state )
预测SQL131： SELECT COUNT(border) FROM border_info WHERE state_name  =  "kentucky"
预测SQL132： SELECT t2.capital FROM city as t1 JOIN state as t2 ON t1.state_name  =  t2.state_name WHERE t1.population  <  150000
预测SQL133： SELECT river_name FROM river GROUP BY river_name ORDER BY COUNT(DISTINCT traverse) DESC LIMIT 1
预测SQL134： SELECT population FROM city WHERE population  =  ( SELECT MAX(population) FROM city WHERE state_name  =  "alaska" ) AND state_name  =  "alaska"
预测SQL135： SELECT state_name FROM city WHERE city_name  =  "springfield"
预测SQL136： SELECT highest_point FROM highlow WHERE highest_elevation  =  ( SELECT MAX(highest_elevation) FROM highlow )
预测SQL137： SELECT COUNT(river_name) FROM river WHERE traverse  =  "idaho"
预测SQL138： SELECT city_name FROM city WHERE population  =  ( SELECT MIN(population) FROM city WHERE state_name IN ( SELECT state_name FROM state WHERE area  =  ( SELECT MAX(area) FROM state ) ) ) AND state_name IN ( SELECT state_name FROM state WHERE area  =  ( SELECT MAX(area) FROM state ) )
预测SQL139： SELECT city_name FROM city WHERE state_name  =  "texas"
预测SQL140： SELECT traverse FROM river WHERE length  =  ( SELECT MIN(length) FROM river )
预测SQL141： SELECT mountain_altitude FROM mountain WHERE mountain_name  =  "mckinley"
预测SQL142： SELECT river_name FROM river WHERE length  =  ( SELECT MAX(length) FROM river )
预测SQL143： SELECT COUNT(border) FROM border_info WHERE state_name  =  "kentucky"
预测SQL144： SELECT COUNT(city_name) FROM city WHERE state_name  =  "texas"
预测SQL145： SELECT SUM(t1.population) FROM state as t1 JOIN border_info as t2 ON t1.state_name  =  t2.border WHERE t2.state_name  =  "texas"
预测SQL146： SELECT COUNT(DISTINCT traverse) FROM river WHERE length  >  750
预测SQL147： SELECT t1.capital FROM city as t1 JOIN state as t2 ON t1.state_name  =  t2.state_name WHERE t2.area  =  ( SELECT MAX(t2.area) FROM city as t1 JOIN state as t2 ON t1.state_name  =  t2.state_name )
预测SQL148： SELECT state_name FROM state WHERE area  =  ( SELECT MAX(area) FROM state WHERE state_name != "alaska" AND state_name != "hawaii" )
预测SQL149： SELECT COUNT(city_name) FROM city WHERE city_name  =  "austin" AND country_name  =  "usa"
预测SQL150： SELECT river_name FROM river WHERE traverse IN ( SELECT state_name FROM state WHERE population  =  ( SELECT MAX(population) FROM state ) )
预测SQL151： SELECT city_name FROM city WHERE population  >  150000 AND state_name IN ( SELECT traverse FROM river WHERE river_name  =  "mississippi" )
预测SQL152： SELECT density FROM state WHERE area  =  ( SELECT MAX(area) FROM state )
预测SQL153： SELECT state_name FROM state WHERE state_name IN ( SELECT border FROM border_info WHERE state_name  =  "texas" ) ORDER BY area ASC LIMIT 1
预测SQL154： SELECT population FROM state WHERE state_name IN ( SELECT traverse FROM river WHERE river_name  =  "mississippi" )
预测SQL155： SELECT city_name FROM city WHERE population  =  ( SELECT MAX(population) FROM city WHERE state_name  =  "wyoming" ) AND state_name  =  "wyoming"
预测SQL156： SELECT state_name FROM city WHERE city_name  =  "springfield"
预测SQL157： SELECT state_name FROM state WHERE density  =  ( SELECT MIN(density) FROM state )
预测SQL158： SELECT river_name FROM river WHERE length  =  ( SELECT MIN(length) FROM river )
预测SQL159： SELECT city_name FROM city WHERE population  =  ( SELECT MAX(population) FROM city WHERE state_name IN ( SELECT state_name FROM state WHERE area  =  ( SELECT MIN(area) FROM state ) ) ) AND state_name IN ( SELECT state_name FROM state WHERE area  =  ( SELECT MIN(area) FROM state ) )

预测SQL160： SELECT border FROM border_info WHERE state_name  =  "kentucky"
预测SQL161： SELECT density FROM state WHERE area  =  ( SELECT MIN(area) FROM state )
预测SQL162： SELECT river_name FROM river WHERE traverse != "tennessee"
预测SQL163： SELECT capital FROM state WHERE area  =  ( SELECT MAX(area) FROM state )
预测SQL164： SELECT border FROM border_info WHERE state_name IN ( SELECT border FROM border_info WHERE state_name IN ( SELECT border FROM border_info WHERE state_name IN ( SELECT border FROM border_info WHERE state_name  =  "texas" ) ) )
预测SQL165： SELECT COUNT(river_name) FROM river WHERE traverse  =  "idaho"
预测SQL166： SELECT border FROM border_info WHERE state_name  =  "kentucky"
预测SQL167： SELECT river_name FROM river WHERE traverse IN ( SELECT state_name FROM state WHERE area  =  ( SELECT MAX(area) FROM state ) )
预测SQL168： SELECT population FROM city WHERE city_name  =  "seattle" AND state_name  =  "washington"
预测SQL169： SELECT length FROM river WHERE river_name  =  "rio grande"
预测SQL170： SELECT mountain_name FROM mountain WHERE state_name  =  "alaska"
预测SQL171： SELECT state_name FROM state WHERE population  =  ( SELECT MAX(population) FROM state )
预测SQL172： SELECT river_name FROM river WHERE length  =  ( SELECT MAX(length) FROM river WHERE traverse IN ( SELECT state_name FROM state WHERE area  =  ( SELECT MIN(area) FROM state ) ) ) AND traverse IN ( SELECT state_name FROM state WHERE area  =  ( SELECT MIN(area) FROM state ) )
预测SQL173： SELECT population FROM city WHERE population  =  ( SELECT MAX(population) FROM city )
预测SQL174： SELECT COUNT(river_name) FROM river WHERE traverse  =  "idaho"
预测SQL175： SELECT name ,  location FROM wrestler
预测SQL176： SELECT location FROM wrestler GROUP BY location HAVING COUNT(*)  >  2
预测SQL177： SELECT name FROM wrestler ORDER BY days_held ASC LIMIT 1
预测SQL178： SELECT team FROM elimination WHERE eliminated_by  =  "Orton" INTERSECT SELECT team FROM elimination WHERE eliminated_by  =  "Benjamin"
预测SQL179： SELECT COUNT(DISTINCT t3.name) FROM business as t1 JOIN review as t2 ON t1.business_id  =  t2.business_id JOIN user as t3 ON t3.user_id  =  t2.user_id WHERE t1.name  =  "Sushi Too" AND t1.city  =  "Pittsburgh"
预测SQL180： SELECT t1.name FROM category as t2 JOIN business as t1 ON t2.business_id  =  t1.business_id JOIN review as t3 ON t3.business_id  =  t1.business_id JOIN user as t4 ON t4.user_id  =  t3.user_id WHERE t2.category_name  =  "Bars" AND t3.rating  >=  3 AND t4.name  =  "Patrick"
预测SQL181： SELECT t2.neighbourhood FROM restaurant as t1 JOIN architect as t2 ON t1.architect_id  =  t2.id WHERE t1.name  =  "Flat Top Grill"
预测SQL182： SELECT COUNT(DISTINCT t1.text) FROM review as t1 JOIN user as t2 ON t1.user_id  =  t2.user_id WHERE t2.name  =  "Michelle" AND t1.month  =  "March" AND t1.year  =  2014
预测SQL183： SELECT t1.count FROM checkin as t1 JOIN business as t2 ON t1.business_id  =  t2.business_id WHERE t2.name  =  "Cafe Zinho" AND t1.day  =  "friday"
预测SQL184： SELECT t1.name FROM category as t2 JOIN business as t1 ON t2.business_id  =  t1.business_id WHERE t1.city  =  "Los Angeles" AND t2.category_name  =  "breweries"
预测SQL185： SELECT t1.name FROM checkin as t2 JOIN business as t1 ON t2.business_id  =  t1.business_id GROUP BY t1.name ORDER BY COUNT(DISTINCT t2.business_id) DESC LIMIT 1
预测SQL186： SELECT SUM(t2.likes) FROM tip as t2 JOIN business as t1 ON t2.business_id  =  t1.business_id JOIN user as t3 ON t2.user_id  =  t3.user_id WHERE t3.name  =  "Niloofar" AND t1.name  =  "Cafe Zinho"
预测SQL187： SELECT SUM(t3.count) FROM category as t2 JOIN business as t1 ON t2.business_id  =  t1.business_id JOIN checkin as t3 ON t3.business_id  =  t1.business_id WHERE t1.city  =  "Los Angeles" AND t2.category_name  =  "restaurant" AND t1.name  =  "Moroccan" AND t3.day  =  "friday"
预测SQL188： SELECT t1.neighbourhood_name FROM neighbourhood as t1 JOIN business as t2 ON t1.business_id  =  t2.business_id WHERE t2.city  =  "Madison" GROUP BY t1.neighbourhood_name ORDER BY COUNT(t1.neighbourhood_name) DESC LIMIT 1
预测SQL189： SELECT t3.text FROM category as t2 JOIN business as t1 ON t2.business_id  =  t1.business_id JOIN review as t3 ON t3.business_id  =  t1.business_id WHERE t2.category_name  =  "Pet Groomers" GROUP BY t1.business_id HAVING COUNT(DISTINCT t3.text)  >  100
预测SQL190： SELECT category ,  COUNT(*) FROM book_club GROUP BY category
预测SQL191： SELECT category FROM book_club WHERE year  >  1989 GROUP BY category HAVING COUNT(*)  >=  2
预测SQL192： SELECT COUNT(DISTINCT director) FROM movie
预测SQL193： SELECT date_of_notes FROM assessment_notes
预测SQL194： SELECT last_name FROM teachers EXCEPT SELECT t2.last_name FROM teachers as t1 JOIN detention as t2 ON t1.teacher_id  =  t2.teacher_id
预测SQL195： SELECT t2.teacher_id ,  t1.first_name FROM assessment_notes as t1 JOIN teachers as t2 ON t1.teacher_id  =  t2.teacher_id GROUP BY t1.teacher_id ORDER BY COUNT(*) DESC LIMIT 3
预测SQL196： SELECT COUNT(DISTINCT t2.student_id) FROM detention as t1 JOIN Students_in_Detention as t2 ON t1.detention_id  =  t2.detention_id
预测SQL197： SELECT name FROM club ORDER BY name DESC
预测SQL198： SELECT t1.name ,  t2.player_id FROM club as t1 JOIN player as t2 ON t1.club_id  =  t2.club_id
预测SQL199： SELECT name FROM player WHERE points  >  (SELECT AVG(points) FROM player)
预测SQL200： SELECT name FROM club ORDER BY start_year ASC
预测SQL201： SELECT position FROM player GROUP BY position HAVING AVG(points)  >  20
预测SQL202： SELECT name ,  location ,  seating FROM track ORDER BY year_opened DESC LIMIT 1
预测SQL203： SELECT MIN(seating) ,  MAX(seating) ,  AVG(seating) FROM track
预测SQL204： SELECT t1.name ,  t1.date ,  t2.name FROM race as t1 JOIN track as t2 ON t1.track_id  =  t2.track_id
预测SQL205： SELECT t2.name ,  COUNT(*) FROM race as t1 JOIN track as t2 ON t1.track_id  =  t2.track_id GROUP BY t1.track_id
预测SQL206： SELECT title ,  studio FROM film WHERE studio LIKE "%Universal%"
预测SQL207： SELECT studio FROM film GROUP BY studio ORDER BY COUNT(*) DESC LIMIT 1
预测SQL208： SELECT t2.country ,  t1.year FROM film_market_estimation as t1 JOIN market as t2 ON t1.market_id  =  t2.market_id
预测SQL209： SELECT country ,  year FROM film_market_estimation
预测SQL210： SELECT attribute_data_type FROM attribute_definitions WHERE attribute_name  =  "Green"
预测SQL211： SELECT catalog_publisher FROM catalogs WHERE catalog_publisher LIKE "%Murray%"
预测SQL212： SELECT catalog_entry_name FROM catalog_contents WHERE catalog_level_number  =  8
预测SQL213： SELECT COUNT(*) FROM products
预测SQL214： SELECT city ,  COUNT(*) FROM airports GROUP BY city HAVING COUNT(*)  >  1
预测SQL215： SELECT COUNT(*) FROM (SELECT city FROM airports WHERE country  =  'United States' GROUP BY city HAVING COUNT(*)  >  3)
预测SQL216： SELECT t1.country ,  t3.name ,  COUNT(*) FROM routes as t1 JOIN airports as t2 ON t1.rid  =  t2.rid JOIN airlines as t3 ON t1.alid  =  t3.alid GROUP BY t1.country ,  t3.name
预测SQL217： SELECT t1.name ,  COUNT(*) FROM airports as t1 JOIN routes as t2 ON t1.apid  =  t2.src_apid GROUP BY t1.name ORDER BY COUNT(*) DESC
预测SQL218： SELECT name ,  city ,  country FROM airports ORDER BY elevation DESC LIMIT 1
预测SQL219： SELECT t1.name ,  t1.city FROM airports as t1 JOIN routes as t2 ON t1.apid  =  t2.src_apid GROUP BY t1.name ORDER BY COUNT(*) DESC LIMIT 1
预测SQL220： SELECT t1.name ,  COUNT(*) FROM airports as t1 JOIN routes as t2 ON t1.apid  =  t2.src_apid GROUP BY t1.name
预测SQL221： SELECT name ,  city ,  country FROM airports ORDER BY elevation LIMIT 1
预测SQL222： SELECT COUNT(*) FROM files as t1 JOIN song as t2 ON t1.f_id  =  t2.f_id WHERE t1.duration LIKE "4:%"
预测SQL223： SELECT song_name FROM song WHERE rating  <  (SELECT MIN(rating) FROM song WHERE languages  =  'english')
预测SQL224： SELECT AVG(t2.rating) FROM artist as t1 JOIN song as t2 ON t1.artist_name  =  t2.artist_name WHERE t1.gender  =  "Female"
预测SQL225： SELECT song_name FROM song ORDER BY resolution
预测SQL226： SELECT song_name FROM song ORDER BY resolution
预测SQL227： SELECT artist_name FROM artist WHERE country  =  "British" AND gender  =  "Male"
预测SQL228： SELECT AVG(rating) ,  AVG(resolution) FROM song WHERE languages  =  "bangla"
预测SQL229： SELECT f_id FROM files ORDER BY duration DESC LIMIT 1
预测SQL230： SELECT t2.song_name FROM files as t1 JOIN song as t2 ON t1.f_id  =  t2.f_id WHERE t1.duration LIKE "4:%" UNION SELECT song_name FROM song WHERE languages  =  "english"

预测SQL231： SELECT t1.formats ,  COUNT(DISTINCT t2.artist_name) FROM files as t1 JOIN song as t2 ON t1.f_id  =  t2.f_id GROUP BY t1.formats
预测SQL232： SELECT MAX(home_games) ,  MIN(home_games) ,  AVG(home_games) FROM stadium
预测SQL233： SELECT DISTINCT name FROM medication ORDER BY name
预测SQL234： SELECT t1.name FROM patient as t1 JOIN appointment as t2 ON t1.ssn = t2.patient ORDER BY t2.start DESC LIMIT 1
预测SQL235： SELECT patient FROM undergoes ORDER BY dateundergoes DESC LIMIT 1
预测SQL236： SELECT COUNT(*) FROM patient EXCEPT SELECT t1.patient FROM patient as t1 JOIN prescribes as t2 ON t2.patient  =  t1.ssn JOIN medication as t3 ON t3.code  =  t2.medication WHERE t3.name  =  'Procrastin-X'
预测SQL237： SELECT t1.name ,  COUNT(*) FROM patient as t1 JOIN physician as t2 ON t1.pcp  =  t2.employeeid GROUP BY t1.pcp
预测SQL238： SELECT appointmentid FROM appointment ORDER BY start DESC LIMIT 1
预测SQL239： SELECT t2.name ,  t2.position FROM department as t1 JOIN physician as t2 ON t1.head  =  t2.employeeid GROUP BY departmentid ORDER BY COUNT(departmentid) LIMIT 1
预测SQL240： SELECT t1.name ,  t1.phone FROM patient as t1 JOIN appointment as t2 ON t1.ssn = t2.patient GROUP BY t1.ssn HAVING COUNT(*)  >  1
预测SQL241： SELECT DISTINCT name FROM medication ORDER BY name
预测SQL242： SELECT t1.name ,  t1.phone FROM patient as t1 JOIN appointment as t2 ON t1.ssn = t2.patient GROUP BY t1.ssn HAVING COUNT(*)  >  1
预测SQL243： SELECT AVG(price) FROM wine WHERE appelation NOT IN (SELECT t1.appelation FROM appellations as t1 JOIN wine as t2 ON t1.appelation  =  t2.appelation WHERE t1.county  =  'Sonoma')
预测SQL244： SELECT DISTINCT t2.name FROM grapes as t1 JOIN wine as t2 ON t1.grape  =  t2.grape WHERE t1.color  =  "Red"
预测SQL245： SELECT MAX(t1.price) FROM wine as t1 JOIN appellations as t2 ON t1.appelation  =  t2.appelation WHERE t2.county  =  "Central Coast" AND t1.year  <  2005
预测SQL246： SELECT t2.winery FROM grapes as t1 JOIN wine as t2 ON t1.grape  =  t2.grape WHERE t1.color  =  "White" GROUP BY t2.winery ORDER BY COUNT(*) DESC LIMIT 3
预测SQL247： SELECT t1.name FROM wine as t1 JOIN appellations as t2 ON t1.appelation  =  t2.appelation WHERE t1.price  <  50 AND t2.county  =  "Monterey"
预测SQL248： SELECT name FROM wine WHERE score  >  90
预测SQL249： SELECT DISTINCT name FROM wine WHERE year  <  2000 OR year  >  2010
预测SQL250： SELECT DISTINCT name FROM wine WHERE price  >  (SELECT MIN(price) FROM wine WHERE winery  =  "John Anthony")
预测SQL251： SELECT industry FROM companies WHERE headquarters  =  "USA" INTERSECT SELECT industry FROM companies WHERE headquarters  =  "China"
预测SQL252： SELECT name FROM buildings WHERE id NOT IN (SELECT building_id FROM office_locations)
预测SQL253： SELECT industry FROM companies GROUP BY industry ORDER BY COUNT(*) DESC LIMIT 1
预测SQL254： SELECT name FROM buildings ORDER BY height DESC
预测SQL255： SELECT event_name FROM party_events GROUP BY event_name HAVING COUNT(*)  >  2
预测SQL256： SELECT COUNT(*) FROM region
预测SQL257： SELECT event_name FROM party_events GROUP BY event_name HAVING COUNT(*)  >  2
预测SQL258： SELECT minister ,  party_name FROM party ORDER BY took_office DESC
预测SQL259： SELECT t3.name FROM accelerator_compatible_browser as t1 JOIN web_client_accelerator as t2 ON t1.accelerator_id  =  t2.id JOIN browser as t3 ON t1.browser_id  =  t3.id WHERE t2.name  =  'CProxy' AND t1.compatible_since_year  >  1998
预测SQL260： SELECT t1.purchase_details FROM purchases as t1 JOIN transactions as t2 ON t1.purchase_transaction_id  =  t2.transaction_id WHERE t2.amount_of_transaction  >  10000
预测SQL261： SELECT t3.lot_details FROM transactions as t1 JOIN transactions_lots as t2 ON t1.transaction_id  =  t2.transaction_id JOIN lots as t3 ON t2.lot_id  =  t3.lot_id WHERE t1.share_count  >  100 AND t1.transaction_type_code  =  "PUR"
预测SQL262： SELECT date_of_transaction FROM transactions WHERE transaction_type_code  =  "SALE"
预测SQL263： SELECT investor_id ,  AVG(amount_of_transaction) FROM transactions GROUP BY investor_id
预测SQL264： SELECT school FROM university WHERE founded  <  1850 OR affiliation  =  'Public'
预测SQL265： SELECT founded FROM university WHERE affiliation != 'Public' ORDER BY founded DESC LIMIT 1
预测SQL266： SELECT COUNT(*) FROM university WHERE school_id NOT IN (SELECT school_id FROM basketball_match)
预测SQL267： SELECT AVG(enrollment) FROM university WHERE founded  <  1850
预测SQL268： SELECT COUNT(*) FROM restaurant as t1 JOIN location as t2 ON t1.id  =  t2.restaurant_id WHERE t2.city_name  =  "palo alto" AND t1.food_type  =  "french"
预测SQL269： SELECT t3.house_number  ,  t1.name FROM restaurant as t1 JOIN geographic as t2 ON t1.city_name  =  t2.city_name JOIN location as t3 ON t1.id  =  t3.restaurant_id WHERE t2.region  =  "yosemite and mono lake area" AND t1.food_type  =  "french" AND t1.rating  >  2.5
预测SQL270： SELECT t3.house_number  ,  t1.name FROM restaurant as t1 JOIN geographic as t2 ON t1.city_name  =  t2.city_name JOIN location as t3 ON t1.id  =  t3.restaurant_id WHERE t2.region  =  "bay area" AND t1.rating  >  2.5
预测SQL271： SELECT t2.house_number  ,  t1.name FROM restaurant as t1 JOIN location as t2 ON t1.id  =  t2.restaurant_id WHERE t2.city_name  =  "san francisco" AND t2.street_name  =  "buchanan" AND t1.food_type  =  "arabic" AND t1.rating  >  2.5
预测SQL272： SELECT t2.house_number  ,  t1.name FROM restaurant as t1 JOIN location as t2 ON t1.id  =  t2.restaurant_id WHERE t2.city_name  =  "san francisco" AND t1.name  =  "jamerican cuisine"
预测SQL273： SELECT t2.house_number  ,  t1.name FROM restaurant as t1 JOIN location as t2 ON t1.id  =  t2.restaurant_id WHERE t2.city_name  =  "mountain view" AND t1.food_type  =  "arabic" AND t1.rating  >  2.5
预测SQL274： SELECT t3.house_number  ,  t1.name FROM restaurant as t1 JOIN geographic as t2 ON t1.city_name  =  t2.city_name JOIN location as t3 ON t1.id  =  t3.restaurant_id WHERE t2.region  =  "bay area"
预测SQL275： SELECT t3.house_number  ,  t1.name FROM restaurant as t1 JOIN geographic as t2 ON t1.city_name  =  t2.city_name JOIN location as t3 ON t1.id  =  t3.restaurant_id WHERE t2.region  =  "yosemite and mono lake area" AND t1.food_type  =  "french" AND t1.rating  >  2.5
预测SQL276： SELECT t2.house_number  ,  t1.name FROM restaurant as t1 JOIN location as t2 ON t1.id  =  t2.restaurant_id WHERE t2.city_name  =  "san francisco" AND t1.food_type  =  "french" AND t1.rating  =  ( SELECT MAX(t1.rating) FROM restaurant as t1 JOIN location as t2 ON t1.id  =  t2.restaurant_id WHERE t2.city_name  =  "san francisco" AND t1.food_type  =  "french" )
预测SQL277： SELECT COUNT(DISTINCT t1.name) FROM category as t2 JOIN business as t1 ON t2.business_id  =  t1.business_id JOIN category as t3 ON t3.business_id  =  t1.business_id WHERE t1.city  =  "palo alto" AND t2.category_name  =  "french" AND t3.category_name  =  "restaurant"
预测SQL278： SELECT t2.house_number  ,  t1.name FROM restaurant as t1 JOIN location as t2 ON t1.id  =  t2.restaurant_id WHERE t2.city_name  =  "alameda"
预测SQL279： SELECT t3.house_number  ,  t1.name FROM restaurant as t1 JOIN geographic as t2 ON t1.city_name  =  t2.city_name JOIN location as t3 ON t1.id  =  t3.restaurant_id WHERE t2.region  =  "bay area" AND t1.food_type  =  "american" AND t1.rating  =  ( SELECT MAX(t1.rating) FROM restaurant as t1 JOIN geographic as t2 ON t1.city_name  =  t2.city_name WHERE t2.region  =  "bay area" AND t1.food_type  =  "american" )
预测SQL280： SELECT name ,  email FROM user_profiles WHERE followers  >  1000
预测SQL281： SELECT t1.name FROM user_profiles as t1 JOIN follows as t2 ON t1.uid  =  t2.f1 GROUP BY t1.uid ORDER BY COUNT(*) DESC LIMIT 5
预测SQL282： SELECT t1.name ,  t1.lat ,  MIN(t2.duration) FROM station as t1 JOIN trip as t2 ON t1.id  =  t2.end_station_id GROUP BY t2.end_station_id
预测SQL283： SELECT cloud_cover FROM weather WHERE zip_code  =  94107 GROUP BY cloud_cover ORDER BY COUNT(*) DESC LIMIT 3
预测SQL284： SELECT t1.name ,  t1.id FROM station as t1 JOIN status as t2 ON t1.id  =  t2.station_id GROUP BY t2.station_id HAVING AVG(bikes_available)  >  14 UNION SELECT name ,  id FROM station WHERE installation_date LIKE "12/%"
预测SQL285： SELECT start_station_name ,  start_station_id FROM trip WHERE start_date BETWEEN "8/1/2013" AND "8/31/2013" GROUP BY start_station_name ORDER BY COUNT(*) DESC LIMIT 1

预测SQL286： SELECT t1.id ,  t2.installation_date FROM station as t2 JOIN trip as t1 ON t2.id  =  t1.end_station_id
预测SQL287： SELECT city FROM station ORDER BY city ,  MAX(lat) DESC
预测SQL288： SELECT start_station_id ,  start_station_name FROM trip GROUP BY start_station_name HAVING COUNT(*)  >=  200
预测SQL289： SELECT t1.id ,  t1.name FROM station as t1 JOIN status as t2 ON t1.id  =  t2.station_id WHERE t2.bikes_available  >  12 GROUP BY t1.id HAVING COUNT(*)  >  0
预测SQL290： SELECT COUNT(*) FROM station WHERE city  =  "Mountain View"
预测SQL291： SELECT name ,  lat ,  city FROM station ORDER BY lat LIMIT 1
预测SQL292： SELECT campus FROM campuses WHERE year BETWEEN 1935 AND 1939
预测SQL293： SELECT SUM(faculty) FROM faculty WHERE year  =  2002
预测SQL294： SELECT t2.campusfee FROM campuses as t1 JOIN csu_fees as t2 ON t1.id  =  t2.campus WHERE t1.campus  =  "San Francisco State University" AND t2.year  =  1996
预测SQL295： SELECT campus FROM campuses WHERE year  <  1800
预测SQL296： SELECT COUNT(*) FROM campuses WHERE county  =  "LA"
预测SQL297： SELECT AVG(campusfee) FROM csu_fees WHERE year  =  2005
预测SQL298： SELECT t2.campusfee FROM campuses as t1 JOIN csu_fees as t2 ON t1.id  =  t2.campus WHERE t1.campus  =  "San Jose State University" AND t2.year  =  1996
预测SQL299： SELECT nationality ,  age FROM journalist
预测SQL300： SELECT decor ,  COUNT(*) FROM rooms WHERE bedtype  =  "King" GROUP BY decor
预测SQL301： SELECT decor ,  AVG(baseprice) ,  MIN(baseprice) FROM rooms GROUP BY decor
预测SQL302： SELECT COUNT(*) FROM rooms WHERE roomid NOT IN ( SELECT DISTINCT room FROM reservations )
预测SQL303： SELECT COUNT(*) FROM reservations as t1 JOIN rooms as t2 ON t1.room  =  t2.roomId WHERE t1.adults + t1.kids  =  t2.maxoccupancy
预测SQL304： SELECT t2.roomname FROM reservations as t1 JOIN rooms as t2 ON t1.room  =  t2.roomId WHERE t1.firstname LIKE '%ROY%'
预测SQL305： SELECT roomname FROM rooms WHERE bedtype  =  "King" UNION SELECT roomname FROM rooms WHERE bedtype  =  "Queen"
预测SQL306： SELECT roomname FROM rooms ORDER BY maxoccupancy DESC LIMIT 1
预测SQL307： SELECT t2.title FROM authorship as t1 JOIN papers as t2 ON t1.paperid  =  t2.paperid GROUP BY t1.paperid ORDER BY COUNT(*) DESC LIMIT 1
预测SQL308： SELECT COUNT(DISTINCT t2.title) FROM authorship as t1 JOIN papers as t2 ON t1.paperid  =  t2.paperid JOIN inst as t3 ON t1.instid  =  t3.instid WHERE t3.name  =  "University of Pennsylvania"
预测SQL309： SELECT DISTINCT t3.name FROM authors as t1 JOIN authorship as t2 ON t1.authid  =  t2.authid JOIN inst as t3 ON t2.instid  =  t3.instid WHERE  t1.fname  =  "Katsuhiro" AND t1.lname  =  "Ueno"
预测SQL310： SELECT title FROM papers WHERE title LIKE "%ML%"
预测SQL311： SELECT t1.fname ,  t1.lname FROM authors as t1 JOIN authorship as t2 ON t1.authid  =  t2.authid JOIN inst as t3 ON t2.instid  =  t3.instid WHERE t3.name  =  "Google"
预测SQL312： SELECT DISTINCT COUNT(DISTINCT t2.paperid) FROM writes as t2 JOIN paper as t1 ON t2.paperid  =  t1.paperid WHERE t1.title  =  "Atsushi Ohori"
预测SQL313： SELECT name ,  num_of_component FROM furniture ORDER BY num_of_component ASC LIMIT 1
预测SQL314： SELECT COUNT(*) FROM person WHERE age  >  (SELECT MIN(age) FROM person WHERE job  =  'engineer')
预测SQL315： SELECT age FROM person WHERE job  =  'doctor' AND name  =  'Zach'
预测SQL316： SELECT t2.friend FROM person as t1 JOIN personFriend as t2 ON t1.name  =  t2.name WHERE t1.name  =  'Bob'
预测SQL317： SELECT t1.name ,  t1.age ,  t1.job FROM person as t1 JOIN personFriend as t2 ON t1.name  =  t2.name WHERE t2.friend =  'Alice' AND t2.year  =  (SELECT MAX(year) FROM personFriend WHERE friend =  'Alice')
预测SQL318： SELECT name FROM person WHERE job  =  'student' AND age  =  (SELECT MAX(age) FROM person WHERE job  =  'student')
预测SQL319： SELECT name FROM person EXCEPT SELECT t2.name FROM person as t1 JOIN personFriend as t2 ON t1.name  =  t2.friend WHERE t1.job  =  'student'
预测SQL320： SELECT t1.name FROM person as t1 JOIN personFriend as t2 ON t1.name  =  t2.name GROUP BY t1.name HAVING COUNT(*)  =  1
预测SQL321： SELECT name FROM person WHERE gender  =  'male' AND age  =  (SELECT MIN(age) FROM person WHERE gender  =  'male')
预测SQL322： SELECT t1.interaction_type FROM medicine_enzyme_interaction as t1 JOIN enzyme as t2 ON t1.enzyme_id  =  t2.id JOIN medicine as t3 ON t1.medicine_id  =  t3.id WHERE t2.name  =  'ALA synthase' AND t3.name  =  'Aripiprazole'
预测SQL323： SELECT t2.id ,  t2.name ,  t2.fda_approved FROM medicine_enzyme_interaction as t1 JOIN medicine as t2 ON t1.medicine_id  =  t2.id GROUP BY t2.id ORDER BY COUNT(*) DESC
预测SQL324： SELECT t2.id ,  t2.trade_name FROM medicine_enzyme_interaction as t1 JOIN medicine as t2 ON t1.medicine_id  =  t2.id GROUP BY t1.medicine_id HAVING COUNT(*)  >=  3
预测SQL325： SELECT name FROM enzyme ORDER BY name DESC
预测SQL326： SELECT apt_number FROM apartments ORDER BY room_count ASC
预测SQL327： SELECT building_short_name FROM apartment_buildings WHERE building_manager	 =  "Emma"
预测SQL328： SELECT t2.apt_number ,  t1.booking_start_date ,  t1.booking_start_date FROM apartment_bookings as t1 JOIN apartments as t2 ON t1.apt_id  =  t2.apt_id
预测SQL329： SELECT t2.guest_first_name ,  t1.booking_start_date ,  t1.booking_start_date FROM apartment_bookings as t1 JOIN guests as t2 ON t1.guest_id  =  t2.guest_id
预测SQL330： SELECT t2.guest_first_name ,  t2.guest_last_name FROM apartment_bookings as t1 JOIN guests as t2 ON t1.guest_id  =  t2.guest_id WHERE t1.booking_status_code  =  "Confirmed"
预测SQL331： SELECT 	booking_status_code ,  COUNT(*) FROM apartment_bookings GROUP BY booking_status_code
预测SQL332： SELECT t1.building_address FROM apartment_buildings as t1 JOIN apartments as t2 ON t1.building_id  =  t2.building_id WHERE t2.bathroom_count  >  2
预测SQL333： SELECT t2.guest_first_name ,  t1.booking_start_date ,  t1.booking_start_date FROM apartment_bookings as t1 JOIN guests as t2 ON t1.guest_id  =  t2.guest_id
预测SQL334： SELECT bname FROM bank WHERE state  =  'New York'
预测SQL335： SELECT t1.cust_name ,  t1.acc_bal FROM customer as t1 JOIN loan as t2 ON t1.cust_id  =  t2.cust_id GROUP BY t1.cust_name HAVING SUM(t2.amount)  >  5000
预测SQL336： SELECT acc_type ,  AVG(acc_bal) FROM customer WHERE credit_score  <  50 GROUP BY acc_type
预测SQL337： SELECT DISTINCT t1.bname FROM bank as t1 JOIN loan as t2 ON t1.branch_id  =  t2.branch_id JOIN customer as t3 ON t2.cust_id  =  t3.cust_id WHERE t3.credit_score  <  100
预测SQL338： SELECT cust_name FROM customer EXCEPT SELECT cust_name FROM customer WHERE acc_type  =  'saving'
预测SQL339： SELECT cust_name FROM customer WHERE acc_type  =  'savings' INTERSECT SELECT cust_name FROM customer WHERE acc_type  =  'checking'
预测SQL340： SELECT SUM(amount) ,  branch_id FROM loan GROUP BY branch_id
预测SQL341： SELECT COUNT(*) FROM bank
预测SQL342： SELECT open_date ,  open_year FROM shop WHERE shop_name  =  "Apple"
预测SQL343： SELECT t2.carrier FROM stock as t1 JOIN device as t2 ON t1.device_id  =  t2.device_id GROUP BY t1.device_id HAVING COUNT(*)  >  1
预测SQL344： SELECT shop_name ,  location FROM shop ORDER BY shop_name ASC
预测SQL345： SELECT carrier FROM device ORDER BY carrier ASC
预测SQL346： SELECT name ,  flag FROM ship WHERE ship_id NOT IN (SELECT ship_id FROM captain WHERE rank  =  'Midshipman')
预测SQL347： SELECT flag FROM ship GROUP BY flag ORDER BY COUNT(*) DESC LIMIT 1
预测SQL348： SELECT t1.name FROM ship as t1 JOIN captain as t2 ON t1.ship_id  =  t2.ship_id WHERE t2.rank  =  'Midshipman' INTERSECT SELECT t1.name FROM ship as t1 JOIN captain as t2 ON t1.ship_id  =  t2.ship_id WHERE t2.rank  =  'Lieutenant'
预测SQL349： SELECT COUNT(*) ,  rank FROM captain WHERE age  <  50 GROUP BY rank
预测SQL350： SELECT COUNT(*) FROM program
预测SQL351： SELECT t1.name FROM channel as t1 JOIN broadcast as t2 ON t1.channel_id  =  t2.channel_id WHERE t2.time_of_day  =  'Morning' INTERSECT SELECT t1.name FROM channel as t1 JOIN broadcast as t2 ON t1.channel_id  =  t2.channel_id WHERE t2.time_of_day  =  'Night'
预测SQL352： SELECT origin FROM program ORDER BY origin ASC
预测SQL353： SELECT name FROM channel WHERE owner  =  'CCTV' OR owner  =  'HBS'
预测SQL354： SELECT t2.party FROM election as t1 JOIN representative as t2 ON t1.representative_id  =  t2.representative_id ORDER BY t1.votes LIMIT 1
预测SQL355： SELECT state FROM representative GROUP BY state HAVING COUNT(*)  >=  2

预测SQL356： SELECT t2.hardware_model_name FROM chip_model as t1 JOIN phone as t2 ON t1.model_name  =  t2.chip_model JOIN screen_mode as t3 ON t3.graphics_mode  =  t2.screen_mode WHERE t3.type  =  "Text" OR t1.ram_mib  >  32
预测SQL357： SELECT t2.hardware_model_name ,  t2.company_name FROM chip_model as t1 JOIN phone as t2 ON t1.model_name  =  t2.chip_model WHERE t1.launch_year  =  2002 OR t1.ram_mib  >  32
预测SQL358： SELECT t2.name FROM repair_assignment as t1 JOIN technician as t2 ON t1.technician_id  =  t2.technician_id JOIN machine as t3 ON t1.machine_id  =  t3.machine_id ORDER BY t3.quality_rank
预测SQL359： SELECT name FROM technician ORDER BY age ASC
预测SQL360： SELECT COUNT(*) FROM technician
预测SQL361： SELECT t2.author FROM acceptance as t1 JOIN submission as t2 ON t1.submission_id  =  t2.submission_id GROUP BY t2.author HAVING COUNT(DISTINCT t1.workshop_id)  >  1
预测SQL362： SELECT college FROM submission WHERE scores  >  90 INTERSECT SELECT college FROM submission WHERE scores  <  80
预测SQL363： SELECT DISTINCT t1.author FROM submission as t1 JOIN college as t2 ON t1.college  =  t2.college_id WHERE t2.college  =  "Florida" OR t2.college  =  "Temple"
预测SQL364： SELECT t1.cmi_cross_ref_id ,  t1.source_system_code FROM cmi_cross_references as t1 JOIN council_tax as t2 ON t1.cmi_cross_ref_id  =  t2.cmi_cross_ref_id GROUP BY t1.cmi_cross_ref_id HAVING COUNT(*)  >=  1
预测SQL365： SELECT product FROM product WHERE max_page_size  =  "A4" AND pages_per_minute_color  <  5
预测SQL366： SELECT district_name FROM district ORDER BY city_area ASC LIMIT 1
预测SQL367： SELECT district_name FROM district ORDER BY city_area ASC LIMIT 1
预测SQL368： SELECT district_name ,  city_population FROM district WHERE city_population BETWEEN 200000 AND 2000000
预测SQL369： SELECT t2.company ,  COUNT(*) FROM station_company as t1 JOIN company as t2 ON t1.company_id  =  t2.company_id GROUP BY t1.company_id
预测SQL370： SELECT headquarters FROM company WHERE main_industry  =  'Banking' GROUP BY headquarters HAVING COUNT(*)  >=  2
预测SQL371： SELECT rank ,  name ,  market_value_billion FROM companies WHERE industry  =  'Banking' ORDER BY sales_billion ,  profits_billion
预测SQL372： SELECT headquarters ,  COUNT(*) FROM companies GROUP BY headquarters
预测SQL373： SELECT name FROM artwork WHERE artwork_id NOT IN (SELECT artwork_id FROM nomination)
预测SQL374： SELECT festival_name FROM festival_detail WHERE year  =  2007
预测SQL375： SELECT type FROM institution WHERE founded  >  1990 AND enrollment  >=  1000
预测SQL376： SELECT t1.name ,  COUNT(*) FROM building as t1 JOIN institution as t2 ON t1.building_id  =  t2.building_id GROUP BY t1.building_id
预测SQL377： SELECT t1.name ,  t1.area ,  t1.population FROM country as t1 JOIN roller_coaster as t2 ON t1.country_id  =  t2.country_id WHERE t2.speed  >  100 GROUP BY t1.name HAVING COUNT(*)  >=  2
预测SQL378： SELECT service_type_code FROM services ORDER BY service_type_code ASC
预测SQL379： SELECT name ,  built_year FROM mill WHERE type  =  'Grondzeiler'
预测SQL380： SELECT railway_id ,  builder FROM railway GROUP BY builder ORDER BY COUNT(*) DESC LIMIT 1
预测SQL381： SELECT objectnumber FROM railway WHERE railway_id NOT IN (SELECT railway_id FROM train)
预测SQL382： SELECT price FROM publication WHERE publisher  =  "Person" OR publisher  =  "Wiley"
预测SQL383： SELECT publisher ,  COUNT(*) FROM publication GROUP BY publisher

In [11]:
new_df['generated_query'] = predict_list
new_df.to_csv("generated_SQL_GLM4_CNFilter.csv", index=False)

In [12]:
def append_string_to_file(text, file_path):
    with open(file_path, 'a') as file:
        file.write(text + '\n')

def remove_spaces(text):
    return re.sub(r'\s+', ' ', text)

In [13]:
for index, row in new_df.iterrows():
    print(f"Processing the {index}th rows")
    if pd.isna(row['generated_query']):
        print(row['generated_query'])
        sql_query = input("give me the correct SQL query")
        sql_query = remove_spaces(sql_query)
        append_string_to_file(sql_query, "Predicted_filter.txt")
        append_string_to_file(row['reference_query'] + "\t" + row['db_id'], "Gold.txt")
    elif row['generated_query'][:6] == "SELECT":
        append_string_to_file(remove_spaces(row['generated_query']), "Predicted_filter.txt")
        append_string_to_file(row['reference_query'] + "\t" + row['db_id'], "Gold.txt")
    else:
        print(row['generated_query'])
        sql_query = input("give me the correct SQL query")
        sql_query = remove_spaces(sql_query)
        append_string_to_file(sql_query, "Predicted_filter.txt")
        append_string_to_file(row['reference_query'] + "\t" + row['db_id'], "Gold.txt")

Processing the 0th rows
Processing the 1th rows
Processing the 2th rows
Processing the 3th rows
Processing the 4th rows
Processing the 5th rows
Processing the 6th rows
Processing the 7th rows
Processing the 8th rows
Processing the 9th rows
Processing the 10th rows
Processing the 11th rows
Processing the 12th rows
Processing the 13th rows
Processing the 14th rows
Processing the 15th rows
Processing the 16th rows
Processing the 17th rows
Processing the 18th rows
Processing the 19th rows
Processing the 20th rows
Processing the 21th rows
Processing the 22th rows
Processing the 23th rows
Processing the 24th rows
Processing the 25th rows
Processing the 26th rows
Processing the 27th rows
Processing the 28th rows
Processing the 29th rows
Processing the 30th rows
Processing the 31th rows
Processing the 32th rows
Processing the 33th rows
Processing the 34th rows
Processing the 35th rows
Processing the 36th rows
Processing the 37th rows
Processing the 38th rows
Processing the 39th rows
Processing the 40th rows
Processing the 41th rows
Processing the 42th rows
Processing the 43th rows
Processing the 44th rows
Processing the 45th rows
Processing the 46th rows
Processing the 47th rows
Processing the 48th rows
Processing the 49th rows
Processing the 50th rows
Processing the 51th rows
Processing the 52th rows
Processing the 53th rows
Processing the 54th rows
Processing the 55th rows
Processing the 56th rows
Processing the 57th rows
Processing the 58th rows
Processing the 59th rows
Processing the 60th rows
Processing the 61th rows
Processing the 62th rows
Processing the 63th rows
Processing the 64th rows
Processing the 65th rows
Processing the 66th rows
Processing the 67th rows
Processing the 68th rows
Processing the 69th rows
Processing the 70th rows
Processing the 71th rows
Processing the 72th rows
Processing the 73th rows
Processing the 74th rows
Processing the 75th rows
Processing the 76th rows
Processing the 77th rows
Processing the 78th rows
Processing the 79th rows
Processing the 80th rows
Processing the 81th rows
Processing the 82th rows
Processing the 83th rows
Processing the 84th rows
Processing the 85th rows
Processing the 86th rows
Processing the 87th rows
Processing the 88th rows
Processing the 89th rows
Processing the 90th rows
Processing the 91th rows
Processing the 92th rows
Processing the 93th rows
Processing the 94th rows
Processing the 95th rows
Processing the 96th rows
Processing the 97th rows
Processing the 98th rows
Processing the 99th rows
Processing the 100th rows
Processing the 101th rows
Processing the 102th rows
Processing the 103th rows
Processing the 104th rows
Processing the 105th rows
Processing the 106th rows
Processing the 107th rows
Processing the 108th rows
Processing the 109th rows
Processing the 110th rows
Processing the 111th rows
Processing the 112th rows
Processing the 113th rows
Processing the 114th rows
Processing the 115th rows
Processing the 116th rows
Processing the 117th rows
Processing the 118th rows
Processing the 119th rows
Processing the 120th rows
Processing the 121th rows
Processing the 122th rows
Processing the 123th rows
Processing the 124th rows
Processing the 125th rows
Processing the 126th rows
Processing the 127th rows
Processing the 128th rows
Processing the 129th rows
Processing the 130th rows
Processing the 131th rows
Processing the 132th rows
Processing the 133th rows
Processing the 134th rows
Processing the 135th rows
Processing the 136th rows
Processing the 137th rows
Processing the 138th rows
Processing the 139th rows
Processing the 140th rows
Processing the 141th rows
Processing the 142th rows
Processing the 143th rows
Processing the 144th rows
Processing the 145th rows
Processing the 146th rows
Processing the 147th rows
Processing the 148th rows
Processing the 149th rows
Processing the 150th rows
Processing the 151th rows
Processing the 152th rows
Processing the 153th rows
Processing the 154th rows
Processing the 155th rows
Processing the 156th rows
Processing the 157th rows
Processing the 158th rows
Processing the 159th rows
Processing the 160th rows
Processing the 161th rows
Processing the 162th rows
Processing the 163th rows
Processing the 164th rows
Processing the 165th rows
Processing the 166th rows
Processing the 167th rows
Processing the 168th rows
Processing the 169th rows
Processing the 170th rows
Processing the 171th rows
Processing the 172th rows
Processing the 173th rows
Processing the 174th rows
Processing the 175th rows
Processing the 176th rows
Processing the 177th rows
Processing the 178th rows
Processing the 179th rows
Processing the 180th rows
Processing the 181th rows
Processing the 182th rows
Processing the 183th rows
Processing the 184th rows
Processing the 185th rows
Processing the 186th rows
Processing the 187th rows
Processing the 188th rows
Processing the 189th rows
Processing the 190th rows
Processing the 191th rows
Processing the 192th rows
Processing the 193th rows
Processing the 194th rows
Processing the 195th rows
Processing the 196th rows
Processing the 197th rows
Processing the 198th rows
Processing the 199th rows
Processing the 200th rows
Processing the 201th rows
Processing the 202th rows
Processing the 203th rows
Processing the 204th rows
Processing the 205th rows
Processing the 206th rows
Processing the 207th rows
Processing the 208th rows
Processing the 209th rows
Processing the 210th rows
Processing the 211th rows
Processing the 212th rows
Processing the 213th rows
Processing the 214th rows
Processing the 215th rows
Processing the 216th rows
Processing the 217th rows
Processing the 218th rows
Processing the 219th rows
Processing the 220th rows
Processing the 221th rows
Processing the 222th rows
Processing the 223th rows
Processing the 224th rows
Processing the 225th rows
Processing the 226th rows
Processing the 227th rows
Processing the 228th rows
Processing the 229th rows
Processing the 230th rows
Processing the 231th rows
Processing the 232th rows
Processing the 233th rows
Processing the 234th rows
Processing the 235th rows
Processing the 236th rows
Processing the 237th rows
Processing the 238th rows
Processing the 239th rows
Processing the 240th rows
Processing the 241th rows
Processing the 242th rows
Processing the 243th rows
Processing the 244th rows
Processing the 245th rows
Processing the 246th rows
Processing the 247th rows
Processing the 248th rows
Processing the 249th rows
Processing the 250th rows
Processing the 251th rows
Processing the 252th rows
Processing the 253th rows
Processing the 254th rows
Processing the 255th rows
Processing the 256th rows
Processing the 257th rows
Processing the 258th rows
Processing the 259th rows
Processing the 260th rows
Processing the 261th rows
Processing the 262th rows
Processing the 263th rows
Processing the 264th rows
Processing the 265th rows
Processing the 266th rows
Processing the 267th rows
Processing the 268th rows
Processing the 269th rows
Processing the 270th rows
Processing the 271th rows
Processing the 272th rows
Processing the 273th rows
Processing the 274th rows
Processing the 275th rows
Processing the 276th rows
Processing the 277th rows
Processing the 278th rows
Processing the 279th rows
Processing the 280th rows
Processing the 281th rows
Processing the 282th rows
Processing the 283th rows
Processing the 284th rows
Processing the 285th rows
Processing the 286th rows
Processing the 287th rows
Processing the 288th rows
Processing the 289th rows
Processing the 290th rows
Processing the 291th rows
Processing the 292th rows
Processing the 293th rows
Processing the 294th rows
Processing the 295th rows
Processing the 296th rows
Processing the 297th rows
Processing the 298th rows
Processing the 299th rows
Processing the 300th rows
Processing the 301th rows
Processing the 302th rows
Processing the 303th rows
Processing the 304th rows
Processing the 305th rows
Processing the 306th rows
Processing the 307th rows
Processing the 308th rows
Processing the 309th rows
Processing the 310th rows
Processing the 311th rows
Processing the 312th rows
Processing the 313th rows
Processing the 314th rows
Processing the 315th rows
Processing the 316th rows
Processing the 317th rows
Processing the 318th rows
Processing the 319th rows
Processing the 320th rows
Processing the 321th rows
Processing the 322th rows
Processing the 323th rows
Processing the 324th rows
Processing the 325th rows
Processing the 326th rows
Processing the 327th rows
Processing the 328th rows
Processing the 329th rows
Processing the 330th rows
Processing the 331th rows
Processing the 332th rows
Processing the 333th rows
Processing the 334th rows
Processing the 335th rows
Processing the 336th rows
Processing the 337th rows
Processing the 338th rows
Processing the 339th rows
Processing the 340th rows
Processing the 341th rows
Processing the 342th rows
Processing the 343th rows
Processing the 344th rows
Processing the 345th rows
Processing the 346th rows
Processing the 347th rows
Processing the 348th rows
Processing the 349th rows
Processing the 350th rows
Processing the 351th rows
Processing the 352th rows
Processing the 353th rows
Processing the 354th rows
Processing the 355th rows
Processing the 356th rows
Processing the 357th rows
Processing the 358th rows
Processing the 359th rows
Processing the 360th rows
Processing the 361th rows
Processing the 362th rows
Processing the 363th rows
Processing the 364th rows
Processing the 365th rows
Processing the 366th rows
Processing the 367th rows
Processing the 368th rows
Processing the 369th rows
Processing the 370th rows
Processing the 371th rows
Processing the 372th rows
Processing the 373th rows
Processing the 374th rows
Processing the 375th rows
Processing the 376th rows
Processing the 377th rows
Processing the 378th rows
Processing the 379th rows
Processing the 380th rows
Processing the 381th rows
Processing the 382th rows