In [1]:
import torch
from peft import AutoPeftModelForCausalLM
from transformers import AutoModelForCausalLM, AutoTokenizer
import pandas as pd

/home/vipuser/anaconda3/envs/GLM4/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
model_path = '/home/LLM_para/para_glm4'
# lora_path = './final_checkpoint_newS_SFT_SQL_CN_TV'
lora_path = './final_checkpoint_dataset1_SQL'
# lora_path = './final_checkpoint_newS_SFT_SQL_CN_TV'
val_dataset_path = "./mydataset2_SQL/T2Q_GLM4_SFT_val_sql.jsonl"

In [3]:
model = AutoPeftModelForCausalLM.from_pretrained(
        lora_path, trust_remote_code= True, device_map='auto')

Loading checkpoint shards: 100%|████████████████████████████████████████████████████████| 10/10 [00:06<00:00,  1.52it/s]

In [4]:
tokenizer = AutoTokenizer.from_pretrained(model_path, trust_remote_code=True)

Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

In [5]:
test_df = pd.read_json(val_dataset_path, lines=True)
print(test_df)

                                           instruction  \
0     I want you to act as a SQL terminal in front ...
1     I want you to act as a SQL terminal in front ...
2     I want you to act as a SQL terminal in front ...
3     I want you to act as a SQL terminal in front ...
4     I want you to act as a SQL terminal in front ...
..                                                 ...
173   I want you to act as a SQL terminal in front ...
174   I want you to act as a SQL terminal in front ...
175   I want you to act as a SQL terminal in front ...
176   I want you to act as a SQL terminal in front ...
177   I want you to act as a SQL terminal in front ...

                                                 input  \
0    Find number of products which Sony does not make.
1       How many products have prices of at least 180?
2    Find the name, headquarter and revenue of all ...
3             How many companies were created by Andy?
4    Find the name of companies whose revenue is be...
..                                                 ...
173  What are the names and year of construction fo...
174  Show different builders of railways, along wit...
175     List the wheels and locations of the railways.
176        What are the title and issues of the books?
177     Show the title and publication dates of books.

                                                output
0    ```gerenated SQL\n-- SQL: SELECT COUNT(DISTINC...
1    ```gerenated SQL\n-- SQL: SELECT COUNT(*) FROM...
2    ```gerenated SQL\n-- SQL: SELECT name ,  headq...
3    ```gerenated SQL\n-- SQL: SELECT COUNT(*) FROM...
4    ```gerenated SQL\n-- SQL: SELECT name FROM man...
..                                                 ...
173  ```gerenated SQL\n-- SQL: SELECT name ,  built...
174  ```gerenated SQL\n-- SQL: SELECT builder ,  CO...
175  ```gerenated SQL\n-- SQL: SELECT wheels ,  loc...
176  ```gerenated SQL\n-- SQL: SELECT title ,  issu...
177  ```gerenated SQL\n-- SQL: SELECT t1.title ,  t...

[178 rows x 3 columns]

In [6]:
def predict(messages, model, tokenizer):
    device = "cuda"
    text = tokenizer.apply_chat_template(
        messages,
        tokenize=False,
        add_generation_prompt=True
    )
    model_inputs = tokenizer([text], return_tensors="pt").to(device)

    generated_ids = model.generate(
        model_inputs.input_ids,
        max_new_tokens=512
    )
    generated_ids = [
        output_ids[len(input_ids):] for input_ids, output_ids in zip(model_inputs.input_ids, generated_ids)
    ]
    
    response = tokenizer.batch_decode(generated_ids, skip_special_tokens=True)[0]
    
#     print("reponse1++++++++++++++++",response)
     
    return response

In [7]:
import re
pattern = r"-- SQL: (.*?);"
test_df_check = test_df[:1]
print(test_df_check)
test_text_list = []
for index, row in test_df_check.iterrows():
    instruction = row['instruction']
    input_value = row['input']
    messages = [
        {"role": "system", "content": f"{instruction}"},
        {"role": "user", "content": f"{input_value}"}
    ]

    response = predict(messages, model, tokenizer)
    match = re.search(pattern, response, re.DOTALL)
    if match:  
        response = match.group(1).strip() 
    else:
        sql_statement = "None"
    print("预测SQL：",response)
#     if ";" in response:
#         response = response.split(";")[0]
#     if "```SQL:" in response:
# #         print(23)
#         response = response.split("```SQL:")[1]
#     response = re.sub(r'\s+', ' ', response).strip()
# #     print(response)

                                         instruction  \
0   I want you to act as a SQL terminal in front ...

                                               input  \
0  Find number of products which Sony does not make.

                                              output
0  ```gerenated SQL\n-- SQL: SELECT COUNT(DISTINC...
预测SQL： SELECT COUNT(DISTINCT name) FROM products WHERE name NOT IN (SELECT t1.name FROM products as t1 JOIN manufacturers as t2 ON t1.manufacturer  =  t2.code WHERE t2.name  =  'Sony')

In [8]:
#  read glod 
from tqdm import tqdm
# 录入db_id query用于glod  第一次使用需要
# df = pd.read_csv("./mydataset_SQL/validation_dataset_formatted.csv",encoding="GBK")

df = pd.read_csv("./mydataset2_SQL/val_Myidea_tableOnly.csv",encoding="utf-8")
results = []
for index, row in tqdm(df.iterrows(), total=len(df)):
    results.append([row['query'],row['question'],row['db_id']])
new_df = pd.DataFrame(results, columns = ['reference_query','question','db_id'])
print(new_df)

100%|██████████████████████████████████████████████████████████████████████████████| 178/178 [00:00<00:00, 18331.03it/s]

                                       reference_query  \
0    SELECT COUNT(DISTINCT name) FROM products WHER...
1     SELECT COUNT(*) FROM products WHERE price >= 180
2    SELECT name ,  headquarter ,  revenue FROM man...
3    SELECT COUNT(*) FROM manufacturers WHERE found...
4    SELECT name FROM manufacturers WHERE revenue B...
..                                                 ...
173  SELECT name ,  built_year FROM mill WHERE type...
174  SELECT builder ,  COUNT(*) FROM railway GROUP ...
175             SELECT wheels ,  location FROM railway
176                   SELECT title ,  issues FROM book
177  SELECT t1.title ,  t2.publication_date FROM bo...

                                              question          db_id
0    Find number of products which Sony does not make.  manufactory_1
1       How many products have prices of at least 180?  manufactory_1
2    Find the name, headquarter and revenue of all ...  manufactory_1
3             How many companies were created by Andy?  manufactory_1
4    Find the name of companies whose revenue is be...  manufactory_1
..                                                 ...            ...
173  What are the names and year of construction fo...   architecture
174  Show different builders of railways, along wit...        railway
175     List the wheels and locations of the railways.        railway
176        What are the title and issues of the books?         book_2
177     Show the title and publication dates of books.         book_2

[178 rows x 3 columns]

In [9]:
import re
import time
start_time = time.time()
index = 0
pattern = r"-- SQL: (.*?);"
predict_list = []
for index, row in test_df.iterrows():
    index += 1
    instruction = row['instruction']
    input_value = row['input']
    messages = [
        {"role": "system", "content": f"{instruction}"},
        {"role": "user", "content": f"{input_value}"}
    ] 
    response = predict(messages, model, tokenizer)
    response = predict(messages, model, tokenizer)
    match = re.search(pattern, response, re.DOTALL)
    if match:  
        response = match.group(1).strip() 
    else:
        sql_statement = "None"
    print(f"预测SQL{index}：",response)
    predict_list.append(response)
end_time = time.time()
#     messages.append({"role": "assistant", "content": f"{response}"})
#     result_text = f"{messages[0]}\n\n{messages[1]}\n\n{messages[2]}"
#     print(result_text)
    
#     test_text_list.append(swanlab.Text(result_text, caption=response))

预测SQL1： SELECT COUNT(DISTINCT name) FROM products WHERE name NOT IN (SELECT t1.name FROM products as t1 JOIN manufacturers as t2 ON t1.manufacturer  =  t2.code WHERE t2.name  =  'Sony')
预测SQL2： SELECT COUNT(*) FROM products WHERE price  >=  180
预测SQL3： SELECT name ,  headquarter ,  revenue FROM manufacturers ORDER BY revenue DESC
预测SQL4： SELECT COUNT(*) FROM manufacturers WHERE founder  =  'Andy'
预测SQL5： SELECT name FROM manufacturers WHERE revenue BETWEEN 100 AND 150
预测SQL6： SELECT t1.name FROM manufacturers as t1 JOIN products as t2 ON t1.code  =  t2.manufacturer GROUP BY t1.name HAVING AVG(t2.price) >= 150
预测SQL7： SELECT name FROM manufacturers WHERE revenue  >  (SELECT AVG(revenue) FROM manufacturers)
预测SQL8： SELECT name FROM products WHERE price  <=  200
预测SQL9： SELECT t2.fname ,  t2.age FROM sportsinfo as t1 JOIN student as t2 ON t1.stuid  =  t2.stuid WHERE t1.sportname  =  "Football" INTERSECT SELECT t2.fname ,  t2.age FROM sportsinfo as t1 JOIN student as t2 ON t1.stuid  =  t2.stuid WHERE t1.sportname  =  "Lacrosse"
预测SQL10： SELECT gname FROM plays_games as t1 JOIN video_games as t2 ON t1.gameid  =  t2.gameid GROUP BY t1.gameid HAVING SUM(hours_played)  >=  1000
预测SQL11： SELECT COUNT(*) FROM video_games WHERE gtype  =  "Massively multiplayer online game"
预测SQL12： SELECT COUNT(*) FROM video_games
预测SQL13： SELECT COUNT(DISTINCT gtype) FROM video_games
预测SQL14： SELECT SUM(hoursperweek) ,  SUM(gamesplayed) FROM sportsinfo WHERE stuid  =  (SELECT stuid FROM student WHERE firstname  =  "David" AND lastname  =  "Shieber")
预测SQL15： SELECT stuid FROM student EXCEPT SELECT stuid FROM plays_games
预测SQL16： SELECT stuid FROM student EXCEPT SELECT stuid FROM sportsinfo
预测SQL17： SELECT nominee FROM musical WHERE award  =  "Tony award" INTERSECT SELECT nominee FROM musical WHERE award  =  "Drama Desk award"
预测SQL18： SELECT t2.name ,  COUNT(*) FROM actor as t1 JOIN musical as t2 ON t1.musical_id  =  t2.musical_id GROUP BY t1.musical_id
预测SQL19： SELECT name FROM musical WHERE musical_id NOT IN (SELECT musical_id FROM actor)
预测SQL20： SELECT t2.name FROM actor as t1 JOIN musical as t2 ON t1.musical_id  =  t2.musical_id GROUP BY t1.musical_id HAVING COUNT(*)  >=  3
预测SQL21： SELECT t2.name ,  t1.investor FROM entrepreneur as t1 JOIN people as t2 ON t1.people_id  =  t2.people_id ORDER BY t1.money_requested DESC
预测SQL22： SELECT t2.name FROM entrepreneur as t1 JOIN people as t2 ON t1.people_id  =  t2.people_id ORDER BY t2.weight DESC LIMIT 1
预测SQL23： SELECT name FROM people ORDER BY weight ASC
预测SQL24： SELECT COUNT(DISTINCT company) FROM architect
预测SQL25： SELECT t1.name FROM tourist_attractions as t1 JOIN visits as t2 ON t1.tourist_attraction_id  =  t2.tourist_attraction_id JOIN visitors as t3 ON t3.tourist_id  =  t2.tourist_id WHERE t3.tourist_details  =  "Vincent" INTERSECT SELECT t1.name FROM tourist_attractions as t1 JOIN visits as t2 ON t1.tourist_attraction_id  =  t2.tourist_attraction_id JOIN visitors as t3 ON t3.tourist_id  =  t2.tourist_id WHERE t3.tourist_details  =  "Marcelle"
预测SQL26： SELECT DISTINCT visit_date FROM visits
预测SQL27： SELECT t2.name FROM locations as t1 JOIN tourist_attractions as t2 ON t1.location_id  =  t2.location_id WHERE t1.address  =  "660 Shea Crescent" OR t2.how_to_get_there  =  "walk"
预测SQL28： SELECT how_to_get_there FROM tourist_attractions GROUP BY how_to_get_there ORDER BY COUNT(*) DESC LIMIT 1
预测SQL29： SELECT t1.museum_details ,  t2.opening_hours FROM museums as t1 JOIN tourist_attractions as t2 ON t1.museum_id  =  t2.tourist_attraction_id
预测SQL30： SELECT t2.name FROM locations as t1 JOIN tourist_attractions as t2 ON t1.location_id  =  t2.location_id WHERE t1.address  =  "254 Ottilie Junction" OR t2.how_to_get_there  =  "bus"
预测SQL31： SELECT COUNT(DISTINCT name) FROM photos
预测SQL32： SELECT t1.name FROM staff as t1 JOIN tourist_attractions as t2 ON t1.tourist_attraction_id  =  t2.tourist_attraction_id WHERE t2.name  =  "US museum"
预测SQL33： SELECT team FROM elimination GROUP BY team HAVING COUNT(*)  >  3
预测SQL34： SELECT location FROM wrestler GROUP BY location HAVING COUNT(*)  >  2
预测SQL35： SELECT COUNT(*) FROM wrestler
预测SQL36： SELECT COUNT(DISTINCT team) FROM elimination
预测SQL37： SELECT COUNT(DISTINCT t2.text) FROM user as t1 JOIN tip as t2 ON t1.user_id  =  t2.user_id WHERE t1.name  =  "Michelle" AND t2.year  =  2010
预测SQL38： SELECT t3.name FROM review as t2 JOIN business as t1 ON t2.business_id  =  t1.business_id JOIN user as t3 ON t3.user_id  =  t2.user_id WHERE t1.name  =  "Mesa Grill"
预测SQL39： SELECT COUNT(DISTINCT t3.name) FROM category as t2 JOIN business as t1 ON t2.business_id  =  t1.business_id JOIN review as t3 ON t3.business_id  =  t1.business_id JOIN user as t4 ON t4.user_id  =  t3.user_id WHERE t1.name  =  "Vintner Grill" AND t3.year  =  2010 AND t2.category_name  =  "restaurant"
预测SQL40： SELECT t1.neighbourhood_name FROM category as t3 JOIN business as t2 ON t3.business_id  =  t2.business_id JOIN neighbourhood as t1 ON t1.business_id  =  t2.business_id WHERE t2.city  =  "Madison" AND t3.category_name  =  "Italian restaurant"
预测SQL41： SELECT COUNT(DISTINCT t1.name) FROM category as t2 JOIN business as t1 ON t2.business_id  =  t1.business_id WHERE t1.city  =  "Madison" AND t2.category_name  =  "escape games"
预测SQL42： SELECT COUNT(DISTINCT t2.text) FROM user as t1 JOIN review as t2 ON t1.user_id  =  t2.user_id WHERE t1.name  =  "Michelle" AND t2.month  =  "March" AND t2.year  =  2014
预测SQL43： SELECT t1.name FROM restaurant as t1 JOIN category as t2 ON t1.food_type  =  t2.category_name WHERE t2.category_name  =  "restaurant" AND t1.city_name  =  "Dallas" AND t1.rating  >  4.5
预测SQL44： SELECT AVG(t2.rating) FROM user as t1 JOIN review as t2 ON t1.user_id  =  t2.user_id WHERE t1.name  =  "Michelle"
预测SQL45： SELECT t1.name FROM review as t2 JOIN business as t1 ON t2.business_id  =  t1.business_id JOIN user as t3 ON t3.user_id  =  t2.user_id WHERE t3.name  =  "Niloofar" AND t2.rating  =  5
预测SQL46： SELECT SUM(t2.likes) FROM user as t1 JOIN tip as t2 ON t1.user_id  =  t2.user_id JOIN business as t3 ON t2.business_id  =  t3.business_id WHERE t1.name  =  "Niloofar" AND t3.name  =  "Cafe Zinho"
预测SQL47： SELECT t2.text FROM review as t2 JOIN business as t1 ON t2.business_id  =  t1.business_id WHERE t1.name  =  "Kabob Palace" AND t2.year  =  2014
预测SQL48： SELECT date_incident_start ,  date_incident_end FROM behavior_incident WHERE incident_type_code  =  "NOISE"
预测SQL49： SELECT MAX(monthly_rental) ,  MIN(monthly_rental) FROM student_addresses
预测SQL50： SELECT gender FROM teachers WHERE last_name  =  "Medhurst"
预测SQL51： SELECT COUNT(DISTINCT teacher_id) FROM detention
预测SQL52： SELECT AVG(gross_in_dollar) FROM film
预测SQL53： SELECT studio FROM film WHERE director  =  "Nicholas Meyer" INTERSECT SELECT studio FROM film WHERE director  =  "Walter Hill"
预测SQL54： SELECT low_estimate ,  high_estimate FROM film_market_estimation
预测SQL55： SELECT studio FROM film EXCEPT SELECT studio FROM film WHERE director = "Walter Hill"
预测SQL56： SELECT t1.catalog_entry_name FROM catalog_contents as t1 JOIN catalog_contents_Additional_Attributes as t2 ON t1.catalog_entry_id  =  t2.catalog_entry_id WHERE t2.attribute_value  =  (SELECT attribute_value FROM catalog_contents_Additional_Attributes GROUP BY attribute_value ORDER BY COUNT(*) DESC LIMIT 1)
预测SQL57： SELECT catalog_level_name ,  catalog_level_number FROM catalog_structure WHERE catalog_level_number BETWEEN 5 AND 10
预测SQL58： SELECT catalog_publisher FROM catalogs WHERE catalog_publisher LIKE "%Murray%"
预测SQL59： SELECT catalog_entry_name FROM catalog_contents ORDER BY price_in_dollars DESC LIMIT 1
预测SQL60： SELECT country ,  COUNT(*) FROM airports GROUP BY country ORDER BY COUNT(*) DESC
预测SQL61： SELECT name ,  city ,  country FROM airports ORDER BY elevation LIMIT 1
预测SQL62： SELECT COUNT(DISTINCT city) FROM airports WHERE country  =  'Greenland'
预测SQL63： SELECT COUNT(*) FROM airlines
预测SQL64： SELECT name ,  city ,  country FROM airports ORDER BY elevation LIMIT 1
预测SQL65： SELECT country ,  COUNT(*) FROM airports GROUP BY country ORDER BY COUNT(*) DESC
预测SQL66： SELECT COUNT(*) FROM airlines WHERE country  =  'Russia'
预测SQL67： SELECT t1.name ,  t2.alid FROM airlines as t1 JOIN routes as t2 ON t1.alid  =  t2.alid GROUP BY t2.alid ORDER BY COUNT(*) DESC LIMIT 10

预测SQL68： SELECT date FROM game ORDER BY home_team DESC
预测SQL69： SELECT t1.name FROM physician as t1 JOIN patient as t2 ON t1.employeeid  =  t2.pcp GROUP BY t1.employeeid HAVING COUNT(*)  >  1
预测SQL70： SELECT department FROM employees GROUP BY department ORDER BY COUNT(department) DESC LIMIT 1
预测SQL71： SELECT name ,  cost FROM procedures ORDER BY cost DESC
预测SQL72： SELECT t3.name FROM procedures as t3 JOIN trained_in as t1 ON t3.code  =  t1.treatment JOIN physician as t2 ON t1.physician  =  t2.employeeid WHERE t2.name  =  "John Wen" AND t3.cost  <  5000
预测SQL73： SELECT t1.name FROM physician as t1 JOIN prescribes as t2 ON t1.employeeid = t2.physician ORDER BY t2.dose DESC LIMIT 1
预测SQL74： SELECT appointmentid FROM appointment ORDER BY start DESC LIMIT 1
预测SQL75： SELECT DISTINCT t1.name FROM nurse as t1 JOIN on_call as t2 ON t1.employeeid  =  t2.nurse
预测SQL76： SELECT name FROM procedures WHERE cost  >  1000 EXCEPT SELECT t3.name FROM physician as t1 JOIN trained_in as t2 ON t1.employeeid  =  t2.physician JOIN procedures as t3 ON t3.code  =  t2.treatment WHERE t1.name  =  "John Wen"
预测SQL77： SELECT t1.name FROM department as t1 JOIN physician as t2 ON t1.departmentid  =  t2.department WHERE t1.departmentid  =  (SELECT departmentid FROM physician GROUP BY departmentid ORDER BY COUNT(departmentid) DESC LIMIT 1)
预测SQL78： SELECT name FROM procedures WHERE cost  >  1000 UNION SELECT t3.name FROM physician as t1 JOIN trained_in as t2 ON t1.employeeid  =  t2.physician JOIN procedures as t3 ON t3.code  =  t2.treatment WHERE t1.name  =  "John Wen"
预测SQL79： SELECT stories FROM buildings ORDER BY height DESC LIMIT 1
预测SQL80： SELECT company FROM company ORDER BY market_value DESC
预测SQL81： SELECT industry FROM companies WHERE headquarters  =  'USA' INTERSECT SELECT industry FROM companies WHERE headquarters  =  'China'
预测SQL82： SELECT name FROM buildings WHERE status  =  "on-hold" ORDER BY stories ASC
预测SQL83： SELECT minister FROM party WHERE party_name != 'Progress Party'
预测SQL84： SELECT minister FROM party WHERE took_office  >  1961 OR left_office  <  1959
预测SQL85： SELECT minister ,  party_name FROM party ORDER BY took_office DESC
预测SQL86： SELECT t2.party_name ,  COUNT(*) FROM party_events as t1 JOIN party as t2 ON t1.party_id  =  t2.party_id GROUP BY t1.party_id
预测SQL87： SELECT t3.name FROM web_client_accelerator as t1 JOIN accelerator_compatible_browser as t2 ON t1.id  =  t2.accelerator_id JOIN browser as t3 ON t2.browser_id  =  t3.id WHERE t1.name  =  'CProxy' AND t2.compatible_since_year  >  1998
预测SQL88： SELECT t2.lot_id ,  AVG(t1.transaction_id) FROM transactions as t1 JOIN transactions_lots as t2 ON t1.transaction_id  =  t2.transaction_id GROUP BY t2.lot_id ORDER BY AVG(t1.transaction_id)
预测SQL89： SELECT investor_details FROM investors
预测SQL90： SELECT t1.lot_details FROM lots as t1 LEFT JOIN transactions_lots as t2 ON t1.lot_id  =  t2.lot_id WHERE t2.lot_id  IS NULL
预测SQL91： SELECT investor_id ,  COUNT(*) FROM transactions WHERE transaction_type_code  =  "SALE" GROUP BY investor_id HAVING COUNT(*)  >  0
预测SQL92： SELECT COUNT(*) ,  affiliation FROM university WHERE enrollment  >  20000 GROUP BY affiliation
预测SQL93： SELECT school FROM university WHERE founded  <  1850 OR affiliation  =  'Public'
预测SQL94： SELECT MAX(enrollment) FROM university
预测SQL95： SELECT t2.team_name ,  t2.acc_regular_season FROM university as t1 JOIN basketball_match as t2 ON t1.school_id  =  t2.school_id ORDER BY t1.founded LIMIT 1
预测SQL96： SELECT t3.house_number  ,  t1.name FROM restaurant as t1 JOIN geographic as t2 ON t1.city_name  =  t2.city_name JOIN location as t3 ON t1.restaurant_id  =  t3.restaurant_id WHERE t2.region  =  "yosemite and mono lake area" AND t1.food_type  =  "french" AND t1.rating  >  2.5
预测SQL97： SELECT t2.house_number  ,  t1.name FROM restaurant as t1 JOIN location as t2 ON t1.id  =  t2.restaurant_id WHERE t2.city_name  =  "san francisco" AND t2.street_name  =  "buchanan" AND t1.food_type  =  "arabic" AND t1.rating  >  2.5
预测SQL98： SELECT t2.name FROM location as t1 JOIN restaurant as t2 ON t1.restaurant_id  =  t2.id JOIN geographic as t3 ON t3.city_name  =  t1.city_name WHERE t3.region  =  "bay area" AND t2.rating  >  2.5
预测SQL99： SELECT t2.house_number  ,  t1.name FROM restaurant as t1 JOIN location as t2 ON t1.id  =  t2.restaurant_id WHERE t2.city_name  =  "mountain view" AND t1.food_type  =  "arabic" AND t1.rating  >  2.5
预测SQL100： SELECT t2.house_number  ,  t1.name FROM restaurant as t1 JOIN location as t2 ON t1.id  =  t2.restaurant_id WHERE t2.city_name  =  "san francisco" AND t1.food_type  =  "french" AND t1.rating  =  ( SELECT MAX(t1.rating) FROM restaurant as t1 JOIN location as t2 ON t1.id  =  t2.restaurant_id WHERE t2.city_name  =  "san francisco" AND t1.food_type  =  "french" )
预测SQL101： SELECT t2.house_number  ,  t1.name FROM restaurant as t1 JOIN location as t2 ON t1.id  =  t2.restaurant_id WHERE t2.city_name  =  "san francisco" AND t1.food_type  =  "jamerican"
预测SQL102： SELECT t2.house_number  ,  t1.name FROM restaurant as t1 JOIN location as t2 ON t1.id  =  t2.restaurant_id WHERE t2.city_name  =  "san francisco" AND t2.street_name  =  "buchanan" AND t1.food_type  =  "arabic"
预测SQL103： SELECT t2.house_number  ,  t1.name FROM restaurant as t1 JOIN location as t2 ON t1.id  =  t2.restaurant_id WHERE t2.city_name  =  "san francisco" AND t1.food_type  =  "french" AND t1.rating  =  ( SELECT MAX(t1.rating) FROM restaurant as t1 JOIN location as t2 ON t1.id  =  t2.restaurant_id WHERE t2.city_name  =  "san francisco" AND t1.food_type  =  "french" )
预测SQL104： SELECT t2.house_number  ,  t1.name FROM restaurant as t1 JOIN location as t2 ON t1.id  =  t2.restaurant_id WHERE t1.food_type  =  "jamerican" AND t2.city_name  =  "san francisco"
预测SQL105： SELECT t3.name FROM restaurant as t3 JOIN geographic as t1 ON t3.city_name  =  t1.city_name JOIN location as t2 ON t3.id  =  t2.restaurant_id WHERE t1.region  =  "bay area" AND t3.food_type  =  "american" AND t3.rating  =  ( SELECT MAX(t3.rating) FROM restaurant as t3 JOIN geographic as t1 ON t3.city_name  =  t1.city_name JOIN location as t2 ON t3.id  =  t2.restaurant_id WHERE t1.region  =  "bay area" AND t3.food_type  =  "american" )
预测SQL106： SELECT t2.house_number  ,  t1.name FROM restaurant as t1 JOIN location as t2 ON t1.id  =  t2.restaurant_id WHERE t2.city_name IN ( SELECT city_name FROM geographic WHERE region  =  "region0" ) AND t1.food_type  =  "american" AND t1.rating  =  ( SELECT MAX(t1.rating) FROM restaurant as t1 JOIN location as t2 ON t1.id  =  t2.restaurant_id WHERE t2.city_name IN ( SELECT city_name FROM geographic WHERE region  =  "region0" ) AND t1.food_type  =  "american" )
预测SQL107： SELECT t2.house_number  ,  t1.name FROM restaurant as t1 JOIN location as t2 ON t1.id  =  t2.restaurant_id WHERE t2.city_name  =  "san francisco" AND t2.street_name  =  "buchanan" AND t1.food_type  =  "arabic" AND t1.rating  >  2.5
预测SQL108： SELECT name FROM user_profiles ORDER BY followers DESC LIMIT 1
预测SQL109： SELECT name ,  followers FROM user_profiles ORDER BY followers DESC
预测SQL110： SELECT date FROM weather WHERE max_temperature_f  >  85
预测SQL111： SELECT zip_code FROM weather GROUP BY zip_code HAVING AVG(mean_humidity)  <  70 INTERSECT SELECT zip_code FROM trip GROUP BY zip_code HAVING COUNT(*)  >=  100
预测SQL112： SELECT t1.id FROM trip as t1 JOIN weather as t2 ON t1.zip_code  =  t2.zip_code GROUP BY t2.zip_code HAVING AVG(t2.mean_temperature_f)  >  60
预测SQL113： SELECT DISTINCT start_station_name FROM trip WHERE duration  <  100
预测SQL114： SELECT t1.id FROM station as t1 JOIN status as t2 ON t1.id  =  t2.station_id WHERE t1.city  =  "San Francisco" GROUP BY t1.id HAVING AVG(t2.bikes_available)  >  10
预测SQL115： SELECT id FROM trip WHERE duration  =  (SELECT AVG(duration) FROM trip WHERE zip_code  =  94103)
预测SQL116： SELECT date FROM weather WHERE zip_code  =  94107 AND events != "Fog" AND events != "Rain"
预测SQL117： SELECT COUNT(DISTINCT city) FROM station
预测SQL118： SELECT t1.name ,  t1.id FROM station as t1 JOIN trip as t2 ON t1.id  =  t2.start_station_id WHERE t2.start_date LIKE "8/%" GROUP BY t2.start_station_id ORDER BY COUNT(*) DESC LIMIT 1
预测SQL119： SELECT t1.id ,  t1.name FROM station as t1 JOIN trip as t2 ON t1.id  =  t2.start_station_id GROUP BY t2.start_station_id HAVING COUNT(*)  >=  200

预测SQL120： SELECT campus FROM campuses WHERE location  =  "Chico"
预测SQL121： SELECT COUNT(*) FROM campuses WHERE county  =  "Los Angeles"
预测SQL122： SELECT COUNT(*) FROM campuses WHERE county  =  "LA"
预测SQL123： SELECT campus FROM campuses WHERE county  =  "Los Angeles"
预测SQL124： SELECT degrees FROM campuses as t1 JOIN degrees as t2 ON t1.id  =  t2.campus WHERE t1.campus  =  "San Jose State University" AND t2.year  =  2000
预测SQL125： SELECT t1.faculty FROM faculty as t1 JOIN campuses as t2 ON t1.campus  =  t2.id WHERE t2.campus  =  "Long Beach State University" AND t1.year  =  2002
预测SQL126： SELECT COUNT(*) FROM campuses
预测SQL127： SELECT nationality FROM journalist GROUP BY nationality ORDER BY COUNT(*) DESC LIMIT 1
预测SQL128： SELECT t3.title FROM authors as t1 JOIN authorship as t2 ON t1.authid  =  t2.authid JOIN papers as t3 ON t2.paperid  =  t3.paperid WHERE  t1.fname  =  "Olin" AND t1.lname  =  "Shivers"
预测SQL129： SELECT COUNT(DISTINCT t3.paperid) FROM inst as t1 JOIN authorship as t2 ON t1.instid  =  t2.instid JOIN papers as t3 ON t2.paperid  =  t3.paperid WHERE t1.name  =  "Tokohu University"
预测SQL130： SELECT t3.name FROM papers as t2 JOIN authorship as t1 ON t2.paperid  =  t1.paperid JOIN inst as t3 ON t1.instid  =  t3.instid GROUP BY t3.name ORDER BY COUNT(*) DESC LIMIT 1
预测SQL131： SELECT COUNT(DISTINCT t3.paperid) FROM authors as t1 JOIN authorship as t2 ON t1.authid  =  t2.authid JOIN papers as t3 ON t2.paperid  =  t3.paperid WHERE  t1.fname  =  "Atsushi" AND t1.lname  =  "Ohori"
预测SQL132： SELECT t2.name FROM papers as t1 JOIN inst as t2 ON t1.instid  =  t2.instid GROUP BY t1.instid ORDER BY COUNT(*) DESC LIMIT 1
预测SQL133： SELECT t3.title FROM authors as t1 JOIN authorship as t2 ON t1.authid  =  t2.authid JOIN papers as t3 ON t2.paperid  =  t3.paperid WHERE  t1.fname  =  "Aaron" AND t1.lname  =  "Turon"
预测SQL134： SELECT SUM(num_of_component) FROM furniture
预测SQL135： SELECT t2.friend FROM person as t1 JOIN personFriend as t2 ON t1.name  =  t2.name WHERE t1.name  =  'Alice' AND t1.gender  =  'male' AND t1.job  =  'doctor'
预测SQL136： SELECT name FROM person EXCEPT SELECT t2.name FROM person as t1 JOIN personFriend as t2 ON t1.name  =  t2.friend
预测SQL137： SELECT t1.age FROM person as t1 JOIN personFriend as t2 ON t1.name  =  t2.name WHERE t2.friend  =  (SELECT name FROM personFriend WHERE year  =  (SELECT MAX(year) FROM personFriend)) AND t2.year  =  (SELECT MAX(year) FROM personFriend)
预测SQL138： SELECT COUNT(*) FROM person WHERE age  >  (SELECT MIN(age) FROM person WHERE job  =  'engineer')
预测SQL139： SELECT MIN(age) ,  job FROM person GROUP BY job
预测SQL140： SELECT AVG(age) ,  gender FROM person GROUP BY gender
预测SQL141： SELECT DISTINCT t4.name FROM personfriend as t1 JOIN person as t2 ON t1.name  =  t2.name JOIN personfriend as t3 ON t1.friend  =  t3.name JOIN personfriend as t4 ON t3.friend  =  t4.name WHERE t2.name  =  'Alice' AND t4.name != 'Alice'
预测SQL142： SELECT age FROM person WHERE job  =  'doctor' AND name  =  'Zach'
预测SQL143： SELECT product ,  chromosome ,  porphyria FROM enzyme WHERE location  =  'Cytosol'
预测SQL144： SELECT name FROM enzyme WHERE product != 'Heme'
预测SQL145： SELECT name FROM enzyme WHERE name LIKE "%ALA%"
预测SQL146： SELECT t1.id ,  t1.name FROM medicine as t1 JOIN medicine_enzyme_interaction as t2 ON t1.id  =  t2.medicine_id GROUP BY t1.id HAVING COUNT(*)  >  1
预测SQL147： SELECT t1.booking_start_date ,  t1.booking_start_date FROM apartment_bookings as t1 JOIN apartments as t2 ON t1.apt_id  =  t2.apt_id WHERE t2.bedroom_count  >  2
预测SQL148： SELECT t1.booking_start_date ,  t1.booking_start_date FROM apartment_bookings as t1 JOIN guests as t2 ON t1.guest_id  =  t2.guest_id WHERE t2.gender_code  =  "Female"
预测SQL149： SELECT t1.building_address FROM apartment_buildings as t1 JOIN apartments as t2 ON t1.building_id  =  t2.building_id WHERE t2.bathroom_count  >  2
预测SQL150： SELECT t1.guest_first_name ,  t1.guest_last_name FROM guests as t1 JOIN apartment_bookings as t2 ON t1.guest_id  =  t2.guest_id WHERE t2.booking_status_code  =  "Confirmed"
预测SQL151： SELECT t1.facility_code FROM apartment_facilities as t1 JOIN apartments as t2 ON t1.apt_id  =  t2.apt_id WHERE t2.bedroom_count  >  4
预测SQL152： SELECT apt_number FROM apartments ORDER BY room_count ASC
预测SQL153： SELECT AVG(bedroom_count) FROM apartments
预测SQL154： SELECT building_full_name FROM apartment_buildings WHERE building_full_name LIKE "%court%"
预测SQL155： SELECT name ,  origin ,  owner FROM program
预测SQL156： SELECT name FROM program EXCEPT SELECT t1.name FROM program as t1 JOIN broadcast as t2 ON t1.program_id  =  t2.program_id WHERE t2.time_of_day  =  'Morning'
预测SQL157： SELECT owner FROM channel ORDER BY rating_in_percent / share_in_percent DESC LIMIT 1
预测SQL158： SELECT name FROM channel WHERE owner  =  'CCTV' OR owner  =  'HBS'
预测SQL159： SELECT * FROM customer_master_index ORDER BY cmi_details DESC
预测SQL160： SELECT district_name ,  city_population FROM district WHERE city_population BETWEEN 200000 AND 2000000
预测SQL161： SELECT district_name FROM district ORDER BY city_area ASC LIMIT 1
预测SQL162： SELECT SUM(city_population) FROM district WHERE city_area  >  (SELECT AVG(city_area) FROM district)
预测SQL163： SELECT district_name FROM district ORDER BY city_population DESC LIMIT 1
预测SQL164： SELECT manager_name FROM gas_station WHERE open_year  >  2000 GROUP BY manager_name ORDER BY COUNT(*) DESC LIMIT 1
预测SQL165： SELECT company ,  rank FROM company ORDER BY sales_billion DESC
预测SQL166： SELECT company ,  main_industry FROM company WHERE headquarters != 'USA'
预测SQL167： SELECT t3.manager_name FROM station_company as t1 JOIN company as t2 ON t1.company_id  =  t2.company_id JOIN gas_station as t3 ON t1.station_id  =  t3.station_id WHERE t2.company  =  'ExxonMobil'
预测SQL168： SELECT festival_name FROM festival_detail WHERE year  =  2007
预测SQL169： SELECT year FROM festival_detail GROUP BY year HAVING COUNT(*)  >  1
预测SQL170： SELECT name FROM building WHERE building_id NOT IN (SELECT building_id FROM institution)
预测SQL171： SELECT name FROM building EXCEPT SELECT t1.name FROM building as t1 JOIN institution as t2 ON t1.building_id  =  t2.building_id WHERE t2.founded  =  2003
预测SQL172： SELECT status ,  COUNT(*) FROM roller_coaster GROUP BY status
预测SQL173： SELECT COUNT(*) FROM participants WHERE participant_type_code  =  'Organizer'
预测SQL174： SELECT name ,  built_year FROM mill WHERE type  =  'Grondzeiler'
预测SQL175： SELECT builder ,  COUNT(*) FROM railway GROUP BY builder
预测SQL176： SELECT wheels ,  location FROM railway
预测SQL177： SELECT title ,  issues FROM book
预测SQL178： SELECT t1.title ,  t2.publication_date FROM book as t1 JOIN publication as t2 ON t1.book_id  =  t2.book_id

In [10]:
total_data = len(df['question'])
total_time = end_time - start_time
# print(total_data)
signal_infernece_time = total_time/total_data
print(signal_infernece_time)

4.244172764628121

In [11]:
new_df['generated_query'] = predict_list
new_df.to_csv("generated_SQL_DTSSQL2.csv", index=False)

In [12]:
def append_string_to_file(text, file_path):
    with open(file_path, 'a') as file:
        file.write(text + '\n')

def remove_spaces(text):
    return re.sub(r'\s+', ' ', text)

In [13]:
for index, row in new_df.iterrows():
    print(f"Processing the {index}th rows")
    if pd.isna(row['generated_query']):
        print(row['generated_query'])
        sql_query = input("give me the correct SQL query")
        sql_query = remove_spaces(sql_query)
        append_string_to_file(sql_query, "Predicted_SQL2.txt")
        append_string_to_file(row['reference_query'] + "\t" + row['db_id'], "Gold.txt")
    elif row['generated_query'][:6] == "SELECT":
        append_string_to_file(remove_spaces(row['generated_query']), "Predicted_SQL2.txt")
        append_string_to_file(row['reference_query'] + "\t" + row['db_id'], "Gold.txt")
    else:
        print(row['generated_query'])
        sql_query = input("give me the correct SQL query")
        sql_query = remove_spaces(sql_query)
        append_string_to_file(sql_query, "Predicted_SQL2.txt")
        append_string_to_file(row['reference_query'] + "\t" + row['db_id'], "Gold.txt")

Processing the 0th rows
Processing the 1th rows
Processing the 2th rows
Processing the 3th rows
Processing the 4th rows
Processing the 5th rows
Processing the 6th rows
Processing the 7th rows
Processing the 8th rows
Processing the 9th rows
Processing the 10th rows
Processing the 11th rows
Processing the 12th rows
Processing the 13th rows
Processing the 14th rows
Processing the 15th rows
Processing the 16th rows
Processing the 17th rows
Processing the 18th rows
Processing the 19th rows
Processing the 20th rows
Processing the 21th rows
Processing the 22th rows
Processing the 23th rows
Processing the 24th rows
Processing the 25th rows
Processing the 26th rows
Processing the 27th rows
Processing the 28th rows
Processing the 29th rows
Processing the 30th rows
Processing the 31th rows
Processing the 32th rows
Processing the 33th rows
Processing the 34th rows
Processing the 35th rows
Processing the 36th rows
Processing the 37th rows
Processing the 38th rows
Processing the 39th rows
Processing the 40th rows
Processing the 41th rows
Processing the 42th rows
Processing the 43th rows
Processing the 44th rows
Processing the 45th rows
Processing the 46th rows
Processing the 47th rows
Processing the 48th rows
Processing the 49th rows
Processing the 50th rows
Processing the 51th rows
Processing the 52th rows
Processing the 53th rows
Processing the 54th rows
Processing the 55th rows
Processing the 56th rows
Processing the 57th rows
Processing the 58th rows
Processing the 59th rows
Processing the 60th rows
Processing the 61th rows
Processing the 62th rows
Processing the 63th rows
Processing the 64th rows
Processing the 65th rows
Processing the 66th rows
Processing the 67th rows
Processing the 68th rows
Processing the 69th rows
Processing the 70th rows
Processing the 71th rows
Processing the 72th rows
Processing the 73th rows
Processing the 74th rows
Processing the 75th rows
Processing the 76th rows
Processing the 77th rows
Processing the 78th rows
Processing the 79th rows
Processing the 80th rows
Processing the 81th rows
Processing the 82th rows
Processing the 83th rows
Processing the 84th rows
Processing the 85th rows
Processing the 86th rows
Processing the 87th rows
Processing the 88th rows
Processing the 89th rows
Processing the 90th rows
Processing the 91th rows
Processing the 92th rows
Processing the 93th rows
Processing the 94th rows
Processing the 95th rows
Processing the 96th rows
Processing the 97th rows
Processing the 98th rows
Processing the 99th rows
Processing the 100th rows
Processing the 101th rows
Processing the 102th rows
Processing the 103th rows
Processing the 104th rows
Processing the 105th rows
Processing the 106th rows
Processing the 107th rows
Processing the 108th rows
Processing the 109th rows
Processing the 110th rows
Processing the 111th rows
Processing the 112th rows
Processing the 113th rows
Processing the 114th rows
Processing the 115th rows
Processing the 116th rows
Processing the 117th rows
Processing the 118th rows
Processing the 119th rows
Processing the 120th rows
Processing the 121th rows
Processing the 122th rows
Processing the 123th rows
Processing the 124th rows
Processing the 125th rows
Processing the 126th rows
Processing the 127th rows
Processing the 128th rows
Processing the 129th rows
Processing the 130th rows
Processing the 131th rows
Processing the 132th rows
Processing the 133th rows
Processing the 134th rows
Processing the 135th rows
Processing the 136th rows
Processing the 137th rows
Processing the 138th rows
Processing the 139th rows
Processing the 140th rows
Processing the 141th rows
Processing the 142th rows
Processing the 143th rows
Processing the 144th rows
Processing the 145th rows
Processing the 146th rows
Processing the 147th rows
Processing the 148th rows
Processing the 149th rows
Processing the 150th rows
Processing the 151th rows
Processing the 152th rows
Processing the 153th rows
Processing the 154th rows
Processing the 155th rows
Processing the 156th rows
Processing the 157th rows
Processing the 158th rows
Processing the 159th rows
Processing the 160th rows
Processing the 161th rows
Processing the 162th rows
Processing the 163th rows
Processing the 164th rows
Processing the 165th rows
Processing the 166th rows
Processing the 167th rows
Processing the 168th rows
Processing the 169th rows
Processing the 170th rows
Processing the 171th rows
Processing the 172th rows
Processing the 173th rows
Processing the 174th rows
Processing the 175th rows
Processing the 176th rows
Processing the 177th rows