In [1]:
# import torch
# from peft import AutoPeftModelForCausalLM
# from transformers import AutoModelForCausalLM, AutoTokenizer
# import pandas as pd
import json

import pandas as pd
import torch
from datasets import Dataset
from peft import LoraConfig, TaskType, get_peft_model
from transformers import AutoTokenizer, AutoModelForCausalLM, TrainingArguments
# from swanlab.integration.huggingface import SwanLabCallback
from transformers import DataCollatorForSeq2Seq, Trainer
import os
import re

/home/vipuser/anaconda3/envs/lr-sql/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
model_path = '/home/model/para_Qwen'
# lora_path = './final_checkpoint_newS_SFT_SQL_CN_TV'
# lora_path = './final_checkpoint_dataset1_SQL'
# lora_path = './final_checkpoint_newS_SFT_SQL_CN_TV'

In [3]:
# model = AutoPeftModelForCausalLM.from_pretrained(
#         lora_path, trust_remote_code= True, device_map='auto')
model = AutoModelForCausalLM.from_pretrained(
        model_path, trust_remote_code= True, device_map='auto')

Loading checkpoint shards: 100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 4/4 [00:22<00:00,  5.60s/it]

In [5]:
tokenizer = AutoTokenizer.from_pretrained(model_path, trust_remote_code=True)

Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

In [6]:
val_dataset_path = "wiki/wikisql_test.csv"  
df = pd.read_csv(val_dataset_path)

In [7]:
print(df)

                                              question  \
0    what is the number of smallpox when typhoid fe...
1            What teams had 9 in the top 5 and 1 wins?
2         How many years were there with 348 attempts?
3    What's the highest season number of an episode...
4              What is the hand for 4 credits is 1600?
..                                                 ...
810  What are the total lanes that have a rank larg...
811                       What is the start of lap 55?
812  With a score of 70, this player's name is list...
813  What is the average rank for a building with 2...
814             Which mountain range has a rank of 19?

                                          create_table  \
0    CREATE TABLE 1-1007688-1 (\n  "Year" TEXT,\n  ...
1    CREATE TABLE 1-1012730-2 (\n  "Year" TEXT,\n  ...
2    CREATE TABLE 1-1037590-1 (\n  "Year" TEXT,\n  ...
3    CREATE TABLE 1-10718192-2 (\n  "No__in_series"...
4    CREATE TABLE 1-11200856-1 (\n  "Hand" TEXT,\n ...
..                                                 ...
810  CREATE TABLE 2-12594788-2 (\n  "Rank" TEXT,\n ...
811  CREATE TABLE 2-1252065-1 (\n  "Year" TEXT,\n  ...
812  CREATE TABLE 2-13081672-1 (\n  "Place" TEXT,\n...
813  CREATE TABLE 2-12169960-1 (\n  "Rank" TEXT,\n ...
814  CREATE TABLE 2-12679495-2 (\n  "Rank" TEXT,\n ...

                                                   sql    table_name
0    SELECT MAX("Smallpox") FROM 1-1007688-1 WHERE ...   1-1007688-1
1    SELECT "Team_s_" FROM 1-1012730-2 WHERE "Top_5...   1-1012730-2
2    SELECT COUNT("Yards") FROM 1-1037590-1 WHERE "...   1-1037590-1
3        SELECT MAX("No__in_season") FROM 1-10718192-2  1-10718192-2
4    SELECT "Hand" FROM 1-11200856-1 WHERE "_4_cred...  1-11200856-1
..                                                 ...           ...
810  SELECT SUM("Lane") FROM 2-12594788-2 WHERE "Ra...  2-12594788-2
811  SELECT "Start" FROM 2-1252065-1 WHERE "Laps" = 55   2-1252065-1
812  SELECT "Player" FROM 2-13081672-1 WHERE "Score...  2-13081672-1
813  SELECT AVG("Rank") FROM 2-12169960-1 WHERE "Fl...  2-12169960-1
814  SELECT "Mountain_Range" FROM 2-12679495-2 WHER...  2-12679495-2

[815 rows x 4 columns]

In [8]:
system_prompt = """
You are an intelligent SQL generation assistant.  
Your task is to generate a valid SQL query using the schema provided in <database>...</database>,  
based on the natural language request given in <question>...</question>.  

Return your answer strictly in the following format:  
<answer>YOUR_GENERATED_SQL</answer>  
"""
print(system_prompt)

You are an intelligent SQL generation assistant.
Your task is to generate a valid SQL query using the schema provided in <database>...</database>,
based on the natural language request given in <question>...</question>.

Return your answer strictly in the following format:
<answer>YOUR_GENERATED_SQL</answer>

In [9]:
def make_user_prompt(question, database_schema):
    return f"<question>{question}</question>\n<database>{database_schema}</database>"

In [10]:
def make_conversation(question, database_schema):
    conversation = []
    conversation0 = {}
    conversation1 = {}
    conversation2 = {}
    user_prompt = make_user_prompt(question, database_schema)
    conversation0["role"] = "system"
    conversation0["content"] = system_prompt
    conversation1["role"] = "user"
    conversation1["content"] = user_prompt + "\n"
    conversation.append(conversation0)
    conversation.append(conversation1)
#     print(conversation2["content"])
    return conversation

In [11]:
def predict(messages, model, tokenizer):
    device = "cuda"
    text = tokenizer.apply_chat_template(
        messages,
        tokenize=False,
        add_generation_prompt=True
    )
    model_inputs = tokenizer([text], return_tensors="pt").to(device)

    generated_ids = model.generate(
        model_inputs.input_ids,
        max_new_tokens=2048
    )
    generated_ids = [
        output_ids[len(input_ids):] for input_ids, output_ids in zip(model_inputs.input_ids, generated_ids)
    ]
    
    response = tokenizer.batch_decode(generated_ids, skip_special_tokens=True)[0]
    
#     print(response)
     
    return response

In [15]:
sample_list = []
correct_list = []
for index, row in df.iterrows():
    correct_sql = row["sql"] + " ;"
    correct_list.append(correct_sql)
    messages = make_conversation(row["question"],row["create_table"])
#     print(messages)
    print("<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>")
    response = predict(messages, model, tokenizer)   
    print(response)
    m = re.search(r'(?s)(?<=<answer>).*?(?=</answer>)', response)  # DOTALL: . 可跨行
    sql = m.group(0) if m else response
    sample_list.append(sql)
    print(sql)
    print(correct_sql)
    print(f"<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next{index}>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>")

<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Smallpox" FROM 1-1007688-1 WHERE "Typhoid_fever" = '293'</answer>
SELECT "Smallpox" FROM 1-1007688-1 WHERE "Typhoid_fever" = '293'
SELECT MAX("Smallpox") FROM 1-1007688-1 WHERE "Typhoid_fever" = 293
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next0>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Team_s_` FROM 1-1012730-2 WHERE `Top_5` = '9' AND `Wins` = '1';
SELECT `Team_s_` FROM 1-1012730-2 WHERE `Top_5` = '9' AND `Wins` = '1';
SELECT "Team_s_" FROM 1-1012730-2 WHERE "Top_5" = 9 AND "Wins" = 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next1>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT("Year") FROM 1-1037590-1 WHERE "Attempts" = '348'</answer>
SELECT COUNT("Year") FROM 1-1037590-1 WHERE "Attempts" = '348'
SELECT COUNT("Yards") FROM 1-1037590-1 WHERE "Attempts" = 348
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next2>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MAX(`No__in_series`) FROM 1-10718192-2;
SELECT MAX(`No__in_series`) FROM 1-10718192-2;
SELECT MAX("No__in_season") FROM 1-10718192-2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next3>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Hand" FROM 1-11200856-1 WHERE "_4_credits" = '1600';
SELECT "Hand" FROM 1-11200856-1 WHERE "_4_credits" = '1600';
SELECT "Hand" FROM 1-11200856-1 WHERE "_4_credits" = 1600
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next4>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Timeslot` FROM 1-11274401-2 WHERE `No_` = '15';
SELECT `Timeslot` FROM 1-11274401-2 WHERE `No_` = '15';
SELECT "Timeslot" FROM 1-11274401-2 WHERE "No_" = 15
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next5>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Number_of_Jews__WJC_" FROM 1-1131183-2 WHERE "Rank___WJC__" = '1';
SELECT "Number_of_Jews__WJC_" FROM 1-1131183-2 WHERE "Rank___WJC__" = '1';
SELECT COUNT("Number_of_Jews__WJC_") FROM 1-1131183-2 WHERE "Rank__ARDA_" = 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next6>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT(*) FROM 1-11390711-4 WHERE `Foundation` = '1964';</answer>
SELECT COUNT(*) FROM 1-11390711-4 WHERE `Foundation` = '1964';
SELECT COUNT("Provider_IAI_") FROM 1-11390711-4 WHERE "Foundation" = 1964
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next7>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Report` FROM 1-1140074-2 WHERE `Rnd` = '4';
SELECT `Report` FROM 1-1140074-2 WHERE `Rnd` = '4';
SELECT "Report" FROM 1-1140074-2 WHERE "Rnd" = 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next8>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Pole_Position` FROM 1-1140085-2 WHERE `Rnd` = '3';
SELECT `Pole_Position` FROM 1-1140085-2 WHERE `Rnd` = '3';
SELECT "Pole_Position" FROM 1-1140085-2 WHERE "Rnd" = 3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next9>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Name_in_Polish` FROM 1-11614581-3 WHERE `Population__in_thousands___1905__` = '1640';
SELECT `Name_in_Polish` FROM 1-11614581-3 WHERE `Population__in_thousands___1905__` = '1640';
SELECT "Name_in_Polish" FROM 1-11614581-3 WHERE "Population__in_thousands___1905__" = 1640
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next10>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Tournament` FROM 1-11622829-1 WHERE `_1st_Prize_____` = '$40000';
SELECT `Tournament` FROM 1-11622829-1 WHERE `_1st_Prize_____` = '$40000';
SELECT "Tournament" FROM 1-11622829-1 WHERE "_1st_Prize_____" = 40000
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next11>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Win_Loss` FROM 1-1165048-1 WHERE `Season` = '2009'</answer>
SELECT `Win_Loss` FROM 1-1165048-1 WHERE `Season` = '2009'
SELECT "Win_Loss" FROM 1-1165048-1 WHERE "Season" = 2009
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next12>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Ratings` FROM 1-11691212-2 WHERE `Year` = '1997';
SELECT `Ratings` FROM 1-11691212-2 WHERE `Year` = '1997';
SELECT "Ratings" FROM 1-11691212-2 WHERE "Year" = 1997
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next13>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Year" FROM 1-11680175-1 WHERE "Neu_Vehlefanz" = '365';
SELECT "Year" FROM 1-11680175-1 WHERE "Neu_Vehlefanz" = '365';
SELECT COUNT("Year") FROM 1-11680175-1 WHERE "Neu_Vehlefanz" = 365
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next14>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Team" FROM 1-11964154-7 WHERE "Game" = '25';
SELECT "Team" FROM 1-11964154-7 WHERE "Game" = '25';
SELECT "Team" FROM 1-11964154-7 WHERE "Game" = 25
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next15>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Game" FROM 1-11964263-13 ORDER BY "Game" ASC LIMIT 1;
SELECT "Game" FROM 1-11964263-13 ORDER BY "Game" ASC LIMIT 1;
SELECT MIN("Game") FROM 1-11964263-13
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next16>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Built` FROM 1-12113888-1 WHERE `Number` = '34';
SELECT `Built` FROM 1-12113888-1 WHERE `Number` = '34';
SELECT "Built" FROM 1-12113888-1 WHERE "Number" = 34
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next17>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Winning_Pitcher` FROM 1-12125069-2 WHERE `Attendance` = '38109'</answer>
SELECT `Winning_Pitcher` FROM 1-12125069-2 WHERE `Attendance` = '38109'
SELECT "Winning_Pitcher" FROM 1-12125069-2 WHERE "Attendance" = 38109
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next18>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Open_Cup" FROM 1-1214035-1 WHERE "Year" = '2002'</answer>
SELECT "Open_Cup" FROM 1-1214035-1 WHERE "Year" = '2002'
SELECT "Open_Cup" FROM 1-1214035-1 WHERE "Year" = 2002
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next19>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Written_by` FROM 1-12226390-2 WHERE `No__in_series` = '14'</answer>
SELECT `Written_by` FROM 1-12226390-2 WHERE `No__in_series` = '14'
SELECT "Written_by" FROM 1-12226390-2 WHERE "No__in_series" = 14
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next20>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

<answer>SELECT `Population_August_15__2012` FROM 1-12496904-1 WHERE `Population_Density_2012__km_2__` = '307'</answer>
SELECT `Population_August_15__2012` FROM 1-12496904-1 WHERE `Population_Density_2012__km_2__` = '307'
SELECT MAX("Population_August_15__2012") FROM 1-12496904-1 WHERE "Population_Density_2012__km_2__" = 307
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next21>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Release_date` FROM 1-12588029-3 WHERE `Year` = '2003'</answer>
SELECT `Release_date` FROM 1-12588029-3 WHERE `Year` = '2003'
SELECT "Release_date" FROM 1-12588029-3 WHERE "Year" = 2003
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next22>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT(*) FROM 1-12821159-14 WHERE _2nd > '2.0' AND Money_list_rank IS NOT NULL;</answer>
SELECT COUNT(*) FROM 1-12821159-14 WHERE _2nd > '2.0' AND Money_list_rank IS NOT NULL;
SELECT COUNT("Money_list_rank") FROM 1-12821159-14 WHERE "_2nd" > 2.0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next23>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Pts_For` FROM `1-13018116-1` WHERE `Won` = '9' ORDER BY `Points` DESC LIMIT 1</answer>
SELECT `Pts_For` FROM `1-13018116-1` WHERE `Won` = '9' ORDER BY `Points` DESC LIMIT 1
SELECT MAX("Pts_For") FROM 1-13018116-1 WHERE "Won" = 9
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next24>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Incumbent` FROM 1-1341423-35 WHERE `First_elected` = '1972';
SELECT `Incumbent` FROM 1-1341423-35 WHERE `First_elected` = '1972';
SELECT "Incumbent" FROM 1-1341423-35 WHERE "First_elected" = 1972
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next25>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Party` FROM 1-1341738-36 WHERE `First_elected` = '1954' AND `Result` = 'first elected';
SELECT `Party` FROM 1-1341738-36 WHERE `First_elected` = '1954' AND `Result` = 'first elected';
SELECT "Party" FROM 1-1341738-36 WHERE "First_elected" = 1954
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next26>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `District` FROM `1-1341843-44` WHERE `First_elected` = '1966';
SELECT `District` FROM `1-1341843-44` WHERE `First_elected` = '1966';
SELECT "District" FROM 1-1341843-44 WHERE "First_elected" = 1966
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next27>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Production_Code` FROM 1-13505192-3 WHERE `Season_Number` = '8';
SELECT `Production_Code` FROM 1-13505192-3 WHERE `Season_Number` = '8';
SELECT MIN("Production_Code") FROM 1-13505192-3 WHERE "Season_Number" = 8
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next28>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Autonomous_Community` FROM 1-13566548-1 WHERE `Wind_power` = '1042'</answer>
SELECT `Autonomous_Community` FROM 1-13566548-1 WHERE `Wind_power` = '1042'
SELECT "Autonomous_Community" FROM 1-13566548-1 WHERE "Wind_power" = 1042
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next29>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT(*) FROM 1-13619053-8 WHERE "Game" = '66'</answer>
SELECT COUNT(*) FROM 1-13619053-8 WHERE "Game" = '66'
SELECT COUNT("High_points") FROM 1-13619053-8 WHERE "Game" = 66
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next30>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Freight___Metric_Tonnes__` FROM 1-13836704-7 WHERE `Transit_Passengers` = '147791'</answer>
SELECT `Freight___Metric_Tonnes__` FROM 1-13836704-7 WHERE `Transit_Passengers` = '147791'
SELECT "Freight___Metric_Tonnes__" FROM 1-13836704-7 WHERE "Transit_Passengers" = 147791
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next31>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Transit_Passengers` FROM 1-13836704-8 WHERE `Total_Passengers` = '171078';
SELECT `Transit_Passengers` FROM 1-13836704-8 WHERE `Total_Passengers` = '171078';
SELECT MAX("Transit_Passengers") FROM 1-13836704-8 WHERE "Freight__Metric_Tonnes_" = 171078
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next32>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Name_of_administrative_unit" FROM 1-14465924-1 WHERE "Number" = '4';
SELECT "Name_of_administrative_unit" FROM 1-14465924-1 WHERE "Number" = '4';
SELECT "Name_of_administrative_unit" FROM 1-14465924-1 WHERE "Number" = 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next33>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Name__Alma_Mater_` FROM 1-14594528-6 WHERE `Wins` = '15';</answer>
SELECT `Name__Alma_Mater_` FROM 1-14594528-6 WHERE `Wins` = '15';
SELECT "Name__Alma_Mater_" FROM 1-14594528-6 WHERE "Wins" = 15
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next34>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Ep_No_") FROM 1-1467951-4;</answer>
SELECT MAX("Ep_No_") FROM 1-1467951-4;
SELECT MAX("Ep_No_") FROM 1-1467951-4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next35>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT COUNT("Station_Name") FROM 1-1470706-1 WHERE "_2008_09" = '11580';
SELECT COUNT("Station_Name") FROM 1-1470706-1 WHERE "_2008_09" = '11580';
SELECT COUNT("_2011_12") FROM 1-1470706-1 WHERE "_2008_09" = 11580
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next36>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT CAST(SUM("Asian__") AS REAL) * 100 / SUM("Enrollment") FROM 1-14754471-1 WHERE "Year" = '2009'</answer>
SELECT CAST(SUM("Asian__") AS REAL) * 100 / SUM("Enrollment") FROM 1-14754471-1 WHERE "Year" = '2009'
SELECT "Asian____" FROM 1-14754471-1 WHERE "Year" = 2009
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next37>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT(*) FROM 1-14863869-1 WHERE "Week" = '11'</answer>
SELECT COUNT(*) FROM 1-14863869-1 WHERE "Week" = '11'
SELECT COUNT("Record") FROM 1-14863869-1 WHERE "Week" = 11
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next38>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Directed_by` FROM 1-14889988-1 WHERE `Production_code` = '176252';</answer>
SELECT `Directed_by` FROM 1-14889988-1 WHERE `Production_code` = '176252';
SELECT "Directed_by" FROM 1-14889988-1 WHERE "Production_code" = 176252
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next39>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT(*) FROM 1-14945608-1 WHERE Attendance = '60225';</answer>
SELECT COUNT(*) FROM 1-14945608-1 WHERE Attendance = '60225';
SELECT COUNT("Result") FROM 1-14945608-1 WHERE "Attendance" = 60225
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next40>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

<answer>SELECT `Ends_Lost` FROM 1-1505809-2 WHERE `Blank_Ends` = '9'</answer>
SELECT `Ends_Lost` FROM 1-1505809-2 WHERE `Blank_Ends` = '9'
SELECT "Ends_Lost" FROM 1-1505809-2 WHERE "Blank_Ends" = 9
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next41>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Runner_up` FROM 1-1507431-1 WHERE `No_` = '2';
SELECT `Runner_up` FROM 1-1507431-1 WHERE `No_` = '2';
SELECT "Runner_up" FROM 1-1507431-1 WHERE "No_" = 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next42>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Segment_B" FROM 1-15187735-13 WHERE "Episode" = '167';
SELECT "Segment_B" FROM 1-15187735-13 WHERE "Episode" = '167';
SELECT "Segment_B" FROM 1-15187735-13 WHERE "Episode" = 167
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next43>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Segment_A" FROM 1-15187735-19 WHERE "Episode" = '237'</answer>
SELECT "Segment_A" FROM 1-15187735-19 WHERE "Episode" = '237'
SELECT "Segment_A" FROM 1-15187735-19 WHERE "Episode" = 237
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next44>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MAX("Derby_County") FROM 1-15201666-3;
SELECT MAX("Derby_County") FROM 1-15201666-3;
SELECT MAX("Derby_County") FROM 1-15201666-3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next45>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Purse____") FROM 1-15315276-1 WHERE "Event" = 'Northeast Delta Dental International Championship'</answer>
SELECT MAX("Purse____") FROM 1-15315276-1 WHERE "Event" = 'Northeast Delta Dental International Championship'
SELECT MAX("Purse____") FROM 1-15315276-1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next46>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MAX(`Won`) FROM `1-15331868-1` WHERE `Points` = '31';
SELECT MAX(`Won`) FROM `1-15331868-1` WHERE `Points` = '31';
SELECT MAX("Won") FROM 1-15331868-1 WHERE "Points" = 31
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next47>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "June" FROM 1-1539201-1;</answer>
SELECT "June" FROM 1-1539201-1;
SELECT "June" FROM 1-1539201-1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next48>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Played") AS total_games_played FROM 1-15405904-1;</answer>
SELECT SUM("Played") AS total_games_played FROM 1-15405904-1;
SELECT MIN("Played") FROM 1-15405904-1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next49>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Position" FROM 1-15400878-1 WHERE "Points" = '19';
SELECT "Position" FROM 1-15400878-1 WHERE "Points" = '19';
SELECT MIN("For") FROM 1-15400878-1 WHERE "Points" = 19
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next50>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT(*) FROM 1-15491596-1 WHERE `No` = '48'</answer>
SELECT COUNT(*) FROM 1-15491596-1 WHERE `No` = '48'
SELECT COUNT("Engine") FROM 1-15491596-1 WHERE "No" = 48
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next51>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Mass__kg_") FROM 1-1558077-2;</answer>
SELECT MAX("Mass__kg_") FROM 1-1558077-2;
SELECT MAX("Mass__kg_") FROM 1-1558077-2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next52>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Playoffs` FROM 1-1570003-2 WHERE `Year` = '1998'</answer>
SELECT `Playoffs` FROM 1-1570003-2 WHERE `Year` = '1998'
SELECT "Playoffs" FROM 1-1570003-2 WHERE "Year" = 1998
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next53>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Score` FROM 1-15869204-7 WHERE `Game` = '51';
SELECT `Score` FROM 1-15869204-7 WHERE `Game` = '51';
SELECT "Score" FROM 1-15869204-7 WHERE "Game" = 51
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next54>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Term_ended` FROM 1-1602620-1 WHERE `Elected` = '1990'</answer>
SELECT `Term_ended` FROM 1-1602620-1 WHERE `Elected` = '1990'
SELECT "Term_ended" FROM 1-1602620-1 WHERE "Elected" = 1990
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next55>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Bills_first_downs" FROM 1-16028459-2 WHERE "Opponents" = '6'</answer>
SELECT "Bills_first_downs" FROM 1-16028459-2 WHERE "Opponents" = '6'
SELECT MIN("Bills_first_downs") FROM 1-16028459-2 WHERE "Opponents" = 6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next56>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Attendance" FROM 1-16227492-1 WHERE "Attendance" = (SELECT MAX("Attendance") FROM 1-16227492-1)</answer>
SELECT "Attendance" FROM 1-16227492-1 WHERE "Attendance" = (SELECT MAX("Attendance") FROM 1-16227492-1)
SELECT MAX("Attendance") FROM 1-16227492-1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next57>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `English_title` FROM 1-16425614-3 WHERE `Official__` = '22';
SELECT `English_title` FROM 1-16425614-3 WHERE `Official__` = '22';
SELECT "English_title" FROM 1-16425614-3 WHERE "Official__" = 22
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next58>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `m_v_ft_s` FROM 1-16439764-1 WHERE `Max__height__ft_` = 23500;</answer>
SELECT `m_v_ft_s` FROM 1-16439764-1 WHERE `Max__height__ft_` = 23500;
SELECT MIN("m_v_ft_s") FROM 1-16439764-1 WHERE "Max__height__ft_" = 23500
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next59>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "_25_to_29" FROM 1-16457934-2 WHERE "_65_to_69" = '2073';
SELECT "_25_to_29" FROM 1-16457934-2 WHERE "_65_to_69" = '2073';
SELECT COUNT("_25_to_29") FROM 1-16457934-2 WHERE "_65_to_69" = 2073
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next60>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Location` FROM 1-16527640-3 WHERE `VFL_Games` = '9';
SELECT `Location` FROM 1-16527640-3 WHERE `VFL_Games` = '9';
SELECT "Location" FROM 1-16527640-3 WHERE "VFL_Games" = 9
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next61>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Urban___" FROM 1-16645-1 WHERE "Rural___" = '43'</answer>
SELECT "Urban___" FROM 1-16645-1 WHERE "Rural___" = '43'
SELECT MIN("Urban___") FROM 1-16645-1 WHERE "Rural___" = 43
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next62>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

<answer>SELECT COUNT(*) FROM 1-16654785-2 WHERE `Length__m_` = '455';</answer>
SELECT COUNT(*) FROM 1-16654785-2 WHERE `Length__m_` = '455';
SELECT COUNT("Name") FROM 1-16654785-2 WHERE "Length__m_" = 455
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next63>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Inns_of_Court_and_Chancery" FROM 1-16677738-1 WHERE "Without_the_Walls" = '70489';
SELECT "Inns_of_Court_and_Chancery" FROM 1-16677738-1 WHERE "Without_the_Walls" = '70489';
SELECT "Inns_of_Court_and_Chancery" FROM 1-16677738-1 WHERE "Without_the_Walls" = 70489
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next64>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT COUNT(*) FROM 1-1671401-2 WHERE `Top_10` = '5' AND `Top_5` BETWEEN 0 AND 10;
SELECT COUNT(*) FROM 1-1671401-2 WHERE `Top_10` = '5' AND `Top_5` BETWEEN 0 AND 10;
SELECT COUNT("Team_s_") FROM 1-1671401-2 WHERE "Top_10" = 5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next65>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Round5" FROM 1-16815824-1 WHERE "Total_Points" = '212';
SELECT "Round5" FROM 1-16815824-1 WHERE "Total_Points" = '212';
SELECT "Round5" FROM 1-16815824-1 WHERE "Total_Points" = 212
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next66>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Location" FROM 1-16864968-7 WHERE "Game" = '62'</answer>
SELECT "Location" FROM 1-16864968-7 WHERE "Game" = '62'
SELECT "Location" FROM 1-16864968-7 WHERE "Game" = 62
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next67>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `PR_Avg_` FROM 1-16912000-13 WHERE `PR_LG` = '49'</answer>
SELECT `PR_Avg_` FROM 1-16912000-13 WHERE `PR_LG` = '49'
SELECT "PR_Avg_" FROM 1-16912000-13 WHERE "KR_LG" = 49
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next68>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MIN("Earnings______") FROM 1-1697190-2 WHERE "Name" = 'Casey Martin';
SELECT MIN("Earnings______") FROM 1-1697190-2 WHERE "Name" = 'Casey Martin';
SELECT MIN("Earnings______") FROM 1-1697190-2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next69>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Score` FROM 1-17058178-8 WHERE `Game` = '38';
SELECT `Score` FROM 1-17058178-8 WHERE `Game` = '38';
SELECT "Score" FROM 1-17058178-8 WHERE "Game" = 38
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next70>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Score` FROM 1-17103729-8 WHERE `Game` = '25';
SELECT `Score` FROM 1-17103729-8 WHERE `Game` = '25';
SELECT "Score" FROM 1-17103729-8 WHERE "Game" = 25
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next71>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Max_FS") FROM 1-17157367-1 WHERE "Status" = 'status' AND "Method" = 'method'</answer>
SELECT MAX("Max_FS") FROM 1-17157367-1 WHERE "Status" = 'status' AND "Method" = 'method'
SELECT "Max_FS" FROM 1-17157367-1 WHERE "Status" = "Status" AND "Method" = "Method"
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next72>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MAX("Pakistanis_admitted") FROM 1-1717824-3 WHERE "Nepalis_admitted" = '627';
SELECT MAX("Pakistanis_admitted") FROM 1-1717824-3 WHERE "Nepalis_admitted" = '627';
SELECT MAX("Pakistanis_admitted") FROM 1-1717824-3 WHERE "Nepalis_admitted" = 627
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next73>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Original_air_date` FROM 1-17356106-1 WHERE `Series__` = '256'</answer>
SELECT `Original_air_date` FROM 1-17356106-1 WHERE `Series__` = '256'
SELECT "Original_air_date" FROM 1-17356106-1 WHERE "Series__" = 256
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next74>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN(`Lost`) FROM 1-17357929-1;</answer>
SELECT MIN(`Lost`) FROM 1-17357929-1;
SELECT MIN("Lost") FROM 1-17357929-1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next75>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Goal_Average_1` FROM 1-17357929-1 WHERE `Lost` = '9';</answer>
SELECT `Goal_Average_1` FROM 1-17357929-1 WHERE `Lost` = '9';
SELECT "Goal_Average_1" FROM 1-17357929-1 WHERE "Lost" = 9
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next76>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Color_commentator` FROM 1-17516922-1 WHERE `Year` = '2010';</answer>
SELECT `Color_commentator` FROM 1-17516922-1 WHERE `Year` = '2010';
SELECT "Color_commentator" FROM 1-17516922-1 WHERE "Year" = 2010
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next77>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN("Champions_League") FROM 1-17505751-5;</answer>
SELECT MIN("Champions_League") FROM 1-17505751-5;
SELECT MIN("Champions_League") FROM 1-17505751-5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next78>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT SUM("International_freight") FROM 1-1754531-4 WHERE "Domestic_mail" = '260' AND CAST(REPLACE("International_mail", ',', '') AS REAL) > 1.0;
SELECT SUM("International_freight") FROM 1-1754531-4 WHERE "Domestic_mail" = '260' AND CAST(REPLACE("International_mail", ',', '') AS REAL) > 1.0;
SELECT COUNT("Domestic_freight") FROM 1-1754531-4 WHERE "International_mail" > 1.0 AND "Domestic_mail" = 260
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next79>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Title` FROM 1-17624965-1 WHERE `No__in_season` = '618';
SELECT `Title` FROM 1-17624965-1 WHERE `No__in_season` = '618';
SELECT "Title" FROM 1-17624965-1 WHERE "Production_code" = 618
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next80>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT COUNT("County_seat_or_courthouse") FROM 1-1762887-1 WHERE "April_1__2010_density___km__" = '2205';
SELECT COUNT("County_seat_or_courthouse") FROM 1-1762887-1 WHERE "April_1__2010_density___km__" = '2205';
SELECT COUNT("County_seat_or_courthouse") FROM 1-1762887-1 WHERE "April_1__2010_density___mi__" = 2205
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next81>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Name_or_route` FROM 1-17814458-1 WHERE `slope_length` = '336';
SELECT `Name_or_route` FROM 1-17814458-1 WHERE `slope_length` = '336';
SELECT "Name_or_route" FROM 1-17814458-1 WHERE "slope_length" = 336
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next82>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

SELECT `Directed_by` FROM 1-18481791-3 WHERE `No__in_season` = '1';
SELECT `Directed_by` FROM 1-18481791-3 WHERE `No__in_season` = '1';
SELECT "Directed_by" FROM 1-18481791-3 WHERE "No__in_season" = 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next83>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Spokespersons` FROM 1-184803-4 WHERE `Voting_order` = '9';
SELECT `Spokespersons` FROM 1-184803-4 WHERE `Voting_order` = '9';
SELECT "Spokespersons" FROM 1-184803-4 WHERE "Voting_order" = 9
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next84>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Air_Force___Navy_score" FROM 1-1850339-2 WHERE "Season" = '1983';
SELECT "Air_Force___Navy_score" FROM 1-1850339-2 WHERE "Season" = '1983';
SELECT "Air_Force___Navy_score" FROM 1-1850339-2 WHERE "Season" = 1983
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next85>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Wins") FROM 1-18594107-2 WHERE "Conceded" = '18'</answer>
SELECT SUM("Wins") FROM 1-18594107-2 WHERE "Conceded" = '18'
SELECT MAX("Wins") FROM 1-18594107-2 WHERE "Conceded" = 18
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next86>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MAX(`Draws`) FROM 1-18607260-6;
SELECT MAX(`Draws`) FROM 1-18607260-6;
SELECT MAX("Draws") FROM 1-18607260-6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next87>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Rank` FROM 1-18686317-1 WHERE `Yardage` = 58179;</answer>
SELECT `Rank` FROM 1-18686317-1 WHERE `Yardage` = 58179;
SELECT "Rank" FROM 1-18686317-1 WHERE "Yardage" = 58179
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next88>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM(CAST("Wins" AS INTEGER)) FROM 1-18703133-6;</answer>
SELECT SUM(CAST("Wins" AS INTEGER)) FROM 1-18703133-6;
SELECT MAX("Wins") FROM 1-18703133-6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next89>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Pos` FROM 1-18811741-15 WHERE `Podiums` = '1';
SELECT `Pos` FROM 1-18811741-15 WHERE `Podiums` = '1';
SELECT MAX("Pos") FROM 1-18811741-15 WHERE "Podiums" = 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next90>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MAX("All_bills_sponsored") FROM 1-18852984-2;
SELECT MAX("All_bills_sponsored") FROM 1-18852984-2;
SELECT MAX("All_bills_sponsored") FROM 1-18852984-2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next91>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN(`Wins`) FROM 1-19001175-1;</answer>
SELECT MIN(`Wins`) FROM 1-19001175-1;
SELECT MIN("Wins") FROM 1-19001175-1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next92>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Player` FROM 1-19018191-5 WHERE `L_Apps` = '27';
SELECT `Player` FROM 1-19018191-5 WHERE `L_Apps` = '27';
SELECT "Player" FROM 1-19018191-5 WHERE "L_Apps" = 27
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next93>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "World" FROM 1-19017269-5 WHERE "World" = (SELECT MIN("World") FROM 1-19017269-5);
SELECT "World" FROM 1-19017269-5 WHERE "World" = (SELECT MIN("World") FROM 1-19017269-5);
SELECT MIN("World") FROM 1-19017269-5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next94>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Playoffs` FROM 1-1908049-1 WHERE `Avg__Attendance` = '3416'</answer>
SELECT `Playoffs` FROM 1-1908049-1 WHERE `Avg__Attendance` = '3416'
SELECT "Playoffs" FROM 1-1908049-1 WHERE "Avg__Attendance" = 3416
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next95>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT COUNT(*) FROM 1-19149550-9 WHERE "Total_Asian_Population" = '33338' GROUP BY "Rank";
SELECT COUNT(*) FROM 1-19149550-9 WHERE "Total_Asian_Population" = '33338' GROUP BY "Rank";
SELECT COUNT("Rank") FROM 1-19149550-9 WHERE "Total_Asian_Population" = 33338
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next96>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Series_No_` FROM 1-19236587-4 WHERE `Season_No_` = '2';
SELECT `Series_No_` FROM 1-19236587-4 WHERE `Season_No_` = '2';
SELECT MIN("Series_No_") FROM 1-19236587-4 WHERE "Season_No_" = 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next97>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "U_S__viewers__millions_" FROM 1-19401346-1 WHERE "No__in_season" = '1';
SELECT "U_S__viewers__millions_" FROM 1-19401346-1 WHERE "No__in_season" = '1';
SELECT "U_S__viewers__millions_" FROM 1-19401346-1 WHERE "No__in_season" = 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next98>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `County` FROM 1-1940144-1 WHERE `Population_2011` = '17908';
SELECT `County` FROM 1-1940144-1 WHERE `Population_2011` = '17908';
SELECT "County" FROM 1-1940144-1 WHERE "Population_2011" = 17908
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next99>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Urban_Area` FROM 1-1940144-1 WHERE `Population_2011` = '5010';
SELECT `Urban_Area` FROM 1-1940144-1 WHERE `Population_2011` = '5010';
SELECT "Urban_Area" FROM 1-1940144-1 WHERE "Population_2011" = 5010
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next100>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Group_stage` FROM 1-19412902-1 WHERE `Play_off` = '0' AND `Clubs` = '12';
SELECT `Group_stage` FROM 1-19412902-1 WHERE `Play_off` = '0' AND `Clubs` = '12';
SELECT COUNT("Group_stage") FROM 1-19412902-1 WHERE "Play_off" = 0 AND "Clubs" = 12
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next101>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MIN("Pos") FROM `1-19412902-2`;
SELECT MIN("Pos") FROM `1-19412902-2`;
SELECT MAX("Pos") FROM 1-19412902-2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next102>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MIN("Episodes") FROM 1-1949994-8;
SELECT MIN("Episodes") FROM 1-1949994-8;
SELECT MIN("Episodes") FROM 1-1949994-8
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next103>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Indoor` FROM 1-19534874-2 WHERE `Overall` = '5' AND `Inspection` = 'Yes';
SELECT `Indoor` FROM 1-19534874-2 WHERE `Overall` = '5' AND `Inspection` = 'Yes';
SELECT MIN("Indoor") FROM 1-19534874-2 WHERE "Inspection" = 5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next104>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

<answer>SELECT MAX("Written") FROM 1-19534874-2 WHERE "Standard" = '2';</answer>
SELECT MAX("Written") FROM 1-19534874-2 WHERE "Standard" = '2';
SELECT MAX("Written") FROM 1-19534874-2 WHERE "Standard" = 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next105>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Incumbent` FROM 1-19753079-8 WHERE `First_elected` = '2009';
SELECT `Incumbent` FROM 1-19753079-8 WHERE `First_elected` = '2009';
SELECT "Incumbent" FROM 1-19753079-8 WHERE "First_elected" = 2009
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next106>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "For_Round_Trip" FROM 1-19787093-1 WHERE "Till_Agra" = '1050';
SELECT "For_Round_Trip" FROM 1-19787093-1 WHERE "Till_Agra" = '1050';
SELECT MAX("For_Round_Trip") FROM 1-19787093-1 WHERE "Till_Agra" = 1050
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next107>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Closed" FROM 1-1987995-5 WHERE "Demod" = '1994';
SELECT "Closed" FROM 1-1987995-5 WHERE "Demod" = '1994';
SELECT MIN("Closed") FROM 1-1987995-5 WHERE "Demod" = 1994
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next108>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "No__in_series" FROM 1-19897294-8 ORDER BY "No__in_series" ASC LIMIT 1;</answer>
SELECT "No__in_series" FROM 1-19897294-8 ORDER BY "No__in_series" ASC LIMIT 1;
SELECT MIN("No__in_series") FROM 1-19897294-8
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next109>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT COUNT(*) FROM 1-19925114-1 WHERE `No__in_series` = '38';
SELECT COUNT(*) FROM 1-19925114-1 WHERE `No__in_series` = '38';
SELECT COUNT("Directed_by") FROM 1-19925114-1 WHERE "No__in_series" = 38
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next110>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "San_Antonio_de_Lomer_o_Municipality____" FROM 1-19998428-3 WHERE "San_Javier_Municipality____" = 31;</answer>
SELECT "San_Antonio_de_Lomer_o_Municipality____" FROM 1-19998428-3 WHERE "San_Javier_Municipality____" = 31;
SELECT "San_Antonio_de_Lomer_o_Municipality____" FROM 1-19998428-3 WHERE "San_Javier_Municipality____" = 31
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next111>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Season" FROM 1-20026849-1 WHERE "Contestants" = '20' ORDER BY "Season" DESC LIMIT 1;
SELECT "Season" FROM 1-20026849-1 WHERE "Contestants" = '20' ORDER BY "Season" DESC LIMIT 1;
SELECT MAX("Season") FROM 1-20026849-1 WHERE "Contestants" = 20
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next112>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Divisional_Titles` FROM 1-20190834-1 WHERE `Enrollment` = '30049' ORDER BY `Divisional_Titles` DESC LIMIT 1;</answer>
SELECT `Divisional_Titles` FROM 1-20190834-1 WHERE `Enrollment` = '30049' ORDER BY `Divisional_Titles` DESC LIMIT 1;
SELECT MAX("Divisional_Titles") FROM 1-20190834-1 WHERE "Enrollment" = 30049
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next113>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Prize__EUR_" FROM 1-20195922-3 WHERE "Number_of_winning_tickets" = '1';
SELECT "Prize__EUR_" FROM 1-20195922-3 WHERE "Number_of_winning_tickets" = '1';
SELECT "Prize__EUR_" FROM 1-20195922-3 WHERE "Number_of_winning_tickets" = 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next114>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT(*) FROM `1-20424140-3` WHERE `Rank_by_average` = '6'</answer>
SELECT COUNT(*) FROM `1-20424140-3` WHERE `Rank_by_average` = '6'
SELECT COUNT("Number_of_dances") FROM 1-20424140-3 WHERE "Place" = 6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next115>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Type" FROM 1-2076595-1 WHERE "Enrollment__2009_" = '224';
SELECT "Type" FROM 1-2076595-1 WHERE "Enrollment__2009_" = '224';
SELECT "Type" FROM 1-2076595-1 WHERE "Enrollment__2009_" = 224
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next116>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT COUNT(*) FROM 1-21062353-1 WHERE `Game` = 'Game 11';
SELECT COUNT(*) FROM 1-21062353-1 WHERE `Game` = 'Game 11';
SELECT COUNT("Wildcats_points") FROM 1-21062353-1 WHERE "Game" = 11
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next117>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Original_air_date` FROM 1-21172539-1 WHERE `No__in_season` = '15';
SELECT `Original_air_date` FROM 1-21172539-1 WHERE `No__in_season` = '15';
SELECT "Original_air_date" FROM 1-21172539-1 WHERE "No__in_season" = 15
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next118>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Long_jump` FROM 1-21276428-21 WHERE `_1500_m` = '2';
SELECT `Long_jump` FROM 1-21276428-21 WHERE `_1500_m` = '2';
SELECT COUNT("Long_jump") FROM 1-21276428-21 WHERE "_1500_m" = 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next119>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Written_by` FROM 1-21313498-1 WHERE `No__in_season` = '11'</answer>
SELECT `Written_by` FROM 1-21313498-1 WHERE `No__in_season` = '11'
SELECT "Written_by" FROM 1-21313498-1 WHERE "No__in_season" = 11
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next120>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MIN("Season") FROM 1-2140071-13;
SELECT MIN("Season") FROM 1-2140071-13;
SELECT MIN("Season") FROM 1-2140071-13
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next121>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Stadium" FROM 1-21436373-7 WHERE "Attendance" = '255627'</answer>
SELECT "Stadium" FROM 1-21436373-7 WHERE "Attendance" = '255627'
SELECT "Stadium" FROM 1-21436373-7 WHERE "Attendance" = 255627
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next122>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN("Third_Place") FROM 1-2146364-2;</answer>
SELECT MIN("Third_Place") FROM 1-2146364-2;
SELECT MIN("Third_Place") FROM 1-2146364-2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next123>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT COUNT(DISTINCT "Score_in_the_final") FROM 1-2201724-2 WHERE "Year" = '1963';
SELECT COUNT(DISTINCT "Score_in_the_final") FROM 1-2201724-2 WHERE "Year" = '1963';
SELECT COUNT("Score_in_the_final") FROM 1-2201724-2 WHERE "Year" = 1963
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next124>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

<answer>SELECT MIN("NJCAA_Championships") FROM 1-22319599-1;</answer>
SELECT MIN("NJCAA_Championships") FROM 1-22319599-1;
SELECT MIN("NJCAA_Championships") FROM 1-22319599-1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next125>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN("NJCAA_Championships") FROM 1-22319599-1;</answer>
SELECT MIN("NJCAA_Championships") FROM 1-22319599-1;
SELECT MIN("NJCAA_Championships") FROM 1-22319599-1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next126>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Athlete` FROM 1-22355-20 WHERE `Silver` = (SELECT MIN(`Silver`) FROM 1-22355-20)</answer>
SELECT `Athlete` FROM 1-22355-20 WHERE `Silver` = (SELECT MIN(`Silver`) FROM 1-22355-20)
SELECT MIN("Silver") FROM 1-22355-20
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next127>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Race_caller" FROM 1-22583466-5 WHERE "Year" = '1978'</answer>
SELECT "Race_caller" FROM 1-22583466-5 WHERE "Year" = '1978'
SELECT "Race_caller" FROM 1-22583466-5 WHERE "Year" = 1978
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next128>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Player` FROM 1-22824312-1 WHERE `Weight` = '170'</answer>
SELECT `Player` FROM 1-22824312-1 WHERE `Weight` = '170'
SELECT "Player" FROM 1-22824312-1 WHERE "Weight" = 170
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next129>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Score" FROM 1-22879323-10 WHERE "Game" = '80'</answer>
SELECT "Score" FROM 1-22879323-10 WHERE "Game" = '80'
SELECT "Score" FROM 1-22879323-10 WHERE "Game" = 80
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next130>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT(*) FROM 1-2290097-4 WHERE _4th_runner_up IS NOT NULL AND _2nd_runner_up < 1.0 AND _1st_runner_up < 1.0 AND Total = 2;</answer>
SELECT COUNT(*) FROM 1-2290097-4 WHERE _4th_runner_up IS NOT NULL AND _2nd_runner_up < 1.0 AND _1st_runner_up < 1.0 AND Total = 2;
SELECT COUNT("_4th_runner_up") FROM 1-2290097-4 WHERE "_2nd_runner_up" < 1.0 AND "_1st_runner_up" < 1.0 AND "Total" = 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next131>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Copa_del_Rey") FROM 1-22914245-9;</answer>
SELECT MAX("Copa_del_Rey") FROM 1-22914245-9;
SELECT MAX("Copa_del_Rey") FROM 1-22914245-9
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next132>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Others__" FROM 1-23014476-1 WHERE "Bush__" = '1372'</answer>
SELECT "Others__" FROM 1-23014476-1 WHERE "Bush__" = '1372'
SELECT "Others__" FROM 1-23014476-1 WHERE "Bush__" = 1372
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next133>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Free_Throws`
FROM 1-23183195-5
WHERE `Steals` = '4'
ORDER BY `Free_Throws` DESC
LIMIT 1;
SELECT `Free_Throws`
FROM 1-23183195-5
WHERE `Steals` = '4'
ORDER BY `Free_Throws` DESC
LIMIT 1;
SELECT MAX("Free_Throws") FROM 1-23183195-5 WHERE "Steals" = 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next134>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT(*) FROM 1-23239946-3 WHERE Points = 1942;</answer>
SELECT COUNT(*) FROM 1-23239946-3 WHERE Points = 1942;
SELECT COUNT("Driver") FROM 1-23239946-3 WHERE "Points" = 1942
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next135>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Score` FROM 1-23248940-9 WHERE `Game` = '50';
SELECT `Score` FROM 1-23248940-9 WHERE `Game` = '50';
SELECT "Score" FROM 1-23248940-9 WHERE "Game" = 50
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next136>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Location_Attendance` FROM 1-23248940-9 WHERE `Game` = '55'</answer>
SELECT `Location_Attendance` FROM 1-23248940-9 WHERE `Game` = '55'
SELECT "Location_Attendance" FROM 1-23248940-9 WHERE "Game" = 55
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next137>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Date` FROM 1-23248967-10 WHERE `Game` = '78';
SELECT `Date` FROM 1-23248967-10 WHERE `Game` = '78';
SELECT "Date" FROM 1-23248967-10 WHERE "Game" = 78
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next138>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Directed_by" FROM 1-23286722-1 WHERE "Season__" = '2';
SELECT "Directed_by" FROM 1-23286722-1 WHERE "Season__" = '2';
SELECT "Directed_by" FROM 1-23286722-1 WHERE "Season__" = 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next139>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Surface` FROM 1-23385853-1 WHERE `Round` = '8';
SELECT `Surface` FROM 1-23385853-1 WHERE `Round` = '8';
SELECT "Surface" FROM 1-23385853-1 WHERE "Round" = 8
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next140>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN("Pos") FROM 1-23385853-19 WHERE "Points" = 2;</answer>
SELECT MIN("Pos") FROM 1-23385853-19 WHERE "Points" = 2;
SELECT MAX("Pos") FROM 1-23385853-19 WHERE "Points" = 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next141>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Driver` FROM 1-23385853-19 WHERE `Stage_wins` > '65'</answer>
SELECT `Driver` FROM 1-23385853-19 WHERE `Stage_wins` > '65'
SELECT "Driver" FROM 1-23385853-19 WHERE "Stage_wins" = 65
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next142>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Opponent` FROM 1-23466021-4 WHERE `Attendance` = '36102';
SELECT `Opponent` FROM 1-23466021-4 WHERE `Attendance` = '36102';
SELECT "Opponent" FROM 1-23466021-4 WHERE "Attendance" = 36102
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next143>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Series_episode` FROM 1-23513241-5 WHERE `Prod__code` = '406' ORDER BY `Series_episode` ASC LIMIT 1;
SELECT `Series_episode` FROM 1-23513241-5 WHERE `Prod__code` = '406' ORDER BY `Series_episode` ASC LIMIT 1;
SELECT MIN("Series_episode") FROM 1-23513241-5 WHERE "Prod__code" = 406
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next144>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Episode" FROM 1-23730973-5 WHERE "No_" = '3';
SELECT "Episode" FROM 1-23730973-5 WHERE "No_" = '3';
SELECT "Episode" FROM 1-23730973-5 WHERE "No_" = 3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next145>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

<answer>SELECT `League` FROM 1-2380212-1 WHERE `Year` = '2007';</answer>
SELECT `League` FROM 1-2380212-1 WHERE `Year` = '2007';
SELECT "League" FROM 1-2380212-1 WHERE "Year" = 2007
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next146>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Wins") FROM 1-2387790-1 WHERE "Poles" = '2';</answer>
SELECT MAX("Wins") FROM 1-2387790-1 WHERE "Poles" = '2';
SELECT MAX("Wins") FROM 1-2387790-1 WHERE "Poles" = 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next147>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Title` FROM 1-23916272-6 WHERE `Season__` = '8';</answer>
SELECT `Title` FROM 1-23916272-6 WHERE `Season__` = '8';
SELECT "Title" FROM 1-23916272-6 WHERE "Season__" = 8
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next148>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT COUNT("No__by_series") FROM 1-23958944-6 WHERE "Title" = '19';
SELECT COUNT("No__by_series") FROM 1-23958944-6 WHERE "Title" = '19';
SELECT "No__by_series" FROM 1-23958944-6 WHERE "No__by_season" = 19
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next149>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Stumped" FROM 1-24039597-26 WHERE "Innings" = '143'</answer>
SELECT "Stumped" FROM 1-24039597-26 WHERE "Innings" = '143'
SELECT "Stumped" FROM 1-24039597-26 WHERE "Innings" = 143
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next150>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Matches" FROM 1-24039597-26 WHERE "Dismissals" = '44'</answer>
SELECT "Matches" FROM 1-24039597-26 WHERE "Dismissals" = '44'
SELECT COUNT("Dismissals") FROM 1-24039597-26 WHERE "Matches" = 44
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next151>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Directed_by` FROM 1-2409041-9 WHERE `No__in_series` = '179'</answer>
SELECT `Directed_by` FROM 1-2409041-9 WHERE `No__in_series` = '179'
SELECT "Directed_by" FROM 1-2409041-9 WHERE "No__in_series" = 179
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next152>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Title" FROM 1-2409041-6 WHERE "No__in_season" = '18';
SELECT "Title" FROM 1-2409041-6 WHERE "No__in_season" = '18';
SELECT COUNT("No__in_series") FROM 1-2409041-6 WHERE "No__in_season" = 18
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next153>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MIN("Before") FROM `1-24108789-4`;
SELECT MIN("Before") FROM `1-24108789-4`;
SELECT MIN("Before") FROM 1-24108789-4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next154>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Player" FROM 1-24108789-6 WHERE "Events" = '22';
SELECT "Player" FROM 1-24108789-6 WHERE "Events" = '22';
SELECT "Player" FROM 1-24108789-6 WHERE "Events" = 22
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next155>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Points` FROM 1-24108789-6 WHERE "Player" = '6' LIMIT 1;
SELECT `Points` FROM 1-24108789-6 WHERE "Player" = '6' LIMIT 1;
SELECT MIN("Points") FROM 1-24108789-6 WHERE "_" = 6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next156>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Points" FROM 1-24108789-6 WHERE "Reset_points" = '800';
SELECT "Points" FROM 1-24108789-6 WHERE "Reset_points" = '800';
SELECT COUNT("Points") FROM 1-24108789-6 WHERE "Reset_points" = 800
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next157>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Directed_by` FROM 1-24132054-1 WHERE `No__in_series` = '28'</answer>
SELECT `Directed_by` FROM 1-24132054-1 WHERE `No__in_series` = '28'
SELECT "Directed_by" FROM 1-24132054-1 WHERE "No__in_series" = 28
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next158>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Basses") FROM 1-2414-1;</answer>
SELECT MAX("Basses") FROM 1-2414-1;
SELECT MAX("Basses") FROM 1-2414-1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next159>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Date` FROM 1-24278858-2 WHERE `Week` = '8';
SELECT `Date` FROM 1-24278858-2 WHERE `Week` = '8';
SELECT "Date" FROM 1-24278858-2 WHERE "Week" = 8
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next160>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN("Play_Off_Legs_won") FROM 1-24334163-1;</answer>
SELECT MIN("Play_Off_Legs_won") FROM 1-24334163-1;
SELECT MIN("Winners_Play_Off_Legs_won") FROM 1-24334163-1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next161>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Airdate` FROM 1-24399615-5 WHERE `Episode_no_` = '6'</answer>
SELECT `Airdate` FROM 1-24399615-5 WHERE `Episode_no_` = '6'
SELECT "Airdate" FROM 1-24399615-5 WHERE "Episode_no_" = 6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next162>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Game_site` FROM 1-24481478-1 WHERE `Attendance` = '29753'</answer>
SELECT `Game_site` FROM 1-24481478-1 WHERE `Attendance` = '29753'
SELECT "Game_site" FROM 1-24481478-1 WHERE "Attendance" = 29753
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next163>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Team_record` FROM 1-24481478-1 WHERE `Week` = '7';
SELECT `Team_record` FROM 1-24481478-1 WHERE `Week` = '7';
SELECT "Team_record" FROM 1-24481478-1 WHERE "Week" = 7
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next164>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Area__km_2__` FROM 1-24574438-1 WHERE `Area__km_2__` = (SELECT MIN(`Area__km_2__`) FROM 1-24574438-1) </answer>
SELECT `Area__km_2__` FROM 1-24574438-1 WHERE `Area__km_2__` = (SELECT MIN(`Area__km_2__`) FROM 1-24574438-1)
SELECT MIN("Area__km_2__") FROM 1-24574438-1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next165>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN("Minutes") FROM 1-24856332-4 WHERE "Steals" = 47;</answer>
SELECT MIN("Minutes") FROM 1-24856332-4 WHERE "Steals" = 47;
SELECT MIN("Minutes") FROM 1-24856332-4 WHERE "Steals" = 47
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next166>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MIN("Field_Goals") FROM 1-24908692-5 WHERE "Assists" = '84';
SELECT MIN("Field_Goals") FROM 1-24908692-5 WHERE "Assists" = '84';
SELECT MIN("Field_Goals") FROM 1-24908692-5 WHERE "Assists" = 84
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next167>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

SELECT MAX("Rebounds") FROM 1-24913533-4 WHERE "Steals" = '35';
SELECT MAX("Rebounds") FROM 1-24913533-4 WHERE "Steals" = '35';
SELECT MAX("Rebounds") FROM 1-24913533-4 WHERE "Steals" = 35
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next168>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MAX("Week") FROM 1-24951872-2 WHERE "Attendance" = '10738';
SELECT MAX("Week") FROM 1-24951872-2 WHERE "Attendance" = '10738';
SELECT MAX("Week") FROM 1-24951872-2 WHERE "Attendance" = 10738
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next169>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT("Week") FROM 1-24989925-2;</answer>
SELECT COUNT("Week") FROM 1-24989925-2;
SELECT MAX("Week") FROM 1-24989925-2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next170>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Language" FROM 1-2509112-3 WHERE "Villa_Rivero_Municipality" = '7'</answer>
SELECT "Language" FROM 1-2509112-3 WHERE "Villa_Rivero_Municipality" = '7'
SELECT "Language" FROM 1-2509112-3 WHERE "Villa_Rivero_Municipality" = 7
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next171>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Quillacollo_Municipality" FROM 1-2509113-2 WHERE "Vinto_Municipality" = '18630'</answer>
SELECT "Quillacollo_Municipality" FROM 1-2509113-2 WHERE "Vinto_Municipality" = '18630'
SELECT MAX("Quillacollo_Municipality") FROM 1-2509113-2 WHERE "Vinto_Municipality" = 18630
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next172>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Won" FROM 1-2509505-1 WHERE "Goals_for" = '274'</answer>
SELECT "Won" FROM 1-2509505-1 WHERE "Goals_for" = '274'
SELECT COUNT("Won") FROM 1-2509505-1 WHERE "Goals_for" = 274
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next173>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Height" FROM 1-25360865-1 WHERE "Number" = 32</answer>
SELECT "Height" FROM 1-25360865-1 WHERE "Number" = 32
SELECT COUNT("Height") FROM 1-25360865-1 WHERE "_" = 32
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next174>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `F_Laps` FROM 1-25375093-1 ORDER BY `F_Laps` ASC LIMIT 1;</answer>
SELECT `F_Laps` FROM 1-25375093-1 ORDER BY `F_Laps` ASC LIMIT 1;
SELECT MIN("F_Laps") FROM 1-25375093-1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next175>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT COUNT("Dominant_religion__2002_") FROM 1-2562572-53 WHERE "Population__2011_" = '17105';
SELECT COUNT("Dominant_religion__2002_") FROM 1-2562572-53 WHERE "Population__2011_" = '17105';
SELECT COUNT("Dominant_religion__2002_") FROM 1-2562572-53 WHERE "Population__2011_" = 17105
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next176>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN(NO_votes) FROM 1-256286-13;</answer>
SELECT MIN(NO_votes) FROM 1-256286-13;
SELECT MIN("NO_votes") FROM 1-256286-13
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next177>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT(*) FROM 1-25649467-2 WHERE `Season__` = '12'</answer>
SELECT COUNT(*) FROM 1-25649467-2 WHERE `Season__` = '12'
SELECT COUNT("Series__") FROM 1-25649467-2 WHERE "Season__" = 12
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next178>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `U_S__viewers__million_` FROM 1-25668962-1 WHERE `No__in_series` = '6';
SELECT `U_S__viewers__million_` FROM 1-25668962-1 WHERE `No__in_series` = '6';
SELECT "U_S__viewers__million_" FROM 1-25668962-1 WHERE "No__in_series" = 6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next179>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN(`Extra_points`) FROM 1-25730326-2;</answer>
SELECT MIN(`Extra_points`) FROM 1-25730326-2;
SELECT MIN("Extra_points") FROM 1-25730326-2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next180>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT SUM("Touchdowns") WHERE "Points" = 10;
SELECT SUM("Touchdowns") WHERE "Points" = 10;
SELECT MIN("Touchdowns") FROM 1-25730326-2 WHERE "Points" = 10
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next181>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Director` FROM 1-25737761-3 WHERE `Episode` = '2'</answer>
SELECT `Director` FROM 1-25737761-3 WHERE `Episode` = '2'
SELECT "Director" FROM 1-25737761-3 WHERE "No_" = 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next182>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `No__in_series` FROM 1-25810656-3 WHERE `Production_code` = '204';
SELECT `No__in_series` FROM 1-25810656-3 WHERE `Production_code` = '204';
SELECT "No__in_series" FROM 1-25810656-3 WHERE "Production_code" = 204
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next183>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN("Runs") FROM `1-26041144-10`;</answer>
SELECT MIN("Runs") FROM `1-26041144-10`;
SELECT MIN("Runs") FROM 1-26041144-10
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next184>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Opponent` FROM 1-26108103-2 WHERE `Rushing_yards` = '81'
SELECT `Opponent` FROM 1-26108103-2 WHERE `Rushing_yards` = '81'
SELECT "Opponent" FROM 1-26108103-2 WHERE "Rushing_yards" = 81
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next185>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Writer` FROM 1-26139405-1 WHERE `Episode__` = '26'</answer>
SELECT `Writer` FROM 1-26139405-1 WHERE `Episode__` = '26'
SELECT "Writer" FROM 1-26139405-1 WHERE "Episode__" = 26
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next186>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("F_Laps") FROM 1-26178824-1;</answer>
SELECT MAX("F_Laps") FROM 1-26178824-1;
SELECT MAX("F_Laps") FROM 1-26178824-1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next187>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Directed_by` FROM 1-2618072-1 WHERE `Production_code` = '67425';</answer>
SELECT `Directed_by` FROM 1-2618072-1 WHERE `Production_code` = '67425';
SELECT "Directed_by" FROM 1-2618072-1 WHERE "Production_code" = 67425
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next188>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Rank__week_` FROM 1-26199130-1 WHERE `No_` = '34';
SELECT `Rank__week_` FROM 1-26199130-1 WHERE `No_` = '34';
SELECT "Rank__week_" FROM 1-26199130-1 WHERE "No_" = 34
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next189>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

<answer>SELECT COUNT(*) FROM 1-26218783-7 WHERE Points = '6675';</answer>
SELECT COUNT(*) FROM 1-26218783-7 WHERE Points = '6675';
SELECT COUNT("Points_won") FROM 1-26218783-7 WHERE "Points" = 6675
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next190>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Status` FROM 1-26218783-7 WHERE `Sd` = '15';
SELECT `Status` FROM 1-26218783-7 WHERE `Sd` = '15';
SELECT "Status" FROM 1-26218783-7 WHERE "Sd" = 15
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next191>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Wins" FROM 1-2622469-1 WHERE "Year" = '1983'</answer>
SELECT "Wins" FROM 1-2622469-1 WHERE "Year" = '1983'
SELECT "Wins" FROM 1-2622469-1 WHERE "Year" = 1983
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next192>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Type` FROM 1-262560-1 WHERE `Joined` = '2007';
SELECT `Type` FROM 1-262560-1 WHERE `Joined` = '2007';
SELECT "Type" FROM 1-262560-1 WHERE "Joined" = 2007
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next193>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Callsign` FROM 1-2638104-1 WHERE `Channel` = '6'</answer>
SELECT `Callsign` FROM 1-2638104-1 WHERE `Channel` = '6'
SELECT "Callsign" FROM 1-2638104-1 WHERE "Channel" = 6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next194>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Director` FROM 1-26866519-1 WHERE `Series__` = '201' AND `Season__` = '201'</answer>
SELECT `Director` FROM 1-26866519-1 WHERE `Series__` = '201' AND `Season__` = '201'
SELECT "Director" FROM 1-26866519-1 WHERE "Series__" = 201
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next195>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX(`Ends_Lost`) FROM 1-26912584-2;</answer>
SELECT MAX(`Ends_Lost`) FROM 1-26912584-2;
SELECT MAX("Ends_Lost") FROM 1-26912584-2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next196>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Number_of_floors" FROM 1-27067379-1 WHERE "Completion" = '2010';</answer>
SELECT "Number_of_floors" FROM 1-27067379-1 WHERE "Completion" = '2010';
SELECT MIN("Number_of_floors") FROM 1-27067379-1 WHERE "Completion" = 2010
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next197>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Home_Total") FROM 1-27094070-4;</answer>
SELECT MAX("Home_Total") FROM 1-27094070-4;
SELECT MAX("Home_Total") FROM 1-27094070-4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next198>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Natural_change_per_year` FROM 1-27434-2 WHERE `IMR_` = '34'</answer>
SELECT `Natural_change_per_year` FROM 1-27434-2 WHERE `IMR_` = '34'
SELECT "Natural_change_per_year" FROM 1-27434-2 WHERE "IMR_" = 34
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next199>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Average` FROM 1-27496841-3 WHERE `Rank_by_average` = '3';
SELECT `Average` FROM 1-27496841-3 WHERE `Rank_by_average` = '3';
SELECT "Average" FROM 1-27496841-3 WHERE "Rank_by_average" = 3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next200>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MIN("Old_membership_total") FROM 1-27671835-3;
SELECT MIN("Old_membership_total") FROM 1-27671835-3;
SELECT MIN("Old_membership_total") FROM 1-27671835-3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next201>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `No_s___in_series` FROM 1-27714985-1 WHERE `Production_code_s_` = '226407';
SELECT `No_s___in_series` FROM 1-27714985-1 WHERE `Production_code_s_` = '226407';
SELECT MIN("No_s___in_season") FROM 1-27714985-1 WHERE "Production_code_s_" = 226407
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next202>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `High_rebounds` FROM 1-27723526-17 WHERE `Game` = '5'</answer>
SELECT `High_rebounds` FROM 1-27723526-17 WHERE `Game` = '5'
SELECT "High_rebounds" FROM 1-27723526-17 WHERE "Game" = 5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next203>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Location_Attendance` FROM 1-27756474-2 WHERE `Game` = '5'</answer>
SELECT `Location_Attendance` FROM 1-27756474-2 WHERE `Game` = '5'
SELECT "Location_Attendance" FROM 1-27756474-2 WHERE "Game" = 5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next204>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MAX(`Channel_number`) FROM 1-27871460-2;
SELECT MAX(`Channel_number`) FROM 1-27871460-2;
SELECT MAX("Channel_number") FROM 1-27871460-2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next205>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Player` FROM 1-27906667-2 WHERE `_180s` = '15';
SELECT `Player` FROM 1-27906667-2 WHERE `_180s` = '15';
SELECT "Player" FROM 1-27906667-2 WHERE "_180s" = 15
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next206>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT(*) FROM 1-27994983-8 WHERE `Juries` = '3';</answer>
SELECT COUNT(*) FROM 1-27994983-8 WHERE `Juries` = '3';
SELECT MAX("Juries") FROM 1-27994983-8 WHERE "Draw" = 3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next207>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Alliance` FROM 1-28005809-2 WHERE `Total` = '25' ORDER BY `Alliance` ASC LIMIT 1;</answer>
SELECT `Alliance` FROM 1-28005809-2 WHERE `Total` = '25' ORDER BY `Alliance` ASC LIMIT 1;
SELECT MIN("Alliance") FROM 1-28005809-2 WHERE "Total" = 25
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next208>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Home_Venue` FROM 1-283203-1 WHERE `Founded` = '1993';
SELECT `Home_Venue` FROM 1-283203-1 WHERE `Founded` = '1993';
SELECT "Home_Venue" FROM 1-283203-1 WHERE "Founded" = 1993
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next209>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX(Assists) FROM 1-28461589-2 WHERE Games_played = '25';</answer>
SELECT MAX(Assists) FROM 1-28461589-2 WHERE Games_played = '25';
SELECT MAX("Assists") FROM 1-28461589-2 WHERE "Games_played" = 25
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next210>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Christer_Tornell` FROM 1-28677723-10 WHERE `Karianne_Gulliksen` = '7'</answer>
SELECT `Christer_Tornell` FROM 1-28677723-10 WHERE `Karianne_Gulliksen` = '7'
SELECT MIN("Christer_Tornell") FROM 1-28677723-10 WHERE "Karianne_Gulliksen" = 7
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next211>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

SELECT COUNT(*) FROM 1-28677723-11 WHERE "Christer_Tornell" = '30';
SELECT COUNT(*) FROM 1-28677723-11 WHERE "Christer_Tornell" = '30';
SELECT COUNT("Christer_Tornell") FROM 1-28677723-11 WHERE "Total" = 30
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next212>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Rank__timeslot_" FROM 1-28980706-4 WHERE "Share__18_49_" = '13'</answer>
SELECT "Rank__timeslot_" FROM 1-28980706-4 WHERE "Share__18_49_" = '13'
SELECT "Rank__timeslot_" FROM 1-28980706-4 WHERE "Share__18_49_" = 13
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next213>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT(*) FROM 1-29152820-1 WHERE `No__in_series` = '122'</answer>
SELECT COUNT(*) FROM 1-29152820-1 WHERE `No__in_series` = '122'
SELECT COUNT("No__in_season") FROM 1-29152820-1 WHERE "No__in_series" = 122
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next214>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Team` FROM 1-29181479-3 WHERE `Game` = '5';</answer>
SELECT `Team` FROM 1-29181479-3 WHERE `Game` = '5';
SELECT "Team" FROM 1-29181479-3 WHERE "Game" = 5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next215>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MAX("Number_of_major_hurricanes") FROM 1-2930244-3;
SELECT MAX("Number_of_major_hurricanes") FROM 1-2930244-3;
SELECT MAX("Number_of_major_hurricanes") FROM 1-2930244-3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next216>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Episode_title" FROM 1-29475589-3 WHERE "Prod__code" = '22';
SELECT "Episode_title" FROM 1-29475589-3 WHERE "Prod__code" = '22';
SELECT "Episode_title" FROM 1-29475589-3 WHERE "No_" = 22
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next217>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "U_S__original_airdate" FROM 1-29475589-5 WHERE "No_" = '9';
SELECT "U_S__original_airdate" FROM 1-29475589-5 WHERE "No_" = '9';
SELECT "U_S__original_airdate" FROM 1-29475589-5 WHERE "_" = 9
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next218>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Blank_Ends` FROM 1-29565673-2 WHERE `W` > '6.0'</answer>
SELECT `Blank_Ends` FROM 1-29565673-2 WHERE `W` > '6.0'
SELECT "Blank_Ends" FROM 1-29565673-2 WHERE "W" > 6.0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next219>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Status` FROM 1-29572583-19 WHERE `Points` = '4595';
SELECT `Status` FROM 1-29572583-19 WHERE `Points` = '4595';
SELECT "Status" FROM 1-29572583-19 WHERE "Points" = 4595
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next220>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Clubs_remaining` FROM 1-29566686-1 WHERE `Winners_from_previous_round` = '4';
SELECT `Clubs_remaining` FROM 1-29566686-1 WHERE `Winners_from_previous_round` = '4';
SELECT "Clubs_remaining" FROM 1-29566686-1 WHERE "Winners_from_previous_round" = 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next221>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Production_code` FROM `1-29583441-1` WHERE `Production_code` = (SELECT MIN(`Production_code`) FROM `1-29583441-1`) </answer>
SELECT `Production_code` FROM `1-29583441-1` WHERE `Production_code` = (SELECT MIN(`Production_code`) FROM `1-29583441-1`)
SELECT MIN("Production_code") FROM 1-29583441-1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next222>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Total_appearances` FROM 1-29701419-2 WHERE `Total_goals` = 289;</answer>
SELECT `Total_appearances` FROM 1-29701419-2 WHERE `Total_goals` = 289;
SELECT MIN("Total_appearances") FROM 1-29701419-2 WHERE "Total_goals" = 289
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next223>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Total_appearances") FROM 1-29701419-2 WHERE "League_appearances" = '192'</answer>
SELECT SUM("Total_appearances") FROM 1-29701419-2 WHERE "League_appearances" = '192'
SELECT COUNT("Total_appearances") FROM 1-29701419-2 WHERE "League_appearances" = 192
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next224>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `FA_Cup_Apps` FROM 1-2979789-1 WHERE `League_Apps` = '27' ORDER BY `FA_Cup_Goals` DESC LIMIT 1;
SELECT `FA_Cup_Apps` FROM 1-2979789-1 WHERE `League_Apps` = '27' ORDER BY `FA_Cup_Goals` DESC LIMIT 1;
SELECT MAX("FA_Cup_Apps") FROM 1-2979789-1 WHERE "League_Apps" = 27
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next225>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT COUNT(*) FROM 1-29942205-1 WHERE "Miss_International" = 'women' AND "Country_Territory" = (SELECT "Country_Territory" FROM 1-29942205-1 WHERE "Rank" = '1')
SELECT COUNT(*) FROM 1-29942205-1 WHERE "Miss_International" = 'women' AND "Country_Territory" = (SELECT "Country_Territory" FROM 1-29942205-1 WHERE "Rank" = '1')
SELECT MIN("Miss_International") FROM 1-29942205-1 WHERE "Rank" = 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next226>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MAX("Event") FROM 1-30060356-3;
SELECT MAX("Event") FROM 1-30060356-3;
SELECT MAX("Event") FROM 1-30060356-3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next227>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "CFL_Team" FROM 1-30108930-6 WHERE "Pick__" = '34'</answer>
SELECT "CFL_Team" FROM 1-30108930-6 WHERE "Pick__" = '34'
SELECT "CFL_Team" FROM 1-30108930-6 WHERE "Pick__" = 34
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next228>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "UK_Total_viewers" FROM 1-30139175-3 WHERE "Episode_no_" = '50';
SELECT "UK_Total_viewers" FROM 1-30139175-3 WHERE "Episode_no_" = '50';
SELECT "UK_Total_viewers" FROM 1-30139175-3 WHERE "Episode_no_" = 50
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next229>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Year" FROM 2-10040530-1 WHERE "Points" > 0;</answer>
SELECT "Year" FROM 2-10040530-1 WHERE "Points" > 0;
SELECT "Year" FROM 2-10040530-1 WHERE "Points" > 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next230>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Tyres" FROM 2-10040530-1 WHERE "Year" > '1984'</answer>
SELECT "Tyres" FROM 2-10040530-1 WHERE "Year" > '1984'
SELECT "Tyres" FROM 2-10040530-1 WHERE "Year" > 1984
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next231>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

SELECT "b_p__comp__2___C_" FROM 2-10181793-6 WHERE "__wt_comp__1" = '76';
SELECT "b_p__comp__2___C_" FROM 2-10181793-6 WHERE "__wt_comp__1" = '76';
SELECT "b_p__comp__2___C_" FROM 2-10181793-6 WHERE "__wt_comp__1" = 76
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next232>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Bosniaks") FROM 2-10040344-1 WHERE "Census_year" > '2002'</answer>
SELECT MAX("Bosniaks") FROM 2-10040344-1 WHERE "Census_year" > '2002'
SELECT MAX("Bosniaks") FROM 2-10040344-1 WHERE "Census_year" > 2002
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next233>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Date` FROM 2-1007636-2 WHERE `Goal` = '5'</answer>
SELECT `Date` FROM 2-1007636-2 WHERE `Goal` = '5'
SELECT "Date" FROM 2-1007636-2 WHERE "Goal" = 5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next234>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG(`Heat_Rank`) FROM 2-10289926-9 WHERE `Lane` = 2 AND `Time` < '27.66'</answer>
SELECT AVG(`Heat_Rank`) FROM 2-10289926-9 WHERE `Lane` = 2 AND `Time` < '27.66'
SELECT AVG("Heat_Rank") FROM 2-10289926-9 WHERE "Lane" = 2 AND "Time" < 27.66
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next235>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Overall_Rank` FROM 2-10289926-9 WHERE `Lane` < 8 AND `Time` < '27.16'</answer>
SELECT `Overall_Rank` FROM 2-10289926-9 WHERE `Lane` < 8 AND `Time` < '27.16'
SELECT MAX("Overall_Rank") FROM 2-10289926-9 WHERE "Lane" < 8 AND "Time" < 27.16
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next236>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Laps` FROM 2-1020258-2 WHERE `Grid` = 19;</answer>
SELECT `Laps` FROM 2-1020258-2 WHERE `Grid` = 19;
SELECT COUNT("Laps") FROM 2-10202258-2 WHERE "Grid" = 19
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next237>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Fourth_Place" FROM 2-10283965-4 WHERE "Year" = '2010'</answer>
SELECT "Fourth_Place" FROM 2-10283965-4 WHERE "Year" = '2010'
SELECT "Fourth_Place" FROM 2-10283965-4 WHERE "Year" = 2010
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next238>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Total") FROM 2-10093722-2 WHERE "Rank" = '1'</answer>
SELECT SUM("Total") FROM 2-10093722-2 WHERE "Rank" = '1'
SELECT SUM("Total") FROM 2-10093722-2 WHERE "Rank" = 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next239>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT COUNT(*) FROM 2-10556257-1 WHERE `Cup_Goals` > '2' AND `Cup_Apps` > '6';
SELECT COUNT(*) FROM 2-10556257-1 WHERE `Cup_Goals` > '2' AND `Cup_Apps` > '6';
SELECT SUM("League_Apps") FROM 2-10556257-1 WHERE "Cup_Goals" > 2 AND "Cup_Apps" > 6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next240>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Date" FROM 2-10652497-2 WHERE "Week" = '4'</answer>
SELECT "Date" FROM 2-10652497-2 WHERE "Week" = '4'
SELECT "Date" FROM 2-10652497-2 WHERE "Week" = 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next241>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Attendance" FROM 2-10652161-2 WHERE "Week" = '1';
SELECT "Attendance" FROM 2-10652161-2 WHERE "Week" = '1';
SELECT "Attendance" FROM 2-10652161-2 WHERE "Week" = 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next242>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Attendance` FROM 2-10745921-1 WHERE `Week` = '17' AND `Opponent` = 'Jets'</answer>
SELECT `Attendance` FROM 2-10745921-1 WHERE `Week` = '17' AND `Opponent` = 'Jets'
SELECT "Attendance" FROM 2-10745921-1 WHERE "Week" = 17
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next243>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN(`Bronze`) FROM `2-10649319-3` WHERE `Rank` < '13'</answer>
SELECT MIN(`Bronze`) FROM `2-10649319-3` WHERE `Rank` < '13'
SELECT MIN("Bronze") FROM 2-10649319-3 WHERE "Rank" > 13
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next244>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Silver" FROM 2-10773296-2 WHERE "Gold" = '4' AND "Total" = '22';
SELECT "Silver" FROM 2-10773296-2 WHERE "Gold" = '4' AND "Total" = '22';
SELECT MIN("Silver") FROM 2-10773296-2 WHERE "Gold" = 4 AND "Total" = 22
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next245>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT SUM("Car__") FROM 2-10781986-1 WHERE `Points` < 126 AND `Laps` = 147;
SELECT SUM("Car__") FROM 2-10781986-1 WHERE `Points` < 126 AND `Laps` = 147;
SELECT SUM("Car__") FROM 2-10781986-1 WHERE "Points" < 126 AND "Laps" = 147
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next246>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Total`
FROM 2-1064216-1
WHERE `Lecturers` = '6' AND `Professors` < '48';
SELECT `Total`
FROM 2-1064216-1
WHERE `Lecturers` = '6' AND `Professors` < '48';
SELECT AVG("Total") FROM 2-1064216-1 WHERE "Lecturers" = 6 AND "Professors" < 48
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next247>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Total`
FROM 2-1064216-1
WHERE `Associate_professors` > '4' AND `Lecturers` = '5' AND `Professors` < '40';
SELECT `Total`
FROM 2-1064216-1
WHERE `Associate_professors` > '4' AND `Lecturers` = '5' AND `Professors` < '40';
SELECT COUNT("Total") FROM 2-1064216-1 WHERE "Associate_professors" > 4 AND "Lecturers" = 5 AND "Professors" < 40
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next248>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT SUM("Lecturers") FROM 2-1064216-1 WHERE "Assistant_professors" > 8 AND "Associate_professors" < 35 AND "Professors" > 14 AND "Total" > 81;
SELECT SUM("Lecturers") FROM 2-1064216-1 WHERE "Assistant_professors" > 8 AND "Associate_professors" < 35 AND "Professors" > 14 AND "Total" > 81;
SELECT COUNT("Lecturers") FROM 2-1064216-1 WHERE "Assistant_professors" > 8 AND "Professors" > 14 AND "Associate_professors" < 35 AND "Total" > 81
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next249>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Start", COUNT("Start")
FROM 2-1074616-5
WHERE "Lost" < 22 AND "Tries" > 4;
SELECT "Start", COUNT("Start")
FROM 2-1074616-5
WHERE "Lost" < 22 AND "Tries" > 4;
SELECT AVG("Start") FROM 2-1074616-5 WHERE "Lost" < 22 AND "Tries" > 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next250>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT SUM("Draw")
FROM 2-10661351-1
WHERE "Loss" < '8' AND "Point" > '30' AND "Goal_Diff" > '26';
SELECT SUM("Draw")
FROM 2-10661351-1
WHERE "Loss" < '8' AND "Point" > '30' AND "Goal_Diff" > '26';
SELECT COUNT("Draw") FROM 2-10661351-1 WHERE "Loss" < 8 AND "Point" > 30 AND "Goal_Diff" > 26
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next251>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

SELECT `High_Score` FROM 2-10621256-1 WHERE `Stump` = '0' AND `Catches` = '4' AND `Inns` > '14' AND `Average` < '56.1';
SELECT `High_Score` FROM 2-10621256-1 WHERE `Stump` = '0' AND `Catches` = '4' AND `Inns` > '14' AND `Average` < '56.1';
SELECT SUM("High_Score") FROM 2-10621256-1 WHERE "Stump" = 0 AND "Catches" = 4 AND "Average" < 56.1 AND "Inns" > 14
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next252>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Result" FROM 2-10647554-1 WHERE "Week" = '14';</answer>
SELECT "Result" FROM 2-10647554-1 WHERE "Week" = '14';
SELECT "Result" FROM 2-10647554-1 WHERE "Week" = 14
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next253>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Player` FROM 2-10566391-8 WHERE `Reb__Avg_` > '9' AND `Total_Rebounds` = '920' AND `Games` > '79'</answer>
SELECT `Player` FROM 2-10566391-8 WHERE `Reb__Avg_` > '9' AND `Total_Rebounds` = '920' AND `Games` > '79'
SELECT MIN("Rank") FROM 2-10566391-8 WHERE "Reb__Avg_" > 9 AND "Total_Rebounds" = 920 AND "Games" > 79
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next254>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Opponent" FROM 2-10735579-2 WHERE "Week" = '8'</answer>
SELECT "Opponent" FROM 2-10735579-2 WHERE "Week" = '8'
SELECT "Opponent" FROM 2-10735579-2 WHERE "Week" = 8
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next255>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Dance_Styles" FROM 2-10530468-1 WHERE "Points" = 18 AND "Draw" < '15'</answer>
SELECT "Dance_Styles" FROM 2-10530468-1 WHERE "Points" = 18 AND "Draw" < '15'
SELECT "Dance_Styles" FROM 2-10530468-1 WHERE "Draw" < 15 AND "Points" = 18
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next256>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MIN("Overall") FROM 2-10651935-1 WHERE "Round" = '7';
SELECT MIN("Overall") FROM 2-10651935-1 WHERE "Round" = '7';
SELECT MIN("Overall") FROM 2-10651935-1 WHERE "Round" = 7
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next257>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Color_commentator_s_` FROM 2-10716893-3 WHERE `Year` = '2008';</answer>
SELECT `Color_commentator_s_` FROM 2-10716893-3 WHERE `Year` = '2008';
SELECT "Color_commentator_s_" FROM 2-10716893-3 WHERE "Year" = 2008
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next258>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Goals" FROM 2-149286-9 WHERE "Caps" = '93'</answer>
SELECT "Goals" FROM 2-149286-9 WHERE "Caps" = '93'
SELECT "Goals" FROM 2-149286-9 WHERE "Caps" = 93
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next259>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Score` FROM 2-14208850-10 WHERE `Game` = '5';
SELECT `Score` FROM 2-14208850-10 WHERE `Game` = '5';
SELECT "Score" FROM 2-14208850-10 WHERE "Game" = 5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next260>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Name` FROM 2-15089329-2 WHERE `DCSF_number` > '2448' AND `Ofsted_number` = '131319'</answer>
SELECT `Name` FROM 2-15089329-2 WHERE `DCSF_number` > '2448' AND `Ofsted_number` = '131319'
SELECT "Name" FROM 2-15089329-2 WHERE "DCSF_number" > 2448 AND "Ofsted_number" = 131319
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next261>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG("Gold") FROM 2-14807308-1 WHERE "Silver" > '2' AND "Bronze" > '1'</answer>
SELECT AVG("Gold") FROM 2-14807308-1 WHERE "Silver" > '2' AND "Bronze" > '1'
SELECT AVG("Gold") FROM 2-14807308-1 WHERE "Silver" > 2 AND "Bronze" > 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next262>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Name` FROM `2-15198842-8` WHERE `Round` = '15' AND `Pick__` < '13';
SELECT `Name` FROM `2-15198842-8` WHERE `Round` = '15' AND `Pick__` < '13';
SELECT "Name" FROM 2-15198842-8 WHERE "Pick__" < 13 AND "Round" = 15
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next263>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Remixed_by` FROM 2-14871719-2 WHERE `Year` > '1999'</answer>
SELECT `Remixed_by` FROM 2-14871719-2 WHERE `Year` > '1999'
SELECT "Remixed_by" FROM 2-14871719-2 WHERE "Year" > 1999
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next264>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `February` FROM 2-14056030-6 WHERE `Game` = '56'</answer>
SELECT `February` FROM 2-14056030-6 WHERE `Game` = '56'
SELECT AVG("February") FROM 2-14056030-6 WHERE "Game" = 56
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next265>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT(*) FROM 2-1449176-1 WHERE `Altitude__mslm_` > 302 AND `Area__km_2__` = '29.2'</answer>
SELECT COUNT(*) FROM 2-1449176-1 WHERE `Altitude__mslm_` > 302 AND `Area__km_2__` = '29.2'
SELECT COUNT("Population") FROM 2-1449176-1 WHERE "Altitude__mslm_" > 302 AND "Area__km_2__" = 29.2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next266>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Silver` FROM 2-1467600-1 WHERE `Bronze` > 1 AND `Gold` > 1 AND `Total` < 7</answer>
SELECT `Silver` FROM 2-1467600-1 WHERE `Bronze` > 1 AND `Gold` > 1 AND `Total` < 7
SELECT MAX("Silver") FROM 2-1467600-1 WHERE "Bronze" > 1 AND "Total" < 7 AND "Gold" > 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next267>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Player` FROM 2-14583241-4 WHERE `Rank` = '1';</answer>
SELECT `Player` FROM 2-14583241-4 WHERE `Rank` = '1';
SELECT "Player" FROM 2-14583241-4 WHERE "Rank" = 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next268>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Attendance` FROM 2-14656268-2 WHERE `Week` = '4'</answer>
SELECT `Attendance` FROM 2-14656268-2 WHERE `Week` = '4'
SELECT AVG("Attendance") FROM 2-14656268-2 WHERE "Week" = 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next269>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Place` FROM 2-15106087-1 WHERE `Draw` > '3' AND `Points` = '8'</answer>
SELECT `Place` FROM 2-15106087-1 WHERE `Draw` > '3' AND `Points` = '8'
SELECT MIN("Place") FROM 2-15106087-1 WHERE "Draw" > 3 AND "Points" = 8
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next270>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG("Points") FROM 2-14347256-4 WHERE "November" = '6'</answer>
SELECT AVG("Points") FROM 2-14347256-4 WHERE "November" = '6'
SELECT AVG("Points") FROM 2-14347256-4 WHERE "November" = 6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next271>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

<answer>SELECT SUM("Points") FROM 2-1353859-1 WHERE "Year" > '1988'</answer>
SELECT SUM("Points") FROM 2-1353859-1 WHERE "Year" > '1988'
SELECT COUNT("Points") FROM 2-1353859-1 WHERE "Year" > 1988
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next272>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MIN("Year") FROM 2-1448498-1 WHERE "US_Cham__Rank" < 1;
SELECT MIN("Year") FROM 2-1448498-1 WHERE "US_Cham__Rank" < 1;
SELECT MIN("Year") FROM 2-1448498-1 WHERE "US_Cham__Rank" < 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next273>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG("Gold") FROM 2-13566976-7 WHERE "Total" = '11' AND "Silver" > '2'</answer>
SELECT AVG("Gold") FROM 2-13566976-7 WHERE "Total" = '11' AND "Silver" > '2'
SELECT AVG("Gold") FROM 2-13566976-7 WHERE "Total" = 11 AND "Silver" > 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next274>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Record` FROM 2-14320222-4 WHERE `Game` > 32 AND `December` < 21;</answer>
SELECT `Record` FROM 2-14320222-4 WHERE `Game` > 32 AND `December` < 21;
SELECT "Record" FROM 2-14320222-4 WHERE "Game" > 32 AND "December" < 21
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next275>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Latitude` FROM 2-15033342-1 WHERE `Year_built` = '1901';</answer>
SELECT `Latitude` FROM 2-15033342-1 WHERE `Year_built` = '1901';
SELECT "Latitude" FROM 2-15033342-1 WHERE "Year_built" = 1901
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next276>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "_1990_91" FROM 2-14390413-1 WHERE "Average" = '1.035'</answer>
SELECT "_1990_91" FROM 2-14390413-1 WHERE "Average" = '1.035'
SELECT "_1990_91" FROM 2-14390413-1 WHERE "Average" = 1.035
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next277>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MAX("_2009")
FROM 2-1421600-1
WHERE "_2006" < '280.4' AND "_2007" < '2.2' AND "_2011" < '3.5';
SELECT MAX("_2009")
FROM 2-1421600-1
WHERE "_2006" < '280.4' AND "_2007" < '2.2' AND "_2011" < '3.5';
SELECT MAX("_2009") FROM 2-1421600-1 WHERE "_2006" < 280.4 AND "_2007" < 2.2 AND "_2010" < 3.5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next278>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `_2006` FROM 2-1421600-1 WHERE `_2010` > '417.9'</answer>
SELECT `_2006` FROM 2-1421600-1 WHERE `_2010` > '417.9'
SELECT COUNT("_2006") FROM 2-1421600-1 WHERE "_2010" > 417.9
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next279>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Category` FROM 2-1430940-3 WHERE `Year` > '2004';
SELECT `Category` FROM 2-1430940-3 WHERE `Year` > '2004';
SELECT "Category" FROM 2-1430940-3 WHERE "Year" > 2004
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next280>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT("Touchdowns") FROM 2-14342210-12 WHERE "Field_goals" < 0 AND "Extra_points" = 0</answer>
SELECT COUNT("Touchdowns") FROM 2-14342210-12 WHERE "Field_goals" < 0 AND "Extra_points" = 0
SELECT SUM("Touchdowns") FROM 2-14342210-12 WHERE "Extra_points" = 0 AND "Field_goals" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next281>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT("Field_goals") FROM 2-14342210-12 WHERE "Touchdowns" = 8 AND "Points" > 49;</answer>
SELECT COUNT("Field_goals") FROM 2-14342210-12 WHERE "Touchdowns" = 8 AND "Points" > 49;
SELECT SUM("Field_goals") FROM 2-14342210-12 WHERE "Touchdowns" = 8 AND "Points" > 49
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next282>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Lost` FROM 2-13771649-14 WHERE `Drawn` < '0';</answer>
SELECT `Lost` FROM 2-13771649-14 WHERE `Drawn` < '0';
SELECT AVG("Lost") FROM 2-13771649-14 WHERE "Drawn" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next283>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `ERP_W` FROM 2-14203256-2 WHERE `Frequency_MHz` = '94.9' LIMIT 1;
SELECT `ERP_W` FROM 2-14203256-2 WHERE `Frequency_MHz` = '94.9' LIMIT 1;
SELECT MIN("ERP_W") FROM 2-14203256-2 WHERE "Frequency_MHz" = 94.9
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next284>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `School_Club_Team` FROM 2-15093704-1 WHERE `Pick` = '139';</answer>
SELECT `School_Club_Team` FROM 2-15093704-1 WHERE `Pick` = '139';
SELECT "School_Club_Team" FROM 2-15093704-1 WHERE "Pick" = 139
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next285>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Score" FROM 2-13912739-7 WHERE "Game" > 76 AND "March" > 26;</answer>
SELECT "Score" FROM 2-13912739-7 WHERE "Game" > 76 AND "March" > 26;
SELECT "Score" FROM 2-13912739-7 WHERE "Game" > 76 AND "March" > 26
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next286>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX(`Round`) FROM 2-15198842-20 WHERE `Overall` = '152';</answer>
SELECT MAX(`Round`) FROM 2-15198842-20 WHERE `Overall` = '152';
SELECT MAX("Round") FROM 2-15198842-20 WHERE "Overall" = 152
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next287>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG(`Lost`) FROM 2-15172914-2 WHERE `Against` < 5;</answer>
SELECT AVG(`Lost`) FROM 2-15172914-2 WHERE `Against` < 5;
SELECT AVG("Lost") FROM 2-15172914-2 WHERE "Against" < 5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next288>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Quantity") FROM 2-150761-1 WHERE "Introduced" = 1984;</answer>
SELECT SUM("Quantity") FROM 2-150761-1 WHERE "Introduced" = 1984;
SELECT SUM("Quantity") FROM 2-150761-1 WHERE "Introduced" = 1984
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next289>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN("Conceded") FROM 2-14889048-1 WHERE "Wins" < '8' AND "Scored" = '21' AND "Points" < '23'</answer>
SELECT MIN("Conceded") FROM 2-14889048-1 WHERE "Wins" < '8' AND "Scored" = '21' AND "Points" < '23'
SELECT MIN("Conceded") FROM 2-14889048-1 WHERE "Wins" < 8 AND "Scored" = 21 AND "Points" < 23
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next290>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Segment_D` FROM 2-15187735-5 WHERE `Episode` = '60';
SELECT `Segment_D` FROM 2-15187735-5 WHERE `Episode` = '60';
SELECT "Segment_D" FROM 2-15187735-5 WHERE "Episode" = 60
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next291>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

<answer>SELECT MIN("Gold") FROM 2-14639905-6 WHERE "Participants" < 14 AND "Rank" = '1' AND "Total" > 1;</answer>
SELECT MIN("Gold") FROM 2-14639905-6 WHERE "Participants" < 14 AND "Rank" = '1' AND "Total" > 1;
SELECT MIN("Gold") FROM 2-14639905-6 WHERE "Participants" < 14 AND "Rank" = 1 AND "Total" > 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next292>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Team` FROM 2-15206839-2 WHERE `Points` < 35;</answer>
SELECT `Team` FROM 2-15206839-2 WHERE `Points` < 35;
SELECT "Team" FROM 2-15206839-2 WHERE "Points" < 35
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next293>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Height_ft___m__` FROM 2-14565330-3 WHERE `Floors` = '36';
SELECT `Height_ft___m__` FROM 2-14565330-3 WHERE `Floors` = '36';
SELECT "Height_ft___m__" FROM 2-14565330-3 WHERE "Floors" = 36
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next294>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Metres") FROM 2-14669089-2 WHERE "Feet" < 196</answer>
SELECT SUM("Metres") FROM 2-14669089-2 WHERE "Feet" < 196
SELECT COUNT("Metres") FROM 2-14669089-2 WHERE "Feet" < 196
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next295>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Opponent" FROM 2-14305802-2 WHERE "October" = '29';</answer>
SELECT "Opponent" FROM 2-14305802-2 WHERE "October" = '29';
SELECT "Opponent" FROM 2-14305802-2 WHERE "October" = 29
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next296>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Nationality" FROM 2-14707564-2 WHERE "Ranking" = '4'</answer>
SELECT "Nationality" FROM 2-14707564-2 WHERE "Ranking" = '4'
SELECT "Nationality" FROM 2-14707564-2 WHERE "Ranking" = 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next297>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Chassis` FROM 2-1390721-8 WHERE `Year` = '2012';</answer>
SELECT `Chassis` FROM 2-1390721-8 WHERE `Year` = '2012';
SELECT "Chassis" FROM 2-1390721-8 WHERE "Year" = 2012
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next298>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG(`_18_49`) FROM `2-13759786-5` WHERE `Order` > '35' AND CAST(REPLACE(`Viewers`, ',', '') AS REAL) < 3.5;</answer>
SELECT AVG(`_18_49`) FROM `2-13759786-5` WHERE `Order` > '35' AND CAST(REPLACE(`Viewers`, ',', '') AS REAL) < 3.5;
SELECT AVG("_18_49") FROM 2-13759786-5 WHERE "Viewers" < 3.5 AND "Order" > 35
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next299>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Player` FROM `2-14877783-1` WHERE `Round` = '27';
SELECT `Player` FROM `2-14877783-1` WHERE `Round` = '27';
SELECT "Player" FROM 2-14877783-1 WHERE "Round" = 27
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next300>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Total`
FROM 2-1491582-1
WHERE `Bronze` > '1' AND `Gold` > '8' AND `Silver` < '10'
ORDER BY `Total` ASC
LIMIT 1;
SELECT `Total`
FROM 2-1491582-1
WHERE `Bronze` > '1' AND `Gold` > '8' AND `Silver` < '10'
ORDER BY `Total` ASC
LIMIT 1;
SELECT MIN("Total") FROM 2-1491582-1 WHERE "Bronze" > 1 AND "Gold" > 8 AND "Silver" < 10
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next301>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Shell__lb_" FROM 2-13963241-1 WHERE "Time_to_ft__m__at_40___seconds_" = '12.6' AND "Max__height__ft_" = '40°'</answer>
SELECT "Shell__lb_" FROM 2-13963241-1 WHERE "Time_to_ft__m__at_40___seconds_" = '12.6' AND "Max__height__ft_" = '40°'
SELECT "Shell__lb_" FROM 2-13963241-1 WHERE "Time_to_ft__m__at_40___seconds_" = 12.6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next302>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT COUNT("Gold") FROM 2-14421098-3 WHERE "Rank" = '8' AND "Bronze" < '5' AND "Silver" > '1';
SELECT COUNT("Gold") FROM 2-14421098-3 WHERE "Rank" = '8' AND "Bronze" < '5' AND "Silver" > '1';
SELECT COUNT("Gold") FROM 2-14421098-3 WHERE "Bronze" < 5 AND "Silver" > 1 AND "Rank" > 8
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next303>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Rebounds` FROM 2-13535631-6 WHERE `Games` > '22';
SELECT `Rebounds` FROM 2-13535631-6 WHERE `Games` > '22';
SELECT SUM("Rebounds") FROM 2-13535631-6 WHERE "Games" > 22
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next304>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG("Games") FROM 2-14076980-1 WHERE "Points" <= '6' AND "Lost" < '2'</answer>
SELECT AVG("Games") FROM 2-14076980-1 WHERE "Points" <= '6' AND "Lost" < '2'
SELECT AVG("Games") FROM 2-14076980-1 WHERE "Points" = 6 AND "Lost" < 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next305>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "_1996_2_" FROM 2-1404891-1 WHERE _1990_ < 120 AND _1996_2_ = '1996[2]' AND _1996_2_ IN (SELECT _1996_2_ FROM 2-1404891-1 WHERE _1990_ = 127)
SELECT "_1996_2_" FROM 2-1404891-1 WHERE _1990_ < 120 AND _1996_2_ = '1996[2]' AND _1996_2_ IN (SELECT _1996_2_ FROM 2-1404891-1 WHERE _1990_ = 127)
SELECT SUM("_1980") FROM 2-1404891-1 WHERE "_1996_2_" = 127 AND "_1990" < 120
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next306>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT(*) FROM 2-14083712-4 WHERE `Points` > '10' AND `Drawn` > '2'</answer>
SELECT COUNT(*) FROM 2-14083712-4 WHERE `Points` > '10' AND `Drawn` > '2'
SELECT COUNT("Games") FROM 2-14083712-4 WHERE "Points" = 10 AND "Drawn" > 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next307>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `February` FROM 2-14323142-6 WHERE `Points` < 57;
SELECT `February` FROM 2-14323142-6 WHERE `Points` < 57;
SELECT MIN("February") FROM 2-14323142-6 WHERE "Points" < 57
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next308>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Player` FROM 2-14473512-2 WHERE `Events` > '25'</answer>
SELECT `Player` FROM 2-14473512-2 WHERE `Events` > '25'
SELECT "Player" FROM 2-14473512-2 WHERE "Events" > 25
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next309>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Rank_by_average` FROM 2-15116785-3 WHERE `Total` = '425' AND `Place` > '1' ORDER BY `Average` ASC LIMIT 1;</answer>
SELECT `Rank_by_average` FROM 2-15116785-3 WHERE `Total` = '425' AND `Place` > '1' ORDER BY `Average` ASC LIMIT 1;
SELECT MIN("Rank_by_average") FROM 2-15116785-3 WHERE "Total" = 425 AND "Place" > 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next310>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

SELECT `Athlete` FROM 2-13581979-4 WHERE `Run_2` = '50.67';
SELECT `Athlete` FROM 2-13581979-4 WHERE `Run_2` = '50.67';
SELECT "Athlete" FROM 2-13581979-4 WHERE "Run_2" = 50.67
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next311>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Season` FROM 2-13599687-29 WHERE `Poles` > 14;</answer>
SELECT `Season` FROM 2-13599687-29 WHERE `Poles` > 14;
SELECT "Season" FROM 2-13599687-29 WHERE "Poles" > 14
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next312>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Avg_G` FROM 2-14931889-21 WHERE `Long` < '0' LIMIT 1;</answer>
SELECT `Avg_G` FROM 2-14931889-21 WHERE `Long` < '0' LIMIT 1;
SELECT MIN("Avg_G") FROM 2-14931889-21 WHERE "Long" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next313>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG(`Draws`) FROM 2-14876228-2 WHERE `Played` < '18'</answer>
SELECT AVG(`Draws`) FROM 2-14876228-2 WHERE `Played` < '18'
SELECT AVG("Draws") FROM 2-14876228-2 WHERE "Played" < 18
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next314>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Team` FROM 2-15216339-1 WHERE `Season` > '2008' ORDER BY `Points` DESC LIMIT 1;</answer>
SELECT `Team` FROM 2-15216339-1 WHERE `Season` > '2008' ORDER BY `Points` DESC LIMIT 1;
SELECT "Team" FROM 2-15216339-1 WHERE "Season" > 2008
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next315>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Women_s_singles" FROM 2-14903491-1 WHERE "Year" = '1986'</answer>
SELECT "Women_s_singles" FROM 2-14903491-1 WHERE "Year" = '1986'
SELECT "Women_s_singles" FROM 2-14903491-1 WHERE "Year" = 1986
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next316>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Seasons` FROM 2-13599687-25 WHERE `Poles` > '29' AND `Entries` > '191'</answer>
SELECT `Seasons` FROM 2-13599687-25 WHERE `Poles` > '29' AND `Entries` > '191'
SELECT "Seasons" FROM 2-13599687-25 WHERE "Poles" > 29 AND "Entries" > 191
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next317>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG("Total") FROM 2-14807244-1 WHERE "Bronze" > '3' AND "Gold" > '8'</answer>
SELECT AVG("Total") FROM 2-14807244-1 WHERE "Bronze" > '3' AND "Gold" > '8'
SELECT AVG("Total") FROM 2-14807244-1 WHERE "Bronze" > 3 AND "Gold" > 8
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next318>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Drawn") FROM 2-14262243-3 WHERE "Games" < 6;</answer>
SELECT MAX("Drawn") FROM 2-14262243-3 WHERE "Games" < 6;
SELECT MAX("Drawn") FROM 2-14262243-3 WHERE "Games" < 6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next319>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT SUM("Gold") FROM 2-14163590-3 WHERE "Bronze" > '0' AND "Total" < '2';
SELECT SUM("Gold") FROM 2-14163590-3 WHERE "Bronze" > '0' AND "Total" < '2';
SELECT SUM("Gold") FROM 2-14163590-3 WHERE "Bronze" > 0 AND "Total" < 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next320>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `College_Junior_Club_Team__League_` FROM 2-14347256-16 WHERE `Round` = '3'</answer>
SELECT `College_Junior_Club_Team__League_` FROM 2-14347256-16 WHERE `Round` = '3'
SELECT "College_Junior_Club_Team__League_" FROM 2-14347256-16 WHERE "Round" = 3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next321>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `FA_Cup` FROM 2-14998347-8 WHERE `Malaysia_Cup` > 0 AND `Total` = '8'</answer>
SELECT `FA_Cup` FROM 2-14998347-8 WHERE `Malaysia_Cup` > 0 AND `Total` = '8'
SELECT SUM("FA_Cup") FROM 2-14998347-8 WHERE "Malaysia_Cup" > 0 AND "Total" = 8
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next322>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Player` FROM `2-13990408-1` WHERE `Total` < '285' AND `To_par` > '1';
SELECT `Player` FROM `2-13990408-1` WHERE `Total` < '285' AND `To_par` > '1';
SELECT "Player" FROM 2-13990408-1 WHERE "Total" < 285 AND "To_par" > 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next323>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MIN("Run_3") FROM 2-13581979-5 WHERE "Run_2" < '53.72' AND "Run_1" = '53.1';
SELECT MIN("Run_3") FROM 2-13581979-5 WHERE "Run_2" < '53.72' AND "Run_1" = '53.1';
SELECT MIN("Run_3") FROM 2-13581979-5 WHERE "Run_2" < 53.72 AND "Run_1" = 53.1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next324>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Gold" FROM 2-14335046-1 WHERE "Bronze" > '1' AND "Silver" > '2'</answer>
SELECT "Gold" FROM 2-14335046-1 WHERE "Bronze" > '1' AND "Silver" > '2'
SELECT COUNT("Gold") FROM 2-14335046-1 WHERE "Bronze" > 1 AND "Silver" > 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next325>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT COUNT(*) FROM 2-13599687-8 WHERE "Wins" > '11';
SELECT COUNT(*) FROM 2-13599687-8 WHERE "Wins" > '11';
SELECT "Entries" FROM 2-13599687-8 WHERE "Wins" > 11
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next326>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Lost` FROM 2-14076898-2 WHERE `Points` > 6 AND `Games` < 5;</answer>
SELECT `Lost` FROM 2-14076898-2 WHERE `Points` > 6 AND `Games` < 5;
SELECT MIN("Lost") FROM 2-14076898-2 WHERE "Points" > 6 AND "Games" < 5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next327>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Nation` FROM `2-1473118-4` WHERE `Places` = '122.5';
SELECT `Nation` FROM `2-1473118-4` WHERE `Places` = '122.5';
SELECT "Nation" FROM 2-1473118-4 WHERE "Places" = 122.5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next328>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MAX("Successes") FROM 2-13894411-8 WHERE "Launches" > 1 AND "Failures" < 0;
SELECT MAX("Successes") FROM 2-13894411-8 WHERE "Launches" > 1 AND "Failures" < 0;
SELECT MAX("Successes") FROM 2-13894411-8 WHERE "Launches" > 1 AND "Failures" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next329>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Republican" FROM 2-14393234-1 WHERE "District" = '10'</answer>
SELECT "Republican" FROM 2-14393234-1 WHERE "District" = '10'
SELECT "Republican" FROM 2-14393234-1 WHERE "District" = 10
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next330>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

<answer>SELECT `No_Result` FROM 2-14891198-2 WHERE `Wins` < '2' AND `Losses` > '1'</answer>
SELECT `No_Result` FROM 2-14891198-2 WHERE `Wins` < '2' AND `Losses` > '1'
SELECT "No_Result" FROM 2-14891198-2 WHERE "Wins" < 2 AND "Losses" > 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next331>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Games_") FROM 2-14624447-23 WHERE "Number" = '61';</answer>
SELECT SUM("Games_") FROM 2-14624447-23 WHERE "Number" = '61';
SELECT MIN("Games_") FROM 2-14624447-23 WHERE "Number" = 61
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next332>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Opponent" FROM 2-14609917-2 WHERE "Week" = '6'</answer>
SELECT "Opponent" FROM 2-14609917-2 WHERE "Week" = '6'
SELECT "Opponent" FROM 2-14609917-2 WHERE "Week" = 6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next333>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Power__horsepower_` FROM 2-1527960-3 WHERE `Year_built` > '1995'</answer>
SELECT `Power__horsepower_` FROM 2-1527960-3 WHERE `Year_built` > '1995'
SELECT SUM("Power__horsepower_") FROM 2-1527960-3 WHERE "Year_built" > 1995
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next334>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Name` FROM 2-14407512-20 WHERE `_1st__m_` = '129' AND `Points` < '255.6' ORDER BY `Rank` ASC LIMIT 1;
SELECT `Name` FROM 2-14407512-20 WHERE `_1st__m_` = '129' AND `Points` < '255.6' ORDER BY `Rank` ASC LIMIT 1;
SELECT MAX("Rank") FROM 2-14407512-20 WHERE "_1st__m_" = 129 AND "Points" < 255.6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next335>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG(`AE_2011`) FROM 2-14750215-1 WHERE `Forbes_2011` = '24' AND `FT_2011` < '44'</answer>
SELECT AVG(`AE_2011`) FROM 2-14750215-1 WHERE `Forbes_2011` = '24' AND `FT_2011` < '44'
SELECT AVG("AE_2011") FROM 2-14750215-1 WHERE "Forbes_2011" = 24 AND "FT_2011" < 44
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next336>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Rank" FROM 2-14423681-3 WHERE "Silver" < '0'</answer>
SELECT "Rank" FROM 2-14423681-3 WHERE "Silver" < '0'
SELECT MAX("Rank") FROM 2-14423681-3 WHERE "Silver" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next337>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Nation" FROM 2-14959598-6 WHERE "Points" = '108.8'</answer>
SELECT "Nation" FROM 2-14959598-6 WHERE "Points" = '108.8'
SELECT "Nation" FROM 2-14959598-6 WHERE "Points" = 108.8
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next338>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG("Rank") FROM 2-14892957-1 WHERE "Gold" > '44' AND "Bronze" > '76' AND "Total" > '73'</answer>
SELECT AVG("Rank") FROM 2-14892957-1 WHERE "Gold" > '44' AND "Bronze" > '76' AND "Total" > '73'
SELECT AVG("Rank") FROM 2-14892957-1 WHERE "Total" > 73 AND "Gold" > 44 AND "Bronze" > 76
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next339>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Nation", "Team_wins", "Individual_wins" FROM 2-1458666-4 WHERE "Individual_wins" < 1 AND "Total_wins" > 1;
SELECT "Nation", "Team_wins", "Individual_wins" FROM 2-1458666-4 WHERE "Individual_wins" < 1 AND "Total_wins" > 1;
SELECT SUM("Team_wins") FROM 2-1458666-4 WHERE "Individual_winners" < 1 AND "Total_wins" > 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next340>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Opponent" FROM 2-14208855-4 WHERE "Game" = '29'</answer>
SELECT "Opponent" FROM 2-14208855-4 WHERE "Game" = '29'
SELECT "Opponent" FROM 2-14208855-4 WHERE "Game" = 29
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next341>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT("Game") FROM 2-13909382-8 WHERE "April" > '83'</answer>
SELECT COUNT("Game") FROM 2-13909382-8 WHERE "April" > '83'
SELECT COUNT("April") FROM 2-13909382-8 WHERE "Game" > 83
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next342>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Games_` FROM 2-15257210-4 WHERE `Number` = '98' ORDER BY `Position` ASC LIMIT 1</answer>
SELECT `Games_` FROM 2-15257210-4 WHERE `Number` = '98' ORDER BY `Position` ASC LIMIT 1
SELECT MIN("Games_") FROM 2-15257210-4 WHERE "Number" = 98
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next343>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("No_Result") FROM 2-15023048-1 WHERE "Losses" > '1' AND "Played" = '38' AND "Wins" < '19';</answer>
SELECT SUM("No_Result") FROM 2-15023048-1 WHERE "Losses" > '1' AND "Played" = '38' AND "Wins" < '19';
SELECT COUNT("No_Result") FROM 2-15023048-1 WHERE "Losses" > 1 AND "Played" = 38 AND "Wins" < 19
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next344>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Field_goals` FROM 2-14342367-7 WHERE `Touchdowns` = 0 AND `Points` > 4</answer>
SELECT `Field_goals` FROM 2-14342367-7 WHERE `Touchdowns` = 0 AND `Points` > 4
SELECT MAX("Field_goals") FROM 2-14342367-7 WHERE "Touchdowns" = 0 AND "Points" > 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next345>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Drew` FROM 2-1430677-1 WHERE `Lost` > '14';
SELECT `Drew` FROM 2-1430677-1 WHERE `Lost` > '14';
SELECT SUM("Drew") FROM 2-1430677-1 WHERE "Lost" > 14
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next346>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Congress` FROM 2-144896-1 WHERE `__of_cosponsors` = '19'</answer>
SELECT `Congress` FROM 2-144896-1 WHERE `__of_cosponsors` = '19'
SELECT "Congress" FROM 2-144896-1 WHERE "__of_cosponsors" = 19
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next347>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Drawn` FROM 2-14190283-9 WHERE `Lost` = '5' AND `Points` > '4' ORDER BY `Drawn` ASC LIMIT 1;</answer>
SELECT `Drawn` FROM 2-14190283-9 WHERE `Lost` = '5' AND `Points` > '4' ORDER BY `Drawn` ASC LIMIT 1;
SELECT MIN("Drawn") FROM 2-14190283-9 WHERE "Lost" = 5 AND "Points" > 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next348>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Overall_WC_points__Rank_` FROM 2-14407512-7 WHERE `_2nd__m_` = '139';
SELECT `Overall_WC_points__Rank_` FROM 2-14407512-7 WHERE `_2nd__m_` = '139';
SELECT "Overall_WC_points__Rank_" FROM 2-14407512-7 WHERE "_2nd__m_" = 139
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next349>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

SELECT `Points` FROM 2-14303579-6 WHERE `Game` = '60' ORDER BY `Points` ASC LIMIT 1;
SELECT `Points` FROM 2-14303579-6 WHERE `Game` = '60' ORDER BY `Points` ASC LIMIT 1;
SELECT MIN("Points") FROM 2-14303579-6 WHERE "Game" = 60
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next350>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Lost") FROM 2-14924851-1 WHERE "Against" > '60' AND "Points" < '61' AND "Drawn" = '18'</answer>
SELECT MAX("Lost") FROM 2-14924851-1 WHERE "Against" > '60' AND "Points" < '61' AND "Drawn" = '18'
SELECT MAX("Lost") FROM 2-14924851-1 WHERE "Against" > 60 AND "Points" < 61 AND "Drawn" > 18
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next351>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Drawn`
FROM 2-15087697-2
WHERE `Against` > '15' AND `Points` < '15' AND `Lost` < '9';
SELECT `Drawn`
FROM 2-15087697-2
WHERE `Against` > '15' AND `Points` < '15' AND `Lost` < '9';
SELECT MAX("Drawn") FROM 2-15087697-2 WHERE "Against" > 15 AND "Points" < 15 AND "Lost" < 9
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next352>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Class` FROM 2-14993406-2 WHERE `Frequency_MHz` = '93.7';
SELECT `Class` FROM 2-14993406-2 WHERE `Frequency_MHz` = '93.7';
SELECT "Class" FROM 2-14993406-2 WHERE "Frequency_MHz" = 93.7
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next353>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Skip` FROM 2-1505809-2 WHERE `Ends_Lost` > 44 AND `Blank_Ends` = 10;
SELECT `Skip` FROM 2-1505809-2 WHERE `Ends_Lost` > 44 AND `Blank_Ends` = 10;
SELECT "Skip" FROM 2-1505809-2 WHERE "Ends_Lost" > 44 AND "Blank_Ends" = 10
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next354>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `FCC_info` FROM 2-14797490-1 WHERE `Frequency_MHz` = '100.7';
SELECT `FCC_info` FROM 2-14797490-1 WHERE `Frequency_MHz` = '100.7';
SELECT "FCC_info" FROM 2-14797490-1 WHERE "Frequency_MHz" = 100.7
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next355>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `FCC_info` FROM 2-14797490-1 WHERE `Frequency_MHz` > '102.3'</answer>
SELECT `FCC_info` FROM 2-14797490-1 WHERE `Frequency_MHz` > '102.3'
SELECT "FCC_info" FROM 2-14797490-1 WHERE "Frequency_MHz" > 102.3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next356>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN("Live_births") FROM 2-1508951-1 WHERE "Natural_change" = '9.4' AND "Crude_death_rate__per_1_000_" > '29.3'</answer>
SELECT MIN("Live_births") FROM 2-1508951-1 WHERE "Natural_change" = '9.4' AND "Crude_death_rate__per_1_000_" > '29.3'
SELECT MIN("Live_births") FROM 2-1508951-1 WHERE "Natural_change__per_1_000_" = 9.4 AND "Crude_death_rate__per_1_000_" > 29.3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next357>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN("Attendance") FROM 2-13962594-1 WHERE "Week" = '2'</answer>
SELECT MIN("Attendance") FROM 2-13962594-1 WHERE "Week" = '2'
SELECT MIN("Attendance") FROM 2-13962594-1 WHERE "Week" = 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next358>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Nationality` FROM 2-13909393-1 WHERE `Pick` = '16';
SELECT `Nationality` FROM 2-13909393-1 WHERE `Pick` = '16';
SELECT "Nationality" FROM 2-13909393-1 WHERE "Pick" = 16
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next359>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT COUNT(*) FROM 2-14318601-3 WHERE `November` = '7' AND `Points` > 17;
SELECT COUNT(*) FROM 2-14318601-3 WHERE `November` = '7' AND `Points` > 17;
SELECT COUNT("Game") FROM 2-14318601-3 WHERE "November" = 7 AND "Points" > 17
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next360>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Legs_Lost`
FROM 2-14831932-12
WHERE `Legs_Won` > 8 AND `Played` = 4 AND `_180s` < 6 AND `_3_dart_Average` > 46;
SELECT `Legs_Lost`
FROM 2-14831932-12
WHERE `Legs_Won` > 8 AND `Played` = 4 AND `_180s` < 6 AND `_3_dart_Average` > 46;
SELECT SUM("Legs_Lost") FROM 2-14831932-12 WHERE "Legs_Won" > 8 AND "Played" = 4 AND "_180s" < 6 AND "_100_" > 46
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next361>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN(_3rd_Runner_up) FROM 2-150343-3 WHERE _4th_Runner_up < 1 AND _5th_Runner_up = 0 AND Miss_World < 2;</answer>
SELECT MIN(_3rd_Runner_up) FROM 2-150343-3 WHERE _4th_Runner_up < 1 AND _5th_Runner_up = 0 AND Miss_World < 2;
SELECT MIN("_3rd_Runner_up") FROM 2-150343-3 WHERE "_4th_Runner_up" < 1 AND "_5th_Runner_up" = 0 AND "Miss_World" < 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next362>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Round` FROM 2-14828495-1 WHERE `Pick` = '138';
SELECT `Round` FROM 2-14828495-1 WHERE `Pick` = '138';
SELECT SUM("Round") FROM 2-14828495-1 WHERE "Pick" = 138
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next363>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Result` FROM 2-14990732-3 WHERE `Week` = '11';
SELECT `Result` FROM 2-14990732-3 WHERE `Week` = '11';
SELECT "Result" FROM 2-14990732-3 WHERE "Week" = 11
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next364>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG("Top_5") FROM 2-1516564-12 WHERE "Top_10" = '5' AND "Cuts_made" < '12'</answer>
SELECT AVG("Top_5") FROM 2-1516564-12 WHERE "Top_10" = '5' AND "Cuts_made" < '12'
SELECT AVG("Top_5") FROM 2-1516564-12 WHERE "Top_10" = 5 AND "Cuts_made" < 12
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next365>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `College_Junior_Club_Team` FROM 2-14038705-1 WHERE `Round` < '8' AND `Pick` = '50';
SELECT `College_Junior_Club_Team` FROM 2-14038705-1 WHERE `Round` < '8' AND `Pick` = '50';
SELECT "College_Junior_Club_Team" FROM 2-14038705-1 WHERE "Round" < 8 AND "Pick" = 50
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next366>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Position` FROM 2-14038363-1 WHERE `Height` = '205' AND `Shirt_No` = '8';</answer>
SELECT `Position` FROM 2-14038363-1 WHERE `Height` = '205' AND `Shirt_No` = '8';
SELECT "Position" FROM 2-14038363-1 WHERE "Height" = 205 AND "Shirt_No" = 8
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next367>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Record` FROM 2-14127688-2 WHERE `Number` = '23';</answer>
SELECT `Record` FROM 2-14127688-2 WHERE `Number` = '23';
SELECT "Record" FROM 2-14127688-2 WHERE "Number" = 23
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next368>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

<answer>SELECT `Player` FROM 2-14640372-3 WHERE `Wins` < '2';</answer>
SELECT `Player` FROM 2-14640372-3 WHERE `Wins` < '2';
SELECT "Player" FROM 2-14640372-3 WHERE "Wins" < 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next369>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN("Points") FROM 2-15349635-1 WHERE "Played" < 8 AND "Against" = 23;</answer>
SELECT MIN("Points") FROM 2-15349635-1 WHERE "Played" < 8 AND "Against" = 23;
SELECT MIN("Points") FROM 2-15349635-1 WHERE "Against" = 23 AND "Played" < 8
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next370>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Position` FROM 2-15331540-1 WHERE `Against` < '41' AND `Lost` > '7'</answer>
SELECT `Position` FROM 2-15331540-1 WHERE `Against` < '41' AND `Lost` > '7'
SELECT MAX("Position") FROM 2-15331540-1 WHERE "Against" < 41 AND "Lost" > 7
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next371>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "ICAO" FROM 2-15637071-1 WHERE "Fleet_size" = '2';
SELECT "ICAO" FROM 2-15637071-1 WHERE "Fleet_size" = '2';
SELECT "ICAO" FROM 2-15637071-1 WHERE "Fleet_size" = 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next372>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Top_10") FROM 2-1615980-8 WHERE "Cuts_made" < '10' AND "Top_5" < '0'</answer>
SELECT SUM("Top_10") FROM 2-1615980-8 WHERE "Cuts_made" < '10' AND "Top_5" < '0'
SELECT SUM("Top_10") FROM 2-1615980-8 WHERE "Cuts_made" < 10 AND "Top_5" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next373>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("No_Result") FROM 2-15868127-4 WHERE "Wins" < '46' AND "Matches" > '16'</answer>
SELECT SUM("No_Result") FROM 2-15868127-4 WHERE "Wins" < '46' AND "Matches" > '16'
SELECT SUM("No_Result") FROM 2-15868127-4 WHERE "Matches" > 16 AND "Wins" < 46
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next374>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Wins") FROM 2-16034882-3 WHERE "Position" < 1;</answer>
SELECT MAX("Wins") FROM 2-16034882-3 WHERE "Position" < 1;
SELECT MAX("Wins") FROM 2-16034882-3 WHERE "Position" < 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next375>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Goals` FROM 2-1590321-33 WHERE `Rank` = '6'</answer>
SELECT `Goals` FROM 2-1590321-33 WHERE `Rank` = '6'
SELECT COUNT("Goals") FROM 2-1590321-33 WHERE "Rank" = 6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next376>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Labour_Panel` FROM 2-15547150-1 WHERE `Industrial_and_Commercial_Panel` = '9' AND `University_of_Dublin` < '3';
SELECT `Labour_Panel` FROM 2-15547150-1 WHERE `Industrial_and_Commercial_Panel` = '9' AND `University_of_Dublin` < '3';
SELECT AVG("Labour_Panel") FROM 2-15547150-1 WHERE "Industrial_and_Commercial_Panel" = 9 AND "University_of_Dublin" < 3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next377>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Points` FROM 2-16141981-1 WHERE `Poles` < 0;
SELECT `Points` FROM 2-16141981-1 WHERE `Poles` < 0;
SELECT SUM("Points") FROM 2-16141981-1 WHERE "Poles" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next378>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Industrial_and_Commercial_Panel` FROM 2-15547582-1 WHERE `Labour_Panel` > 1 AND `Nominated_by_the_Taoiseach` < 11 AND `Cultural_and_Educational_Panel` < 0</answer>
SELECT `Industrial_and_Commercial_Panel` FROM 2-15547582-1 WHERE `Labour_Panel` > 1 AND `Nominated_by_the_Taoiseach` < 11 AND `Cultural_and_Educational_Panel` < 0
SELECT COUNT("Industrial_and_Commercial_Panel") FROM 2-15547582-1 WHERE "Labour_Panel" > 1 AND "Nominated_by_the_Taoiseach" < 11 AND "Cultural_and_Educational_Panel" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next379>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT("Points") FROM 2-15384084-2 WHERE "Against" < 43 AND "Position" < 1</answer>
SELECT COUNT("Points") FROM 2-15384084-2 WHERE "Against" < 43 AND "Position" < 1
SELECT SUM("Points") FROM 2-15384084-2 WHERE "Against" < 43 AND "Position" < 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next380>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Played" FROM 2-15384084-2 WHERE "Against" > 37 AND "Lost" = '15' AND "Points" < 11;</answer>
SELECT "Played" FROM 2-15384084-2 WHERE "Against" > 37 AND "Lost" = '15' AND "Points" < 11;
SELECT SUM("Played") FROM 2-15384084-2 WHERE "Against" > 37 AND "Lost" = 15 AND "Points" < 11
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next381>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("_1995") FROM 2-1586335-4 WHERE "_1990" < '36' AND "_1987" < '1987' AND "_2007" > '107'</answer>
SELECT MAX("_1995") FROM 2-1586335-4 WHERE "_1990" < '36' AND "_1987" < '1987' AND "_2007" > '107'
SELECT MAX("_1995") FROM 2-1586335-4 WHERE "_1990" > 36 AND "_1987" < 1987 AND "_2007" > 107
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next382>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Record` FROM 2-15808305-1 WHERE `Season` = '1973'</answer>
SELECT `Record` FROM 2-15808305-1 WHERE `Season` = '1973'
SELECT "Record" FROM 2-15808305-1 WHERE "Season" = 1973
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next383>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Played") FROM 2-15318779-1 WHERE "Drawn" < 1;</answer>
SELECT MAX("Played") FROM 2-15318779-1 WHERE "Drawn" < 1;
SELECT MAX("Played") FROM 2-15318779-1 WHERE "Drawn" < 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next384>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT SUM("Comp_") FROM 2-1570558-1 WHERE "Comp_" = '65.4' AND "Att_" < '451';
SELECT SUM("Comp_") FROM 2-1570558-1 WHERE "Comp_" = '65.4' AND "Att_" < '451';
SELECT SUM("Comp_") FROM 2-1570558-1 WHERE "Comp_" = 65.4 AND "Att_" < 451
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next385>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `CALLSIGN` FROM 2-15520072-1 WHERE `COMMENCED_OPERATIONS` < '1976' ;
SELECT `CALLSIGN` FROM 2-15520072-1 WHERE `COMMENCED_OPERATIONS` < '1976' ;
SELECT "CALLSIGN" FROM 2-15520072-1 WHERE "COMMENCED_OPERATIONS" < 1976
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next386>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Byes`
FROM 2-1552908-3
WHERE `Against` = '1136' AND `Draws` < '0';
SELECT `Byes`
FROM 2-1552908-3
WHERE `Against` = '1136' AND `Draws` < '0';
SELECT COUNT("Byes") FROM 2-1552908-3 WHERE "Against" = 1136 AND "Draws" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next387>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

<answer>SELECT AVG("Goals") FROM 2-1590321-23 WHERE "Rank" > 9 AND "Matches" > '205'</answer>
SELECT AVG("Goals") FROM 2-1590321-23 WHERE "Rank" > 9 AND "Matches" > '205'
SELECT AVG("Goals") FROM 2-1590321-23 WHERE "Matches" = 205 AND "Rank" > 9
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next388>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG("Not_usable") FROM 2-16103661-2 WHERE "Retired" = '0' AND "Launch_Failures" < '1'</answer>
SELECT AVG("Not_usable") FROM 2-16103661-2 WHERE "Retired" = '0' AND "Launch_Failures" < '1'
SELECT AVG("Not_usable") FROM 2-16103661-2 WHERE "Retired" = 0 AND "Launch_Failures" < 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next389>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Points` FROM 2-16034882-5 WHERE `Goals_scored` < 25 AND `Draws` = 3 AND `Games_played` > 21 ORDER BY `Points` DESC LIMIT 1;</answer>
SELECT `Points` FROM 2-16034882-5 WHERE `Goals_scored` < 25 AND `Draws` = 3 AND `Games_played` > 21 ORDER BY `Points` DESC LIMIT 1;
SELECT MAX("Points") FROM 2-16034882-5 WHERE "Goals_scored" < 25 AND "Draws" = 3 AND "Games_played" > 21
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next390>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Against") FROM 2-15388428-1 WHERE "Drawn" > '5' AND "Points" > '18'</answer>
SELECT MAX("Against") FROM 2-15388428-1 WHERE "Drawn" > '5' AND "Points" > '18'
SELECT MAX("Against") FROM 2-15388428-1 WHERE "Drawn" > 5 AND "Points" > 18
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next391>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Team" FROM 2-15533691-3 WHERE "Tries_for" < '10'</answer>
SELECT "Team" FROM 2-15533691-3 WHERE "Tries_for" < '10'
SELECT "Team" FROM 2-15533691-3 WHERE "Tries_for" < 10
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next392>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT * FROM 2-15533691-3 WHERE `Tries_against` = 95 AND `Tries_for` > 20;
SELECT * FROM 2-15533691-3 WHERE `Tries_against` = 95 AND `Tries_for` > 20;
SELECT SUM("Tries_against") FROM 2-15533691-3 WHERE "Points_against" = 95 AND "Tries_for" > 20
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next393>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT(*) FROM 2-1612760-1 WHERE `Frequency__per_hour_` < '2';</answer>
SELECT COUNT(*) FROM 2-1612760-1 WHERE `Frequency__per_hour_` < '2';
SELECT COUNT("Platform") FROM 2-1612760-1 WHERE "Frequency__per_hour_" < 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next394>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Finish` FROM 2-1617211-2 WHERE `Year` = '1992'</answer>
SELECT `Finish` FROM 2-1617211-2 WHERE `Year` = '1992'
SELECT "Finish" FROM 2-1617211-2 WHERE "Year" = 1992
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next395>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Medium_Gallup__March_2008") FROM 2-16185816-2 WHERE "Strategic_Marketing__March_2008" < '17' AND "Medium_Gallup__May_2008" > '10'</answer>
SELECT MAX("Medium_Gallup__March_2008") FROM 2-16185816-2 WHERE "Strategic_Marketing__March_2008" < '17' AND "Medium_Gallup__May_2008" > '10'
SELECT MAX("Medium_Gallup__March_2008") FROM 2-16185816-2 WHERE "Strategic_Marketing__March_2008" < 17 AND "Medium_Gallup__May_2008" > 10
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next396>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Drawn" FROM 2-15367861-2 WHERE "Lost" = '7'</answer>
SELECT "Drawn" FROM 2-15367861-2 WHERE "Lost" = '7'
SELECT SUM("Drawn") FROM 2-15367861-2 WHERE "Lost" = 7
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next397>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Finish` FROM 2-15685366-3 WHERE `Win_` > '0.598' AND CAST(`Wins` AS REAL) / (`Wins` + `Losses`) < 53</answer>
SELECT `Finish` FROM 2-15685366-3 WHERE `Win_` > '0.598' AND CAST(`Wins` AS REAL) / (`Wins` + `Losses`) < 53
SELECT "Finish" FROM 2-15685366-3 WHERE "Win_" > 0.598 AND "Wins" < 53
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next398>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG("Total") FROM 2-15807776-2 WHERE "Gold" > 0 AND "Silver" > 0 AND "Bronze" > 2;</answer>
SELECT AVG("Total") FROM 2-15807776-2 WHERE "Gold" > 0 AND "Silver" > 0 AND "Bronze" > 2;
SELECT AVG("Total") FROM 2-15807776-2 WHERE "Gold" > 0 AND "Silver" > 0 AND "Bronze" > 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next399>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Difference` FROM 2-15351508-1 WHERE `Position` < '3' AND `Points` = '17'</answer>
SELECT `Difference` FROM 2-15351508-1 WHERE `Position` < '3' AND `Points` = '17'
SELECT "Difference" FROM 2-15351508-1 WHERE "Position" < 3 AND "Points" = 17
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next400>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Top_25") FROM 2-1544297-7 WHERE "Events" > '86'</answer>
SELECT SUM("Top_25") FROM 2-1544297-7 WHERE "Events" > '86'
SELECT COUNT("Top_25") FROM 2-1544297-7 WHERE "Events" > 86
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next401>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN(`Played`) FROM 2-15389424-1 WHERE `Points` = 18 AND `Position` > 5;</answer>
SELECT MIN(`Played`) FROM 2-15389424-1 WHERE `Points` = 18 AND `Position` > 5;
SELECT MIN("Played") FROM 2-15389424-1 WHERE "Points" = 18 AND "Position" > 5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next402>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Goals_Game_Ratio` FROM 2-1575505-3 WHERE `Goals` < 201 AND `Appearances` < 170;</answer>
SELECT `Goals_Game_Ratio` FROM 2-1575505-3 WHERE `Goals` < 201 AND `Appearances` < 170;
SELECT "Goals_Game_Ratio" FROM 2-1575505-3 WHERE "Goals" < 201 AND "Appearances" < 170
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next403>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT CAST((COALESCE("Mel_Martinez__R_", 0) - 0) AS REAL) * 100 / "Sample_size" FROM 2-16077776-1 WHERE "Sample_size" = '800' AND "Mel_Martinez__R_" IS NOT NULL</answer>
SELECT CAST((COALESCE("Mel_Martinez__R_", 0) - 0) AS REAL) * 100 / "Sample_size" FROM 2-16077776-1 WHERE "Sample_size" = '800' AND "Mel_Martinez__R_" IS NOT NULL
SELECT "Mel_Martinez__R_" FROM 2-16077776-1 WHERE "Sample_size" = 800
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next404>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG("Wins") FROM 2-1598164-9 WHERE "Events" > '28'</answer>
SELECT AVG("Wins") FROM 2-1598164-9 WHERE "Events" > '28'
SELECT AVG("Wins") FROM 2-1598164-9 WHERE "Events" > 28
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next405>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

SELECT `Team_Name` FROM 2-15813224-1 WHERE `Races` = '10';
SELECT `Team_Name` FROM 2-15813224-1 WHERE `Races` = '10';
SELECT "Team_Name" FROM 2-15813224-1 WHERE "Races" = 10
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next406>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Player` FROM 2-15442451-3 WHERE `Pick` = '6'</answer>
SELECT `Player` FROM 2-15442451-3 WHERE `Pick` = '6'
SELECT "Player" FROM 2-15442451-3 WHERE "Pick" = 6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next407>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT("Rank") FROM 2-1590321-39 WHERE "Matches" = 367 AND "Goals" > 216;</answer>
SELECT COUNT("Rank") FROM 2-1590321-39 WHERE "Matches" = 367 AND "Goals" > 216;
SELECT SUM("Rank") FROM 2-1590321-39 WHERE "Matches" = 367 AND "Goals" > 216
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next408>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG("Rank") FROM 2-1590321-39 WHERE "Goals" = 230 AND "Matches" > 535</answer>
SELECT AVG("Rank") FROM 2-1590321-39 WHERE "Goals" = 230 AND "Matches" > 535
SELECT AVG("Rank") FROM 2-1590321-39 WHERE "Goals" = 230 AND "Matches" > 535
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next409>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Against`
FROM 2-15514527-9
WHERE `Draws` > 0 AND `Losses` < 16 AND `Wins` < 4;
SELECT `Against`
FROM 2-15514527-9
WHERE `Draws` > 0 AND `Losses` < 16 AND `Wins` < 4;
SELECT MAX("Against") FROM 2-15514527-9 WHERE "Draws" > 0 AND "Losses" < 16 AND "Wins" < 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next410>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Rank` FROM 2-16050349-7 WHERE `Points` < 32 ORDER BY `Points` DESC LIMIT 1</answer>
SELECT `Rank` FROM 2-16050349-7 WHERE `Points` < 32 ORDER BY `Points` DESC LIMIT 1
SELECT MAX("Rank") FROM 2-16050349-7 WHERE "Points" < 32
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next411>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Gold` FROM 2-155115-1 WHERE `Silver` = '7' AND `Bronze` < '7'</answer>
SELECT `Gold` FROM 2-155115-1 WHERE `Silver` = '7' AND `Bronze` < '7'
SELECT MIN("Gold") FROM 2-155115-1 WHERE "Silver" = 7 AND "Bronze" < 7
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next412>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN("Drawn") FROM 2-15372465-2 WHERE "Played" > 19 AND "Position" < 2;</answer>
SELECT MIN("Drawn") FROM 2-15372465-2 WHERE "Played" > 19 AND "Position" < 2;
SELECT MIN("Drawn") FROM 2-15372465-2 WHERE "Played" > 19 AND "Position" < 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next413>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Name` FROM 2-1590321-40 WHERE `Goals` = 135;</answer>
SELECT `Name` FROM 2-1590321-40 WHERE `Goals` = 135;
SELECT "Name" FROM 2-1590321-40 WHERE "Goals" = 135
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next414>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Wins") FROM 2-16079003-1 WHERE "Races" > '16'</answer>
SELECT SUM("Wins") FROM 2-16079003-1 WHERE "Races" > '16'
SELECT "Wins" FROM 2-16079003-1 WHERE "Races" > 16
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next415>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Nation" FROM 2-15434862-1 WHERE "Silver" = '0' AND "Gold" = '1'</answer>
SELECT "Nation" FROM 2-15434862-1 WHERE "Silver" = '0' AND "Gold" = '1'
SELECT MIN("Gold") FROM 2-15434862-1 WHERE "Silver" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next416>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Role` FROM 2-1543453-1 WHERE `Year` = '2007';
SELECT `Role` FROM 2-1543453-1 WHERE `Year` = '2007';
SELECT "Role" FROM 2-1543453-1 WHERE "Year" = 2007
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next417>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Points" FROM 2-15358573-1 WHERE "Against" < 16;</answer>
SELECT "Points" FROM 2-15358573-1 WHERE "Against" < 16;
SELECT AVG("Points") FROM 2-15358573-1 WHERE "Against" < 16
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next418>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Drawn` FROM 2-15420044-1 WHERE `Played` < 10 ORDER BY `Drawn` DESC LIMIT 1</answer>
SELECT `Drawn` FROM 2-15420044-1 WHERE `Played` < 10 ORDER BY `Drawn` DESC LIMIT 1
SELECT MAX("Drawn") FROM 2-15420044-1 WHERE "Played" < 10
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next419>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `City__town` FROM 2-1590476-1 WHERE `Year_founded` = '1860';
SELECT `City__town` FROM 2-1590476-1 WHERE `Year_founded` = '1860';
SELECT "City__town" FROM 2-1590476-1 WHERE "Year_founded" = 1860
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next420>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Gain` FROM 2-15418772-5 WHERE `Long` = '18' AND `Loss` < '191' ORDER BY `Gain` ASC LIMIT 1;</answer>
SELECT `Gain` FROM 2-15418772-5 WHERE `Long` = '18' AND `Loss` < '191' ORDER BY `Gain` ASC LIMIT 1;
SELECT MIN("Gain") FROM 2-15418772-5 WHERE "Long" = 18 AND "Loss" < 191
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next421>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Fourth_place" FROM 2-1571238-1 WHERE "Year" = '1978'</answer>
SELECT "Fourth_place" FROM 2-1571238-1 WHERE "Year" = '1978'
SELECT "Fourth_place" FROM 2-1571238-1 WHERE "Year" = 1978
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next422>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Player` FROM 2-15753220-17 WHERE `Weight` = '235'</answer>
SELECT `Player` FROM 2-15753220-17 WHERE `Weight` = '235'
SELECT "Player" FROM 2-15753220-17 WHERE "Weight" = 235
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next423>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Top_5`
FROM 2-1552405-5
WHERE `Events` < '4'
ORDER BY `Top_5` DESC
LIMIT 1;
SELECT `Top_5`
FROM 2-1552405-5
WHERE `Events` < '4'
ORDER BY `Top_5` DESC
LIMIT 1;
SELECT MAX("Top_5") FROM 2-1552405-5 WHERE "Events" < 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next424>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Name` FROM 2-15700367-1 WHERE `Average` = '16.4'</answer>
SELECT `Name` FROM 2-15700367-1 WHERE `Average` = '16.4'
SELECT "Name" FROM 2-15700367-1 WHERE "Average" = 16.4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next425>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

<answer>SELECT `Administrative_Panel` FROM 2-15545648-1 WHERE `Cultural_and_Educational_Panel` >= '2' AND `Industrial_and_Commercial_Panel` > '4' LIMIT 1;</answer>
SELECT `Administrative_Panel` FROM 2-15545648-1 WHERE `Cultural_and_Educational_Panel` >= '2' AND `Industrial_and_Commercial_Panel` > '4' LIMIT 1;
SELECT MAX("Administrative_Panel") FROM 2-15545648-1 WHERE "Cultural_and_Educational_Panel" = 2 AND "Industrial_and_Commercial_Panel" > 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next426>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Billboard_200_Peak") FROM 2-154691-1 WHERE "Year" > '1971'</answer>
SELECT SUM("Billboard_200_Peak") FROM 2-154691-1 WHERE "Year" > '1971'
SELECT SUM("Billboard_200_Peak") FROM 2-154691-1 WHERE "Year" > 1971
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next427>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT(*) FROM 2-15807880-2 WHERE `Silver` IS NOT NULL AND `Rank` < '1'</answer>
SELECT COUNT(*) FROM 2-15807880-2 WHERE `Silver` IS NOT NULL AND `Rank` < '1'
SELECT AVG("Silver") FROM 2-15807880-2 WHERE "Rank" < 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next428>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Nation"
FROM 2-15980739-1
WHERE "Gold" > 1 AND "Silver" = 4;
SELECT "Nation"
FROM 2-15980739-1
WHERE "Gold" > 1 AND "Silver" = 4;
SELECT "Nation" FROM 2-15980739-1 WHERE "Gold" > 1 AND "Silver" = 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next429>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Poll_Source` FROM `2-16751596-4` WHERE `Lead_Margin` = '5.5';
SELECT `Poll_Source` FROM `2-16751596-4` WHERE `Lead_Margin` = '5.5';
SELECT "Poll_Source" FROM 2-16751596-4 WHERE "Lead_Margin" = 5.5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next430>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Call_sign" FROM 2-17101015-8 WHERE "ERP_W" > '250' AND "Frequency_MHz" < '99.3';
SELECT "Call_sign" FROM 2-17101015-8 WHERE "ERP_W" > '250' AND "Frequency_MHz" < '99.3';
SELECT "Call_sign" FROM 2-17101015-8 WHERE "ERP_W" > 250 AND "Frequency_MHz" < 99.3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next431>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Name` FROM 2-16501954-20 WHERE `Position` < '2'</answer>
SELECT `Name` FROM 2-16501954-20 WHERE `Position` < '2'
SELECT "Name" FROM 2-16501954-20 WHERE "Position" < 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next432>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `High_rebounds` FROM 2-17288845-5 WHERE `Game` = '12';
SELECT `High_rebounds` FROM 2-17288845-5 WHERE `Game` = '12';
SELECT "High_rebounds" FROM 2-17288845-5 WHERE "Game" = 12
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next433>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Result` FROM 2-16912111-3 WHERE `Week` = '16'</answer>
SELECT `Result` FROM 2-16912111-3 WHERE `Week` = '16'
SELECT "Result" FROM 2-16912111-3 WHERE "Week" = 16
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next434>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "grades" FROM 2-16940367-1 WHERE "_2007_API" = 734;</answer>
SELECT "grades" FROM 2-16940367-1 WHERE "_2007_API" = 734;
SELECT "grades" FROM 2-16940367-1 WHERE "_2007_API" = 734
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next435>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `grades` FROM `2-16940367-1` WHERE `students` < 430 AND `_2007_API` = 510;</answer>
SELECT `grades` FROM `2-16940367-1` WHERE `students` < 430 AND `_2007_API` = 510;
SELECT "grades" FROM 2-16940367-1 WHERE "students" < 430 AND "_2007_API" = 510
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next436>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG("Rank") FROM 2-1682026-7 WHERE "Sales__billion___" > '146.56' AND "Profits__billion___" = '11.68'</answer>
SELECT AVG("Rank") FROM 2-1682026-7 WHERE "Sales__billion___" > '146.56' AND "Profits__billion___" = '11.68'
SELECT AVG("Rank") FROM 2-1682026-7 WHERE "Sales__billion___" > 146.56 AND "Profits__billion___" = 11.68
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next437>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `College` FROM 2-17100961-80 WHERE `Round` < '7' AND `Pick` = '13' AND `Overall` < '186';
SELECT `College` FROM 2-17100961-80 WHERE `Round` < '7' AND `Pick` = '13' AND `Overall` < '186';
SELECT "College" FROM 2-17100961-80 WHERE "Round" < 7 AND "Overall" < 186 AND "Pick" = 13
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next438>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Total" FROM 2-16455340-2 WHERE "Bronze" > '35'</answer>
SELECT "Total" FROM 2-16455340-2 WHERE "Bronze" > '35'
SELECT "Total" FROM 2-16455340-2 WHERE "Bronze" > 35
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next439>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN("Draft") FROM 2-16815697-2 WHERE "Pick" = '48'</answer>
SELECT MIN("Draft") FROM 2-16815697-2 WHERE "Pick" = '48'
SELECT MIN("Draft") FROM 2-16815697-2 WHERE "Pick" = 48
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next440>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Played") FROM 2-17603559-1 WHERE "Goals_For" > 60 AND "Lost" = '8' AND "Position" < '1'</answer>
SELECT SUM("Played") FROM 2-17603559-1 WHERE "Goals_For" > 60 AND "Lost" = '8' AND "Position" < '1'
SELECT SUM("Played") FROM 2-17603559-1 WHERE "Goals_For" > 60 AND "Lost" = 8 AND "Position" < 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next441>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT(*) FROM 2-17522854-6 WHERE `Total` < 2 AND `_1st_RU` > 0 AND `_2nd_RU` = 0 AND `Miss_United_Continent` = 0;</answer>
SELECT COUNT(*) FROM 2-17522854-6 WHERE `Total` < 2 AND `_1st_RU` > 0 AND `_2nd_RU` = 0 AND `Miss_United_Continent` = 0;
SELECT COUNT("Semifinalists") FROM 2-17522854-6 WHERE "Miss_United_Continent" = 0 AND "_2nd_RU" = 0 AND "_1st_RU" > 0 AND "Total" < 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next442>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Player` FROM `2-17371779-1` WHERE `Round` > '2' AND `Pick` > '83';
SELECT `Player` FROM `2-17371779-1` WHERE `Round` > '2' AND `Pick` > '83';
SELECT "Player" FROM 2-17371779-1 WHERE "Round" > 2 AND "Pick" > 83
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next443>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Poles") FROM 2-17273933-2 WHERE "Podiums" = '0' AND "Races" = '17'</answer>
SELECT SUM("Poles") FROM 2-17273933-2 WHERE "Podiums" = '0' AND "Races" = '17'
SELECT SUM("Poles") FROM 2-17273933-2 WHERE "Podiums" = 0 AND "Races" = 17
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next444>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

<answer>SELECT "Attendance" FROM 2-16714764-2 WHERE "Week" = '4'</answer>
SELECT "Attendance" FROM 2-16714764-2 WHERE "Week" = '4'
SELECT COUNT("Attendance") FROM 2-16714764-2 WHERE "Week" = 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next445>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Rank` FROM 2-16338733-1 WHERE `Bronze` = '3'</answer>
SELECT `Rank` FROM 2-16338733-1 WHERE `Bronze` = '3'
SELECT "Rank" FROM 2-16338733-1 WHERE "Bronze" = 3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next446>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MIN("Last_Yr") FROM 2-17597770-2 WHERE "Yr_plyf" < 0;
SELECT MIN("Last_Yr") FROM 2-17597770-2 WHERE "Yr_plyf" < 0;
SELECT MIN("Last_Yr") FROM 2-17597770-2 WHERE "Yr_plyf" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next447>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Hanyu" FROM 2-17015-2 WHERE "Area__km__" = '19.3888';
SELECT "Hanyu" FROM 2-17015-2 WHERE "Area__km__" = '19.3888';
SELECT "Hanyu" FROM 2-17015-2 WHERE "Area__km__" = 19.3888
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next448>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT SUM("Premier_League") FROM 2-17583318-4 WHERE "UEFA_Cup" = '10' AND "League_Cup" < '4';
SELECT SUM("Premier_League") FROM 2-17583318-4 WHERE "UEFA_Cup" = '10' AND "League_Cup" < '4';
SELECT COUNT("Premier_League") FROM 2-17583318-4 WHERE "UEFA_Cup" = 10 AND "League_Cup" < 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next449>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Fastest_Laps") FROM 2-16678131-2 WHERE "Poles" = '0' AND "Podiums" > '2' AND "Races" > '15'</answer>
SELECT MAX("Fastest_Laps") FROM 2-16678131-2 WHERE "Poles" = '0' AND "Podiums" > '2' AND "Races" > '15'
SELECT MAX("Fastest_Laps") FROM 2-16678131-2 WHERE "Poles" = 0 AND "Races" > 15 AND "Podiums" > 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next450>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Goals_Against` FROM 2-17606104-1 WHERE `Drawn` < '3'</answer>
SELECT `Goals_Against` FROM 2-17606104-1 WHERE `Drawn` < '3'
SELECT MAX("Goals_Against") FROM 2-17606104-1 WHERE "Drawn" < 3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next451>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT SUM("Wkts") FROM 2-16840834-7 WHERE "Ovrs" > '2' AND "Econ" > '7.84';
SELECT SUM("Wkts") FROM 2-16840834-7 WHERE "Ovrs" > '2' AND "Econ" > '7.84';
SELECT SUM("Wkts") FROM 2-16840834-7 WHERE "Ovrs" > 2 AND "Econ" > 7.84
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next452>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT SUM("Runs") FROM 2-16840834-7 WHERE "Wkts" > '0' AND "Ovrs" < '2';
SELECT SUM("Runs") FROM 2-16840834-7 WHERE "Wkts" > '0' AND "Ovrs" < '2';
SELECT SUM("Runs") FROM 2-16840834-7 WHERE "Ovrs" < 2 AND "Wkts" > 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next453>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Bronze` FROM 2-17048578-2 WHERE `Rank` = '2' AND `Silver` < 0 ORDER BY `Bronze` LIMIT 1</answer>
SELECT `Bronze` FROM 2-17048578-2 WHERE `Rank` = '2' AND `Silver` < 0 ORDER BY `Bronze` LIMIT 1
SELECT MIN("Bronze") FROM 2-17048578-2 WHERE "Rank" = 2 AND "Silver" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next454>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Record" FROM 2-17382411-4 WHERE "Game" = '13'</answer>
SELECT "Record" FROM 2-17382411-4 WHERE "Game" = '13'
SELECT "Record" FROM 2-17382411-4 WHERE "Game" = 13
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next455>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Birthplace__Date` FROM 2-17371302-22 WHERE `Pick` = '4'</answer>
SELECT `Birthplace__Date` FROM 2-17371302-22 WHERE `Pick` = '4'
SELECT "Birthplace__Date" FROM 2-17371302-22 WHERE "Pick" = 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next456>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MIN("Number_1971") FROM 2-16861647-1 WHERE "_2002" > 133 AND "_1991" < 171;
SELECT MIN("Number_1971") FROM 2-16861647-1 WHERE "_2002" > 133 AND "_1991" < 171;
SELECT MIN("Number_1971") FROM 2-16861647-1 WHERE "_2002" > 133 AND "_1991" < 171
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next457>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Record" FROM 2-17324893-4 WHERE "Game" = '36'</answer>
SELECT "Record" FROM 2-17324893-4 WHERE "Game" = '36'
SELECT "Record" FROM 2-17324893-4 WHERE "Game" = 36
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next458>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG(`Total_votes`) FROM 2-168482-1 WHERE `__of_seats_won` < '0'</answer>
SELECT AVG(`Total_votes`) FROM 2-168482-1 WHERE `__of_seats_won` < '0'
SELECT AVG("Total_votes") FROM 2-168482-1 WHERE "__of_seats_won" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next459>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Total_votes` FROM 2-168482-1 WHERE `Election` > '2009' AND `Candidates_fielded` > '61'</answer>
SELECT `Total_votes` FROM 2-168482-1 WHERE `Election` > '2009' AND `Candidates_fielded` > '61'
SELECT COUNT("Total_votes") FROM 2-168482-1 WHERE "Election" > 2009 AND "Candidates_fielded" > 61
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next460>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN(TOTALS_06_10) FROM 2-167354-2 WHERE PUBS_2010 = '68' AND TOTALS_07_11 > '305'</answer>
SELECT MIN(TOTALS_06_10) FROM 2-167354-2 WHERE PUBS_2010 = '68' AND TOTALS_07_11 > '305'
SELECT MIN("TOTALS_06_10") FROM 2-167354-2 WHERE "PUBS__2010" = 68 AND "TOTALS_07_11" > 305
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next461>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Average_score` FROM 2-16444986-3 WHERE `Number` = '2' ORDER BY `Average_score` ASC LIMIT 1;</answer>
SELECT `Average_score` FROM 2-16444986-3 WHERE `Number` = '2' ORDER BY `Average_score` ASC LIMIT 1;
SELECT MIN("Average_score") FROM 2-16444986-3 WHERE "Number" = 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next462>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Nationality` FROM 2-17206737-28 WHERE `Round` = '7';
SELECT `Nationality` FROM 2-17206737-28 WHERE `Round` = '7';
SELECT "Nationality" FROM 2-17206737-28 WHERE "Round" = 7
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next463>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Opponent" FROM 2-17562956-6 WHERE "February" > '2' AND "Game" < '55'</answer>
SELECT "Opponent" FROM 2-17562956-6 WHERE "February" > '2' AND "Game" < '55'
SELECT "Opponent" FROM 2-17562956-6 WHERE "February" > 2 AND "Game" < 55
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next464>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

<answer>SELECT `Total` FROM 2-16744814-5 WHERE `Bronze` < '16' AND `Silver` > '6' ORDER BY `Total` ASC LIMIT 1</answer>
SELECT `Total` FROM 2-16744814-5 WHERE `Bronze` < '16' AND `Silver` > '6' ORDER BY `Total` ASC LIMIT 1
SELECT MIN("Total") FROM 2-16744814-5 WHERE "Bronze" < 16 AND "Silver" > 6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next465>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN("Gold") FROM 2-16744814-5 WHERE "Total" > 15 AND "Silver" < 16;</answer>
SELECT MIN("Gold") FROM 2-16744814-5 WHERE "Total" > 15 AND "Silver" < 16;
SELECT MIN("Gold") FROM 2-16744814-5 WHERE "Total" > 15 AND "Silver" < 16
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next466>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Score` FROM 2-17190012-11 WHERE `Game` = '2';
SELECT `Score` FROM 2-17190012-11 WHERE `Game` = '2';
SELECT "Score" FROM 2-17190012-11 WHERE "Game" = 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next467>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Event` FROM 2-16682600-1 WHERE `Year` = '2008'</answer>
SELECT `Event` FROM 2-16682600-1 WHERE `Year` = '2008'
SELECT "Event" FROM 2-16682600-1 WHERE "Year" = 2008
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next468>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Position` FROM 2-17100961-38 WHERE `Round` > '14' AND `Overall` < '419'</answer>
SELECT `Position` FROM 2-17100961-38 WHERE `Round` > '14' AND `Overall` < '419'
SELECT "Position" FROM 2-17100961-38 WHERE "Round" > 14 AND "Overall" < 419
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next469>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Away` FROM 2-17026847-10 WHERE `Attendance` = '916'</answer>
SELECT `Away` FROM 2-17026847-10 WHERE `Attendance` = '916'
SELECT "Away" FROM 2-17026847-10 WHERE "Attendance" = 916
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next470>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT SUM("Swimsuit") FROM 2-17088705-2 WHERE "Average" = '9.733' AND "Interview" > '9.654';
SELECT SUM("Swimsuit") FROM 2-17088705-2 WHERE "Average" = '9.733' AND "Interview" > '9.654';
SELECT SUM("Swimsuit") FROM 2-17088705-2 WHERE "Average" = 9.733 AND "Interview" > 9.654
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next471>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Minutes_Played_Per_Game` FROM 2-17309791-5 WHERE `Rebounds` < '347' AND `Assists` > '5' AND `Minutes_Played` < '301' ORDER BY `Minutes_Played_Per_Game` ASC LIMIT 1;</answer>
SELECT `Minutes_Played_Per_Game` FROM 2-17309791-5 WHERE `Rebounds` < '347' AND `Assists` > '5' AND `Minutes_Played` < '301' ORDER BY `Minutes_Played_Per_Game` ASC LIMIT 1;
SELECT MIN("Minutes_Played_Per_Game") FROM 2-17309791-5 WHERE "Rebounds" < 347 AND "Assists" > 5 AND "Minutes_Played" < 301
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next472>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Record" FROM 2-17288869-8 WHERE "Game" = 'Game 56';
SELECT "Record" FROM 2-17288869-8 WHERE "Game" = 'Game 56';
SELECT "Record" FROM 2-17288869-8 WHERE "Game" = 56
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next473>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM(`Avg__Finish`) FROM 2-1671401-2 WHERE `Poles` < 0;</answer>
SELECT SUM(`Avg__Finish`) FROM 2-1671401-2 WHERE `Poles` < 0;
SELECT SUM("Avg__Finish") FROM 2-1671401-2 WHERE "Poles" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next474>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Date` FROM 2-17383542-3 WHERE `Rockets_score` = '94' AND `Game` = '66'</answer>
SELECT `Date` FROM 2-17383542-3 WHERE `Rockets_score` = '94' AND `Game` = '66'
SELECT "Date" FROM 2-17383542-3 WHERE "Rockets_score" = 94 AND "Game" = 66
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next475>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Record" FROM 2-17340355-7 WHERE "Game" = 'Game 43';
SELECT "Record" FROM 2-17340355-7 WHERE "Game" = 'Game 43';
SELECT "Record" FROM 2-17340355-7 WHERE "Game" = 43
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next476>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Score` FROM 2-17102076-6 WHERE `Game` = '25';
SELECT `Score` FROM 2-17102076-6 WHERE `Game` = '25';
SELECT "Score" FROM 2-17102076-6 WHERE "Game" = 25
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next477>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Method` FROM 2-17624945-2 WHERE `Round` = '3';
SELECT `Method` FROM 2-17624945-2 WHERE `Round` = '3';
SELECT "Method" FROM 2-17624945-2 WHERE "Round" = 3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next478>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Goals_For` FROM 2-17367132-1 WHERE `Drawn` = '10'</answer>
SELECT `Goals_For` FROM 2-17367132-1 WHERE `Drawn` = '10'
SELECT COUNT("Goals_For") FROM 2-17367132-1 WHERE "Drawn" = 10
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next479>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Place" FROM 2-17245471-3 WHERE "Score" < 70;</answer>
SELECT "Place" FROM 2-17245471-3 WHERE "Score" < 70;
SELECT "Place" FROM 2-17245471-3 WHERE "Score" < 70
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next480>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Name` FROM 2-16256777-2 WHERE `Market_value__Bn___` < '5.59' AND `Assets__Bn___` > '27.46' AND `Rank` > '39'</answer>
SELECT `Name` FROM 2-16256777-2 WHERE `Market_value__Bn___` < '5.59' AND `Assets__Bn___` > '27.46' AND `Rank` > '39'
SELECT "Name" FROM 2-16256777-2 WHERE "Market_value__Bn___" < 5.59 AND "Rank" > 39 AND "Assets__Bn___" > 27.46
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next481>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Points` FROM 2-17619574-4 WHERE `Played` < '38'</answer>
SELECT `Points` FROM 2-17619574-4 WHERE `Played` < '38'
SELECT SUM("Points") FROM 2-17619574-4 WHERE "Played" < 38
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next482>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Country" FROM 2-17231246-3 WHERE "Total" = '148';</answer>
SELECT "Country" FROM 2-17231246-3 WHERE "Total" = '148';
SELECT "Country" FROM 2-17231246-3 WHERE "Total" = 148
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next483>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Title` FROM 2-16431493-1 WHERE `Track` = '6'</answer>
SELECT `Title` FROM 2-16431493-1 WHERE `Track` = '6'
SELECT "Title" FROM 2-16431493-1 WHERE "Track" = 6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next484>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

<answer>SELECT AVG(`Goals_Against`) FROM 2-17605220-1 WHERE `Played` > '42'</answer>
SELECT AVG(`Goals_Against`) FROM 2-17605220-1 WHERE `Played` > '42'
SELECT AVG("Goals_Against") FROM 2-17605220-1 WHERE "Played" > 42
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next485>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Opponent" FROM 2-17342287-8 WHERE "Game" = '71'</answer>
SELECT "Opponent" FROM 2-17342287-8 WHERE "Game" = '71'
SELECT "Opponent" FROM 2-17342287-8 WHERE "Game" = 71
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next486>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Record` FROM 2-17599495-7 WHERE `Game` = '52'</answer>
SELECT `Record` FROM 2-17599495-7 WHERE `Game` = '52'
SELECT "Record" FROM 2-17599495-7 WHERE "Game" = 52
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next487>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Game" FROM 2-16864968-7 WHERE "Points" > 50 AND "Number" < 57;
SELECT "Game" FROM 2-16864968-7 WHERE "Points" > 50 AND "Number" < 57;
SELECT "Location" FROM 2-16864968-7 WHERE "Game" < 57 AND "Points" > 50
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next488>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Winner" FROM 2-16828302-1 WHERE "Year" = '2001'</answer>
SELECT "Winner" FROM 2-16828302-1 WHERE "Year" = '2001'
SELECT "Winner" FROM 2-16828302-1 WHERE "Year" = 2001
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next489>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Matches") FROM 2-1736167-3 WHERE "Points" < 8 AND "Place" > 13 AND "Drawn" < 1;</answer>
SELECT MAX("Matches") FROM 2-1736167-3 WHERE "Points" < 8 AND "Place" > 13 AND "Drawn" < 1;
SELECT MAX("Matches") FROM 2-1736167-3 WHERE "Points" < 8 AND "Place" > 13 AND "Drawn" < 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next490>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT COUNT(*) FROM 2-16706701-7 WHERE Goals = 5 AND Assists < 8;
SELECT COUNT(*) FROM 2-16706701-7 WHERE Goals = 5 AND Assists < 8;
SELECT COUNT("Games") FROM 2-16706701-7 WHERE "Goals" = 5 AND "Assists" < 8
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next491>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Player` FROM 2-17290101-1 WHERE `To_par` < '14';</answer>
SELECT `Player` FROM 2-17290101-1 WHERE `To_par` < '14';
SELECT "Player" FROM 2-17290101-1 WHERE "To_par" < 14
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next492>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MIN("Hydroelectricity") FROM 2-17068413-1 WHERE "Total" < '116.4' AND "Solar" > '18.637';
SELECT MIN("Hydroelectricity") FROM 2-17068413-1 WHERE "Total" < '116.4' AND "Solar" > '18.637';
SELECT MIN("Hydroelectricity") FROM 2-17068413-1 WHERE "Total" < 116.4 AND "Solar" > 18.637
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next493>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Player` FROM 2-17064421-1 WHERE `Pick` = '219';</answer>
SELECT `Player` FROM 2-17064421-1 WHERE `Pick` = '219';
SELECT "Player" FROM 2-17064421-1 WHERE "Pick" = 219
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next494>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `_250_cc` FROM 2-16801125-1 WHERE `Year` > '1984'</answer>
SELECT `_250_cc` FROM 2-16801125-1 WHERE `Year` > '1984'
SELECT "_250_cc" FROM 2-16801125-1 WHERE "Year" > 1984
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next495>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Wins") FROM 2-16745556-1 WHERE "Played" < '5'</answer>
SELECT SUM("Wins") FROM 2-16745556-1 WHERE "Played" < '5'
SELECT SUM("Wins") FROM 2-16745556-1 WHERE "Played" < 5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next496>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT * FROM 2-16652101-4 WHERE `React` < '0.149' AND `Lane` < 6;</answer>
SELECT * FROM 2-16652101-4 WHERE `React` < '0.149' AND `Lane` < 6;
SELECT "Name" FROM 2-16652101-4 WHERE "React" < 0.149 AND "Lane" < 6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next497>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "West_Ham_wins" FROM 2-17579291-1 WHERE "Millwall_goals" > '23' AND "Millwall_wins" < '5' AND "Drawn" = '8';
SELECT "West_Ham_wins" FROM 2-17579291-1 WHERE "Millwall_goals" > '23' AND "Millwall_wins" < '5' AND "Drawn" = '8';
SELECT "West_Ham_wins" FROM 2-17579291-1 WHERE "Millwall_wins" > 5 AND "Millwall_goals" > 23 AND "Drawn" = 8
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next498>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT SUM("Drawn") FROM 2-16501954-14 WHERE "Points" < 15 AND "Lost" = '8' AND "Position" > '6';
SELECT SUM("Drawn") FROM 2-16501954-14 WHERE "Points" < 15 AND "Lost" = '8' AND "Position" > '6';
SELECT SUM("Drawn") FROM 2-16501954-14 WHERE "Points" < 15 AND "Lost" = 8 AND "Position" > 6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next499>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Money______") FROM 2-17290101-6 WHERE "To_Par" < '2';</answer>
SELECT MAX("Money______") FROM 2-17290101-6 WHERE "To_Par" < '2';
SELECT MAX("Money______") FROM 2-17290101-6 WHERE "To_Par" < 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next500>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Wins" FROM 2-1640715-1 WHERE "Year" = '1990' AND "Avg__Finish" = '35' AND "Avg__Start" < '1'</answer>
SELECT "Wins" FROM 2-1640715-1 WHERE "Year" = '1990' AND "Avg__Finish" = '35' AND "Avg__Start" < '1'
SELECT MAX("Wins") FROM 2-1640715-1 WHERE "Avg__Finish" = 35 AND "Year" = 1990 AND "Starts" < 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next501>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG("Avg__Finish") FROM 2-1640715-1 WHERE "Year" = '2007' AND "Starts" < '1'</answer>
SELECT AVG("Avg__Finish") FROM 2-1640715-1 WHERE "Year" = '2007' AND "Starts" < '1'
SELECT SUM("Avg__Finish") FROM 2-1640715-1 WHERE "Year" = 2007 AND "Starts" < 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next502>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Round` FROM 2-16677887-1 WHERE `Pick__` = '129';</answer>
SELECT `Round` FROM 2-16677887-1 WHERE `Pick__` = '129';
SELECT COUNT("Round") FROM 2-16677887-1 WHERE "Pick__" = 129
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next503>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Attendance` FROM 2-16778260-2 WHERE `Week` = '10';</answer>
SELECT `Attendance` FROM 2-16778260-2 WHERE `Week` = '10';
SELECT "Attendance" FROM 2-16778260-2 WHERE "Week" = 10
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next504>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

<answer>SELECT AVG("Laps") FROM 2-16193402-2 WHERE "Grid" = 15</answer>
SELECT AVG("Laps") FROM 2-16193402-2 WHERE "Grid" = 15
SELECT AVG("Laps") FROM 2-16193402-2 WHERE "Grid" = 15
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next505>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Home_team" FROM 2-17494040-8 WHERE "Attendance" > '202'</answer>
SELECT "Home_team" FROM 2-17494040-8 WHERE "Attendance" > '202'
SELECT "Home_team" FROM 2-17494040-8 WHERE "Attendance" > 202
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next506>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Rider` FROM 2-17271053-3 WHERE `Grid` = 7;
SELECT `Rider` FROM 2-17271053-3 WHERE `Grid` = 7;
SELECT "Rider" FROM 2-17271053-3 WHERE "Grid" = 7
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next507>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG("Points") FROM 2-16501954-19 WHERE "Played" > '10'</answer>
SELECT AVG("Points") FROM 2-16501954-19 WHERE "Played" > '10'
SELECT AVG("Points") FROM 2-16501954-19 WHERE "Played" > 10
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next508>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT("Sets_") FROM 2-17308611-2 WHERE "Points_" = 1435 AND "Points_" < 1228;</answer>
SELECT COUNT("Sets_") FROM 2-17308611-2 WHERE "Points_" = 1435 AND "Points_" < 1228;
SELECT COUNT("Sets_") FROM 2-17308611-2 WHERE "Points_" = 1435 AND "Points_" < 1228
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next509>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Make" FROM 2-16515701-1 WHERE "Year" = '2008';</answer>
SELECT "Make" FROM 2-16515701-1 WHERE "Year" = '2008';
SELECT "Make" FROM 2-16515701-1 WHERE "Year" = 2008
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next510>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Player" FROM 2-16490473-1 WHERE "Total" = '297';</answer>
SELECT "Player" FROM 2-16490473-1 WHERE "Total" = '297';
SELECT "Player" FROM 2-16490473-1 WHERE "Total" = 297
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next511>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MAX("Runs") FROM 2-16570286-2 WHERE "Matches" > '5';
SELECT MAX("Runs") FROM 2-16570286-2 WHERE "Matches" > '5';
SELECT MAX("Runs") FROM 2-16570286-2 WHERE "Matches" > 5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next512>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `College_Junior_Club_Team__League_` FROM 2-17075346-20 WHERE `Round` > '6';</answer>
SELECT `College_Junior_Club_Team__League_` FROM 2-17075346-20 WHERE `Round` > '6';
SELECT "College_Junior_Club_Team__League_" FROM 2-17075346-20 WHERE "Round" > 6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next513>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Date" FROM 2-16714758-1 WHERE "Week" = '8';
SELECT "Date" FROM 2-16714758-1 WHERE "Week" = '8';
SELECT "Date" FROM 2-16714758-1 WHERE "Week" = 8
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next514>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Place` FROM 2-16792225-1 WHERE `Televotes` = '15424'</answer>
SELECT `Place` FROM 2-16792225-1 WHERE `Televotes` = '15424'
SELECT MIN("Place") FROM 2-16792225-1 WHERE "Televotes" = 15424
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next515>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Starts") FROM 2-1637041-4 WHERE "Year" = '2007' AND "Avg__Start" > '17.6';</answer>
SELECT MAX("Starts") FROM 2-1637041-4 WHERE "Year" = '2007' AND "Avg__Start" > '17.6';
SELECT MAX("Starts") FROM 2-1637041-4 WHERE "Year" = 2007 AND "Avg__Start" > 17.6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next516>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Fumb TD` FROM 2-16912000-9 WHERE `Int TD` = '1' AND `Fumb F_` < '1'</answer>
SELECT `Fumb TD` FROM 2-16912000-9 WHERE `Int TD` = '1' AND `Fumb F_` < '1'
SELECT MIN("Fumb_TD") FROM 2-16912000-9 WHERE "Int_TD" = 1 AND "Fumb_F_" < 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next517>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "High_assists" FROM 2-17288869-9 WHERE "Game" < '60'</answer>
SELECT "High_assists" FROM 2-17288869-9 WHERE "Game" < '60'
SELECT "High_assists" FROM 2-17288869-9 WHERE "Game" < 60
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next518>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT SUM("Net_profit___m_") FROM 2-1720278-1 WHERE "Earnings_per_share__p_" = '27.4' AND "Profit__loss__before_tax___m_" < '194.6';
SELECT SUM("Net_profit___m_") FROM 2-1720278-1 WHERE "Earnings_per_share__p_" = '27.4' AND "Profit__loss__before_tax___m_" < '194.6';
SELECT SUM("Net_profit___m_") FROM 2-17202278-1 WHERE "Earnings_per_share__p_" = 27.4 AND "Profit__loss__before_tax___m_" < 194.6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next519>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Bronze" FROM 2-16852841-1 WHERE "Silver" = '0'</answer>
SELECT "Bronze" FROM 2-16852841-1 WHERE "Silver" = '0'
SELECT MAX("Bronze") FROM 2-16852841-1 WHERE "Silver" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next520>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Total`
FROM 2-1747960-4
WHERE `Bronze` < '2' AND `Rank` < '4' AND `Silver` < '1';
SELECT `Total`
FROM 2-1747960-4
WHERE `Bronze` < '2' AND `Rank` < '4' AND `Silver` < '1';
SELECT COUNT("Total") FROM 2-1747960-4 WHERE "Bronze" < 2 AND "Rank" < 4 AND "Silver" < 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next521>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Strike_Rate` FROM 2-17529767-12 WHERE `Average` < '50.25' AND `Matches` < '13' ORDER BY `Strike_Rate` DESC LIMIT 1;</answer>
SELECT `Strike_Rate` FROM 2-17529767-12 WHERE `Average` < '50.25' AND `Matches` < '13' ORDER BY `Strike_Rate` DESC LIMIT 1;
SELECT MAX("Strike_Rate") FROM 2-17529767-12 WHERE "Matches" < 13 AND "Average" < 50.25
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next522>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Name` FROM 2-16388723-6 WHERE `Rank` = '9'</answer>
SELECT `Name` FROM 2-16388723-6 WHERE `Rank` = '9'
SELECT "Name" FROM 2-16388723-6 WHERE "Rank" = 9
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next523>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG(`Losses`) FROM 2-16797038-2 WHERE `Goals_For` = 22</answer>
SELECT AVG(`Losses`) FROM 2-16797038-2 WHERE `Goals_For` = 22
SELECT AVG("Losses") FROM 2-16797038-2 WHERE "Goals_For" > 22
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next524>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

<answer>SELECT "Label" FROM 2-16441868-2 WHERE "Year" < '1979'</answer>
SELECT "Label" FROM 2-16441868-2 WHERE "Year" < '1979'
SELECT "Label" FROM 2-16441868-2 WHERE "Year" < 1979
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next525>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Opponent" FROM 2-17323283-7 WHERE "Game" = '75';
SELECT "Opponent" FROM 2-17323283-7 WHERE "Game" = '75';
SELECT "Opponent" FROM 2-17323283-7 WHERE "Game" = 75
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next526>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Events` FROM 2-1646050-6 WHERE `Cuts_made` = '34' AND `Top_10` = '3'</answer>
SELECT `Events` FROM 2-1646050-6 WHERE `Cuts_made` = '34' AND `Top_10` = '3'
SELECT COUNT("Events") FROM 2-1646050-6 WHERE "Cuts_made" < 34 AND "Top_10" > 3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next527>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Silver` FROM 2-16334126-1 WHERE `Bronze` = '19' AND `Total` > '58'</answer>
SELECT `Silver` FROM 2-16334126-1 WHERE `Bronze` = '19' AND `Total` > '58'
SELECT MIN("Silver") FROM 2-16334126-1 WHERE "Bronze" = 19 AND "Total" > 58
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next528>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Total` FROM 2-16334126-1 WHERE `Silver` > '19'</answer>
SELECT `Total` FROM 2-16334126-1 WHERE `Silver` > '19'
SELECT MAX("Total") FROM 2-16334126-1 WHERE "Silver" > 19
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next529>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Drawn` FROM 2-16566850-10 WHERE `Position` < '4' AND `Lost` < '2' ORDER BY `Drawn` DESC LIMIT 1;</answer>
SELECT `Drawn` FROM 2-16566850-10 WHERE `Position` < '4' AND `Lost` < '2' ORDER BY `Drawn` DESC LIMIT 1;
SELECT MAX("Drawn") FROM 2-16566850-10 WHERE "Position" < 4 AND "Lost" < 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next530>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Result` FROM 2-1115680-1 WHERE `Score` = '9'</answer>
SELECT `Result` FROM 2-1115680-1 WHERE `Score` = '9'
SELECT "Result" FROM 2-1115680-1 WHERE "Goal" = 9
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next531>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Outcome" FROM 2-1117909-1 WHERE "Year" = '1887'</answer>
SELECT "Outcome" FROM 2-1117909-1 WHERE "Year" = '1887'
SELECT "Outcome" FROM 2-1117909-1 WHERE "Year" = 1887
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next532>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Top_10" FROM 2-1157761-9 WHERE "Cuts_made" < '12' AND "Top_5" < '2' AND "Events" < '14' ORDER BY "Top_10" DESC LIMIT 10;
SELECT "Top_10" FROM 2-1157761-9 WHERE "Cuts_made" < '12' AND "Top_5" < '2' AND "Events" < '14' ORDER BY "Top_10" DESC LIMIT 10;
SELECT MAX("Top_10") FROM 2-1157761-9 WHERE "Cuts_made" < 12 AND "Top_5" < 2 AND "Events" < 14
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next533>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Result` FROM 2-11881103-1 WHERE `Year` = '1970'</answer>
SELECT `Result` FROM 2-11881103-1 WHERE `Year` = '1970'
SELECT "Result" FROM 2-11881103-1 WHERE "Year" = 1970
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next534>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Entrant` FROM 2-1152185-1 WHERE `Year` < '1963' AND `Points` < 3;
SELECT `Entrant` FROM 2-1152185-1 WHERE `Year` < '1963' AND `Points` < 3;
SELECT "Entrant" FROM 2-1152185-1 WHERE "Year" < 1963 AND "Points" < 3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next535>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("TD_s") FROM 2-11783640-4 WHERE "Long" > 6 AND "Car_" < 4;</answer>
SELECT SUM("TD_s") FROM 2-11783640-4 WHERE "Long" > 6 AND "Car_" < 4;
SELECT COUNT("TD_s") FROM 2-11783640-4 WHERE "Long" > 6 AND "Car_" < 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next536>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Voter_registration" FROM 2-11060668-2 WHERE "BYuT" = '48.2'</answer>
SELECT "Voter_registration" FROM 2-11060668-2 WHERE "BYuT" = '48.2'
SELECT COUNT("Voter_registration") FROM 2-11060668-2 WHERE "BYuT" = 48.2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next537>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Lost" FROM 2-11161833-3 WHERE "Played" < 18</answer>
SELECT "Lost" FROM 2-11161833-3 WHERE "Played" < 18
SELECT MIN("Lost") FROM 2-11161833-3 WHERE "Played" < 18
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next538>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG(`Year`) FROM 2-11872185-11 WHERE `Rank` = '4'</answer>
SELECT AVG(`Year`) FROM 2-11872185-11 WHERE `Rank` = '4'
SELECT AVG("Year") FROM 2-11872185-11 WHERE "Rank" = 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next539>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Percentage` FROM 2-1189910-1 WHERE `Seats` = '80';
SELECT `Percentage` FROM 2-1189910-1 WHERE `Seats` = '80';
SELECT "Percentage" FROM 2-1189910-1 WHERE "Seats" = 80
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next540>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG(`Goals_against`) FROM 2-12091720-2 WHERE `Goals_for` > 35 AND `Goal_Difference` = 20;</answer>
SELECT AVG(`Goals_against`) FROM 2-12091720-2 WHERE `Goals_for` > 35 AND `Goal_Difference` = 20;
SELECT AVG("Goals_against") FROM 2-12091720-2 WHERE "Goals_for" > 35 AND "Goal_Difference" = 20
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next541>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Wins` FROM 2-11622829-3 WHERE `Rank` < '3' AND `Events` < '22';</answer>
SELECT `Wins` FROM 2-11622829-3 WHERE `Rank` < '3' AND `Events` < '22';
SELECT COUNT("Wins") FROM 2-11622829-3 WHERE "Events" < 22 AND "Rank" < 3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next542>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Lowest` FROM 2-11206916-1 WHERE `Average` < '307' LIMIT 1;</answer>
SELECT `Lowest` FROM 2-11206916-1 WHERE `Average` < '307' LIMIT 1;
SELECT AVG("Lowest") FROM 2-11206916-1 WHERE "Average" < 307
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next543>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX(`Silver`) FROM 2-113485-1 WHERE `Total` > '95';</answer>
SELECT MAX(`Silver`) FROM 2-113485-1 WHERE `Total` > '95';
SELECT MAX("Silver") FROM 2-113485-1 WHERE "Total" > 95
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next544>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

<answer>SELECT MIN("Grid") FROM `2-1122689-1` WHERE `Laps` > 78;</answer>
SELECT MIN("Grid") FROM `2-1122689-1` WHERE `Laps` > 78;
SELECT MIN("Grid") FROM 2-1122689-1 WHERE "Laps" > 78
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next545>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Points_Diff`
FROM 2-10814485-3
WHERE `Against` < 578 AND `Lost` = 15 AND `Points` > 26;
SELECT `Points_Diff`
FROM 2-10814485-3
WHERE `Against` < 578 AND `Lost` = 15 AND `Points` > 26;
SELECT MIN("Points_Diff") FROM 2-10814485-3 WHERE "Against" < 578 AND "Lost" = 15 AND "Points" > 26
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next546>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "_1995" FROM 2-1145364-9 WHERE "_1990" = '441' AND "_1985" < '359'</answer>
SELECT "_1995" FROM 2-1145364-9 WHERE "_1990" = '441' AND "_1985" < '359'
SELECT MIN("_1995") FROM 2-1145364-9 WHERE "_1990" = 441 AND "_1985" < 359
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next547>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Nationality` FROM `2-11821711-13` WHERE `Round` > '4';
SELECT `Nationality` FROM `2-11821711-13` WHERE `Round` > '4';
SELECT "Nationality" FROM 2-11821711-13 WHERE "Round" > 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next548>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG("Average") FROM 2-11970261-2 WHERE "Swimsuit" > '9.437'</answer>
SELECT AVG("Average") FROM 2-11970261-2 WHERE "Swimsuit" > '9.437'
SELECT MAX("Average") FROM 2-11970261-2 WHERE "Swimsuit" > 9.437
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next549>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Driver" FROM 2-1123345-2 WHERE "Laps" = 28 AND "Grid" > 5;</answer>
SELECT "Driver" FROM 2-1123345-2 WHERE "Laps" = 28 AND "Grid" > 5;
SELECT "Driver" FROM 2-1123345-2 WHERE "Grid" > 5 AND "Laps" = 28
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next550>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Driver" FROM 2-1122312-2 WHERE "Grid" > '11' AND "Laps" > '52'</answer>
SELECT "Driver" FROM 2-1122312-2 WHERE "Grid" > '11' AND "Laps" > '52'
SELECT "Driver" FROM 2-1122312-2 WHERE "Grid" > 11 AND "Laps" > 52
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next551>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "First_time_as_HC_climb" FROM 2-12043034-1 WHERE "Most_recent" > '2012' AND "No__of_HC_climbs" > 1 AND "No__of_times_visited" > 29;
SELECT "First_time_as_HC_climb" FROM 2-12043034-1 WHERE "Most_recent" > '2012' AND "No__of_HC_climbs" > 1 AND "No__of_times_visited" > 29;
SELECT SUM("First_time_as_HC_climb") FROM 2-12043034-1 WHERE "No__of_HC_climbs" > 1 AND "No__of_times_visited" > 29 AND "Most_recent" > 2012
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next552>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Driver` FROM 2-1122080-1 WHERE `Laps` > 9 AND `Grid` = 7;</answer>
SELECT `Driver` FROM 2-1122080-1 WHERE `Laps` > 9 AND `Grid` = 7;
SELECT "Driver" FROM 2-1122080-1 WHERE "Laps" > 9 AND "Grid" = 7
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next553>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Avg_` FROM 2-11710574-5 WHERE `Yards` = 6 AND `Rec_` > 1 ORDER BY `Avg_` ASC LIMIT 1</answer>
SELECT `Avg_` FROM 2-11710574-5 WHERE `Yards` = 6 AND `Rec_` > 1 ORDER BY `Avg_` ASC LIMIT 1
SELECT MIN("Avg_") FROM 2-11710574-5 WHERE "Yards" = 6 AND "Rec_" > 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next554>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Pl_GP") FROM 2-11636955-6 WHERE "Rd__" > '9';</answer>
SELECT MAX("Pl_GP") FROM 2-11636955-6 WHERE "Rd__" > '9';
SELECT MAX("Pl_GP") FROM 2-11636955-6 WHERE "Rd__" > 9
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next555>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX(`_1985`) FROM 2-1145364-7 WHERE `_1990` = '93';</answer>
SELECT MAX(`_1985`) FROM 2-1145364-7 WHERE `_1990` = '93';
SELECT MAX("_1985") FROM 2-1145364-7 WHERE "_1990" = 93
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next556>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Total__kg_" FROM 2-11279593-14 WHERE "Snatch" > 87.5 AND "Bodyweight" > 74.8</answer>
SELECT "Total__kg_" FROM 2-11279593-14 WHERE "Snatch" > 87.5 AND "Bodyweight" > 74.8
SELECT AVG("Total__kg_") FROM 2-11279593-14 WHERE "Snatch" > 87.5 AND "Bodyweight" > 74.8
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next557>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `TD_s` FROM 2-11938731-7 WHERE `Sack` < '13' AND `Tackles` < '8' AND `Yards` < '0' ORDER BY `TD_s` DESC LIMIT 1;</answer>
SELECT `TD_s` FROM 2-11938731-7 WHERE `Sack` < '13' AND `Tackles` < '8' AND `Yards` < '0' ORDER BY `TD_s` DESC LIMIT 1;
SELECT MAX("TD_s") FROM 2-11938731-7 WHERE "Sack" < 13 AND "Tackles" < 8 AND "Yards" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next558>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Grid` FROM 2-1122054-2 WHERE `Laps` > 20;
SELECT `Grid` FROM 2-1122054-2 WHERE `Laps` > 20;
SELECT SUM("Grid") FROM 2-1122054-2 WHERE "Laps" > 20
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next559>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Constructor" FROM 2-1122381-2 WHERE "Laps" = 16 AND "Grid" = 9;</answer>
SELECT "Constructor" FROM 2-1122381-2 WHERE "Laps" = 16 AND "Grid" = 9;
SELECT "Constructor" FROM 2-1122381-2 WHERE "Laps" = 16 AND "Grid" = 9
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next560>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX(`Won__PG_`) FROM 2-11936264-2 WHERE `Goals_Conceded__GC_` < 21 AND `Played__PJ_` < 18;</answer>
SELECT MAX(`Won__PG_`) FROM 2-11936264-2 WHERE `Goals_Conceded__GC_` < 21 AND `Played__PJ_` < 18;
SELECT MAX("Won__PG_") FROM 2-11936264-2 WHERE "Goals_Conceded__GC_" < 21 AND "Played__PJ_" < 18
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next561>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Player" FROM 2-11783487-3 WHERE "No_result" != '0' AND "Tied" > 0;
SELECT "Player" FROM 2-11783487-3 WHERE "No_result" != '0' AND "Tied" > 0;
SELECT "Player" FROM 2-11783487-3 WHERE "No_result" = 0 AND "Tied" > 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next562>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `No_result` FROM 2-11783487-3 WHERE `Lost` > 5 AND `__win__A__` < 58.06</answer>
SELECT `No_result` FROM 2-11783487-3 WHERE `Lost` > 5 AND `__win__A__` < 58.06
SELECT MIN("No_result") FROM 2-11783487-3 WHERE "Lost" > 5 AND "__win__A__" < 58.06
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next563>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

SELECT "Driver" FROM 2-1122984-1 WHERE "Laps" = 74 AND "Grid" > 9;
SELECT "Driver" FROM 2-1122984-1 WHERE "Laps" = 74 AND "Grid" > 9;
SELECT "Driver" FROM 2-1122984-1 WHERE "Laps" = 74 AND "Grid" > 9
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next564>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Driver" FROM 2-1122493-1 WHERE "Grid" = 1;</answer>
SELECT "Driver" FROM 2-1122493-1 WHERE "Grid" = 1;
SELECT "Driver" FROM 2-1122493-1 WHERE "Grid" = 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next565>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM(`Draws`) FROM 2-12103836-2 WHERE `Position` < 15 AND `Played` > 38</answer>
SELECT SUM(`Draws`) FROM 2-12103836-2 WHERE `Position` < 15 AND `Played` > 38
SELECT SUM("Draws") FROM 2-12103836-2 WHERE "Position" < 15 AND "Played" > 38
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next566>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Winter` FROM 2-11015817-1 WHERE `Year` = '1906' AND `Season` = 'Winter'</answer>
SELECT `Winter` FROM 2-11015817-1 WHERE `Year` = '1906' AND `Season` = 'Winter'
SELECT "Winter" FROM 2-11015817-1 WHERE "Year" = 1906
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next567>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Figures` FROM 2-11124874-2 WHERE `Free` = '556' ORDER BY `Figures` ASC LIMIT 1</answer>
SELECT `Figures` FROM 2-11124874-2 WHERE `Free` = '556' ORDER BY `Figures` ASC LIMIT 1
SELECT MIN("Figures") FROM 2-11124874-2 WHERE "Free" = 556
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next568>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT SUM("Weeks_on_chart") FROM 2-11795254-3 WHERE "Position" < '1' AND "Single" = 'haas';
SELECT SUM("Weeks_on_chart") FROM 2-11795254-3 WHERE "Position" < '1' AND "Single" = 'haas';
SELECT SUM("Weeks_on_chart") FROM 2-11795254-3 WHERE "Position" < 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next569>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Parallel_Bars" FROM 2-11492504-1 WHERE "Floor_Exercise" > '9.137' AND "Vault" > '9.5' AND "Horizontal_Bar" = '9.225';
SELECT "Parallel_Bars" FROM 2-11492504-1 WHERE "Floor_Exercise" > '9.137' AND "Vault" > '9.5' AND "Horizontal_Bar" = '9.225';
SELECT SUM("Parallel_Bars") FROM 2-11492504-1 WHERE "Floor_Exercise" > 9.137 AND "Horizontal_Bar" = 9.225 AND "Vault" > 9.5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next570>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Venue` FROM 2_12066970_1 WHERE `Goal` = '3';</answer>
SELECT `Venue` FROM 2_12066970_1 WHERE `Goal` = '3';
SELECT "Venue" FROM 2-12066970-1 WHERE "Goal" = 3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next571>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Avg_` FROM 2_11786754_12 WHERE `TD_s` > '0' AND `Yards` > '135'</answer>
SELECT `Avg_` FROM 2_11786754_12 WHERE `TD_s` > '0' AND `Yards` > '135'
SELECT "Avg_" FROM 2-11786754-12 WHERE "TD_s" > 0 AND "Yards" > 135
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next572>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Laps` FROM 2-1122599-1 WHERE `Grid` = '18';
SELECT `Laps` FROM 2-1122599-1 WHERE `Grid` = '18';
SELECT SUM("Laps") FROM 2-1122599-1 WHERE "Grid" = 18
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next573>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG("Reg_GP") FROM 2-11636955-18 WHERE "Pick__" < '70' AND "Reg_GP" = '97';</answer>
SELECT AVG("Reg_GP") FROM 2-11636955-18 WHERE "Pick__" < '70' AND "Reg_GP" = '97';
SELECT AVG("Pl_GP") FROM 2-11636955-18 WHERE "Reg_GP" = 97 AND "Pick__" < 70
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next574>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Competition` FROM 2-1127788-3 WHERE `Goal` = '13';</answer>
SELECT `Competition` FROM 2-1127788-3 WHERE `Goal` = '13';
SELECT "Competition" FROM 2-1127788-3 WHERE "Goal" = 13
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next575>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN("Swimsuit") FROM 2-12044284-1 WHERE "Interview" < '8.56' AND "Evening_gown" > '8.54'</answer>
SELECT MIN("Swimsuit") FROM 2-12044284-1 WHERE "Interview" < '8.56' AND "Evening_gown" > '8.54'
SELECT MIN("Swimsuit") FROM 2-12044284-1 WHERE "Interview" < 8.56 AND "Evening_gown" > 8.54
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next576>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Total` FROM 2-113362-4 WHERE `Rank` = '4' AND `Silver` > '3' ORDER BY `Total` ASC LIMIT 1;</answer>
SELECT `Total` FROM 2-113362-4 WHERE `Rank` = '4' AND `Silver` > '3' ORDER BY `Total` ASC LIMIT 1;
SELECT MIN("Total") FROM 2-113362-4 WHERE "Rank" = 4 AND "Silver" > 3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next577>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Circuit` FROM 2-1126627-2 WHERE `Round` = '16';
SELECT `Circuit` FROM 2-1126627-2 WHERE `Round` = '16';
SELECT "Circuit" FROM 2-1126627-2 WHERE "Round" = 16
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next578>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Object_type` FROM 2-11097691-4 WHERE `NGC_number` = '3314';
SELECT `Object_type` FROM 2-11097691-4 WHERE `NGC_number` = '3314';
SELECT "Object_type" FROM 2-11097691-4 WHERE "NGC_number" = 3314
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next579>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Airdate` FROM 2-11548185-5 WHERE `__in_Season` = '5';
SELECT `Airdate` FROM 2-11548185-5 WHERE `__in_Season` = '5';
SELECT "Airdate" FROM 2-11548185-5 WHERE "__in_Season" = 5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next580>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Crude_birth_rate__per_1000_" FROM 2-12080-2 WHERE "Natural_change__per_1000_" = '215' AND "Crude_death_rate__per_1000_" > '7.2' ORDER BY "Crude_birth_rate__per_1000_" DESC LIMIT 1;</answer>
SELECT "Crude_birth_rate__per_1000_" FROM 2-12080-2 WHERE "Natural_change__per_1000_" = '215' AND "Crude_death_rate__per_1000_" > '7.2' ORDER BY "Crude_birth_rate__per_1000_" DESC LIMIT 1;
SELECT MAX("Crude_birth_rate__per_1000_") FROM 2-12080-2 WHERE "Natural_change" = 215 AND "Natural_change__per_1000_" > 7.2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next581>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Natural_change` FROM 2-12080-2 WHERE `Crude_death_rate__per_1000_` = '8.7' AND `Live_births` < '472';
SELECT `Natural_change` FROM 2-12080-2 WHERE `Crude_death_rate__per_1000_` = '8.7' AND `Live_births` < '472';
SELECT "Natural_change" FROM 2-12080-2 WHERE "Crude_death_rate__per_1000_" = 8.7 AND "Live_births" < 472
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next582>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

<answer>SELECT MAX("Losses") FROM 2-12042534-3 WHERE "Points_For" < 79 AND "Games_Played" = 10 AND "Point_Differential" < 34;</answer>
SELECT MAX("Losses") FROM 2-12042534-3 WHERE "Points_For" < 79 AND "Games_Played" = 10 AND "Point_Differential" < 34;
SELECT MAX("Losses") FROM 2-12042534-3 WHERE "Points_For" < 79 AND "Games_Played" = 10 AND "Point_Differential" < 34
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next583>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Points") FROM 2-11200078-1 WHERE "Lost" < 4;</answer>
SELECT SUM("Points") FROM 2-11200078-1 WHERE "Lost" < 4;
SELECT COUNT("Points") FROM 2-11200078-1 WHERE "Lost" < 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next584>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Date` FROM 2-11960610-7 WHERE `Game` = '23';
SELECT `Date` FROM 2-11960610-7 WHERE `Game` = '23';
SELECT "Date" FROM 2-11960610-7 WHERE "Game" = 23
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next585>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Authority` FROM 2-12017602-6 WHERE `Roll` = '40';</answer>
SELECT `Authority` FROM 2-12017602-6 WHERE `Roll` = '40';
SELECT "Authority" FROM 2-12017602-6 WHERE "Roll" = 40
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next586>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Pick__") FROM 2-11636955-37 WHERE "Pl_GP" > '55'</answer>
SELECT MAX("Pick__") FROM 2-11636955-37 WHERE "Pl_GP" > '55'
SELECT MAX("Pick__") FROM 2-11636955-37 WHERE "Pl_GP" > 55
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next587>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT(*) FROM 2-1122977-1 WHERE `Laps` > 61;</answer>
SELECT COUNT(*) FROM 2-1122977-1 WHERE `Laps` > 61;
SELECT SUM("Grid") FROM 2-1122977-1 WHERE "Laps" > 61
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next588>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `SP_FS` FROM 2-11025881-1 WHERE `Points` = '131.02' AND `Rank` > '15'</answer>
SELECT `SP_FS` FROM 2-11025881-1 WHERE `Points` = '131.02' AND `Rank` > '15'
SELECT MAX("SP_FS") FROM 2-11025881-1 WHERE "Points" = 131.02 AND "Rank" > 15
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next589>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MAX("Swimsuit") FROM 2-11884814-3 WHERE "Interview" > '9.55' AND "Evening_Gown" = '9.75' AND "Average" > '9.67';
SELECT MAX("Swimsuit") FROM 2-11884814-3 WHERE "Interview" > '9.55' AND "Evening_Gown" = '9.75' AND "Average" > '9.67';
SELECT MAX("Swimsuit") FROM 2-11884814-3 WHERE "Interview" > 9.55 AND "Evening_Gown" = 9.75 AND "Average" > 9.67
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next590>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Total` FROM 2-10882501-6 WHERE `Bronze` > '10' AND `Silver` > '28' AND `Gold` = '58'</answer>
SELECT `Total` FROM 2-10882501-6 WHERE `Bronze` > '10' AND `Silver` > '28' AND `Gold` = '58'
SELECT MAX("Total") FROM 2-10882501-6 WHERE "Bronze" > 10 AND "Silver" > 28 AND "Gold" = 58
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next591>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Draws") FROM 2-12108714-2 WHERE "Goals_for" = '58' AND "Losses" = '12' AND "Goal_Difference" < '21'</answer>
SELECT SUM("Draws") FROM 2-12108714-2 WHERE "Goals_for" = '58' AND "Losses" = '12' AND "Goal_Difference" < '21'
SELECT COUNT("Draws") FROM 2-12108714-2 WHERE "Goals_for" = 58 AND "Losses" = 12 AND "Goal_Difference" < 21
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next592>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MAX("Gold")
FROM 2-12097182-3
WHERE "Silver" < '3' AND "Bronze" > '5';
SELECT MAX("Gold")
FROM 2-12097182-3
WHERE "Silver" < '3' AND "Bronze" > '5';
SELECT MAX("Gold") FROM 2-12097182-3 WHERE "Silver" < 3 AND "Bronze" > 5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next593>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Result` FROM 2-11059684-1 WHERE `Week` = '11';
SELECT `Result` FROM 2-11059684-1 WHERE `Week` = '11';
SELECT "Result" FROM 2-11059684-1 WHERE "Week" = 11
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next594>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Region` FROM 2-12069382-4 WHERE `Rank` = '5'</answer>
SELECT `Region` FROM 2-12069382-4 WHERE `Rank` = '5'
SELECT "Region" FROM 2-12069382-4 WHERE "Rank" = 5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next595>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG("Lost") FROM 2-11161833-1 WHERE "Diff" = '-16' AND "Points" = '19' AND "Against" > '24'</answer>
SELECT AVG("Lost") FROM 2-11161833-1 WHERE "Diff" = '-16' AND "Points" = '19' AND "Against" > '24'
SELECT AVG("Lost") FROM 2-11161833-1 WHERE "Diff" > -16 AND "Points" = 19 AND "Against" > 24
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next596>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Drawn`
FROM 2-11161833-1
WHERE `Lost` < 2;
SELECT `Drawn`
FROM 2-11161833-1
WHERE `Lost` < 2;
SELECT MIN("Drawn") FROM 2-11161833-1 WHERE "Lost" < 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next597>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Car_` FROM 2-11783574-4 WHERE `Yards` > '155' ORDER BY `Car_` DESC LIMIT 1;
SELECT `Car_` FROM 2-11783574-4 WHERE `Yards` > '155' ORDER BY `Car_` DESC LIMIT 1;
SELECT MAX("Car_") FROM 2-11783574-4 WHERE "Yards" > 155
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next598>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Driver" FROM 2-1122361-1 WHERE "Grid" = 5;
SELECT "Driver" FROM 2-1122361-1 WHERE "Grid" = 5;
SELECT "Driver" FROM 2-1122361-1 WHERE "Grid" = 5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next599>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT COUNT("Average") FROM 2-11970261-3 WHERE "Swimsuit" = '8.42' AND "Evening_gown" < '8.71';
SELECT COUNT("Average") FROM 2-11970261-3 WHERE "Swimsuit" = '8.42' AND "Evening_gown" < '8.71';
SELECT SUM("Average") FROM 2-11970261-3 WHERE "Swimsuit" = 8.42 AND "Evening_gown" < 8.71
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next600>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MIN("Top_25") FROM `2-11106562-3` WHERE "Events" > '15'
SELECT MIN("Top_25") FROM `2-11106562-3` WHERE "Events" > '15'
SELECT MIN("Top_25") FROM 2-11106562-3 WHERE "Events" > 15
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next601>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `__2006` FROM 2-11410144-1 WHERE `Seats_2001` < '23' AND `Seats_2006` > '4' AND `__2001` = '25.4'</answer>
SELECT `__2006` FROM 2-11410144-1 WHERE `Seats_2001` < '23' AND `Seats_2006` > '4' AND `__2001` = '25.4'
SELECT "__2006" FROM 2-11410144-1 WHERE "Seats_2001" < 23 AND "Seats_2006" > 4 AND "__2001" = 25.4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next602>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

SELECT COUNT("2010") FROM 2-1145364-6 WHERE "_2009" < '14' AND "_2008" < '15' AND "_2005" = '3';
SELECT COUNT("2010") FROM 2-1145364-6 WHERE "_2009" < '14' AND "_2008" < '15' AND "_2005" = '3';
SELECT COUNT("_2010") FROM 2-1145364-6 WHERE "_2009" < 14 AND "_2008" < 15 AND "_2005" = 3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next603>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT MIN("Silver") FROM 2-11255296-5 WHERE "Gold" < '0';
SELECT MIN("Silver") FROM 2-11255296-5 WHERE "Gold" < '0';
SELECT MIN("Silver") FROM 2-11255296-5 WHERE "Gold" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next604>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Laps") FROM 2-1122635-1 WHERE "Grid" = 1;</answer>
SELECT MAX("Laps") FROM 2-1122635-1 WHERE "Grid" = 1;
SELECT MAX("Laps") FROM 2-1122635-1 WHERE "Grid" = 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next605>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Artist` FROM 2-11916083-69 WHERE `Mintage` = '500';</answer>
SELECT `Artist` FROM 2-11916083-69 WHERE `Mintage` = '500';
SELECT "Artist" FROM 2-11916083-69 WHERE "Mintage" = 500
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next606>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Constructor" FROM 2-1123418-2 WHERE "Grid" = 2;
SELECT "Constructor" FROM 2-1123418-2 WHERE "Grid" = 2;
SELECT "Constructor" FROM 2-1123418-2 WHERE "Grid" = 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next607>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Round` FROM 2-11420734-1 WHERE `Pick` = '4';
SELECT `Round` FROM 2-11420734-1 WHERE `Pick` = '4';
SELECT MAX("Round") FROM 2-11420734-1 WHERE "Pick" = 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next608>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Rank__Timeslot_` FROM 2-1151047-6 WHERE `Rating` < '2.6' AND `Share` > '4'</answer>
SELECT `Rank__Timeslot_` FROM 2-1151047-6 WHERE `Rating` < '2.6' AND `Share` > '4'
SELECT AVG("Rank__Timeslot_") FROM 2-1151047-6 WHERE "Rating" < 2.6 AND "Share" > 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next609>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `College_Junior_Club_Team__League_` FROM 2-11110963-1 WHERE `Round` < '7';
SELECT `College_Junior_Club_Team__League_` FROM 2-11110963-1 WHERE `Round` < '7';
SELECT "College_Junior_Club_Team__League_" FROM 2-11110963-11 WHERE "Round" < 7
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next610>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Winner" FROM 2-11587170-1 WHERE "Year" = '2003'</answer>
SELECT "Winner" FROM 2-11587170-1 WHERE "Year" = '2003'
SELECT "Winner" FROM 2-11587170-1 WHERE "Year" = 2003
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next611>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Grid` FROM 2-1123526-2 WHERE `Laps` > 69;
SELECT `Grid` FROM 2-1123526-2 WHERE `Laps` > 69;
SELECT COUNT("Grid") FROM 2-1123526-2 WHERE "Laps" > 69
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next612>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT(*) FROM 2-11784911-13 WHERE `TD_s` > 0 AND `Sack` > 0;</answer>
SELECT COUNT(*) FROM 2-11784911-13 WHERE `TD_s` > 0 AND `Sack` > 0;
SELECT MIN("Solo") FROM 2-11784911-13 WHERE "TD_s" > 0 AND "Sack" > 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next613>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Driver` FROM 2-1122654-1 WHERE `Grid` = 8;</answer>
SELECT `Driver` FROM 2-1122654-1 WHERE `Grid` = 8;
SELECT "Driver" FROM 2-1122654-1 WHERE "Grid" = 8
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next614>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Gold") FROM 2-11154357-4 WHERE "Silver" < 0</answer>
SELECT SUM("Gold") FROM 2-11154357-4 WHERE "Silver" < 0
SELECT SUM("Gold") FROM 2-11154357-4 WHERE "Silver" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next615>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Byes` FROM 2-17732555-11 WHERE `Losses` > 0 AND `Against` > 3049;</answer>
SELECT `Byes` FROM 2-17732555-11 WHERE `Losses` > 0 AND `Against` > 3049;
SELECT AVG("Byes") FROM 2-17732555-11 WHERE "Losses" > 0 AND "Against" > 3049
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next616>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT(*) FROM 2-17710217-2 WHERE Goals_for < 56 AND Position = '10' AND Goals_against < 45;</answer>
SELECT COUNT(*) FROM 2-17710217-2 WHERE Goals_for < 56 AND Position = '10' AND Goals_against < 45;
SELECT COUNT("Draws") FROM 2-17710217-2 WHERE "Goals_for" < 56 AND "Position" = 10 AND "Goals_against" < 45
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next617>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Chassis` FROM 2-181892-1 WHERE `Year` > '1967';
SELECT `Chassis` FROM 2-181892-1 WHERE `Year` > '1967';
SELECT "Chassis" FROM 2-181892-1 WHERE "Year" > 1967
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next618>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Wins" FROM 2-17746037-9 WHERE "Losses" = '5'</answer>
SELECT "Wins" FROM 2-17746037-9 WHERE "Losses" = '5'
SELECT "Wins" FROM 2-17746037-9 WHERE "Losses" = 5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next619>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Byes` FROM 2-17746037-9 WHERE `Against` < '1544' AND `Wins` = '13' AND `Draws` > '0';
SELECT `Byes` FROM 2-17746037-9 WHERE `Against` < '1544' AND `Wins` = '13' AND `Draws` > '0';
SELECT COUNT("Byes") FROM 2-17746037-9 WHERE "Against" < 1544 AND "Wins" = 13 AND "Draws" > 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next620>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Byes" FROM 2-17982176-8 WHERE "Wins" = '11' AND "Losses" < '5'</answer>
SELECT "Byes" FROM 2-17982176-8 WHERE "Wins" = '11' AND "Losses" < '5'
SELECT SUM("Byes") FROM 2-17982176-8 WHERE "Wins" = 11 AND "Losses" < 5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next621>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Award` FROM 2-17926280-4 WHERE `Year` > '2008' AND `Results` = 'won'</answer>
SELECT `Award` FROM 2-17926280-4 WHERE `Year` > '2008' AND `Results` = 'won'
SELECT "Award" FROM 2-17926280-4 WHERE "Year" > 2008
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next622>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT SUM("Glyph")
FROM 2-1786-1
WHERE "Binary" < '111001' AND "Octal" < '65' AND "Hexadecimal" < '30';
SELECT SUM("Glyph")
FROM 2-1786-1
WHERE "Binary" < '111001' AND "Octal" < '65' AND "Hexadecimal" < '30';
SELECT SUM("Glyph") FROM 2-1786-1 WHERE "Binary" < 111001 AND "Octal" < 65 AND "Hexadecimal" < 30
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next623>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

<answer>SELECT "Kneel" FROM 2-18191407-15 WHERE "Stand" < '187' AND "Prone" = '197' AND "Qual" > '576'</answer>
SELECT "Kneel" FROM 2-18191407-15 WHERE "Stand" < '187' AND "Prone" = '197' AND "Qual" > '576'
SELECT MAX("Kneel") FROM 2-18191407-15 WHERE "Stand" < 187 AND "Prone" = 197 AND "Qual" > 576
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next624>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN("Silver") FROM 2-1817534-5 WHERE "Bronze" = '39' AND "Total" < '120'</answer>
SELECT MIN("Silver") FROM 2-1817534-5 WHERE "Bronze" = '39' AND "Total" < '120'
SELECT MIN("Silver") FROM 2-1817534-5 WHERE "Bronze" = 39 AND "Total" < 120
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next625>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT AVG(`destroyed`) FROM 2-1817852-1 WHERE `_1990` > '12' AND `damaged` > '1' AND `survived` = '6' AND `to_Iran` < '4';
SELECT AVG(`destroyed`) FROM 2-1817852-1 WHERE `_1990` > '12' AND `damaged` > '1' AND `survived` = '6' AND `to_Iran` < '4';
SELECT AVG("destroyed") FROM 2-1817852-1 WHERE "_1990" > 12 AND "damaged" > 1 AND "to_Iran" < 4 AND "survived" = 6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next626>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX(`Losses`) FROM 2-17715861-2 WHERE `Position` < '6' AND `Wins` > '11' AND `Points` = '36' AND `Played` > '30';</answer>
SELECT MAX(`Losses`) FROM 2-17715861-2 WHERE `Position` < '6' AND `Wins` > '11' AND `Points` = '36' AND `Played` > '30';
SELECT MAX("Losses") FROM 2-17715861-2 WHERE "Position" < 6 AND "Wins" > 11 AND "Points" = 36 AND "Played" > 30
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next627>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Played") FROM 2-17715861-2 WHERE "Position" < 1</answer>
SELECT SUM("Played") FROM 2-17715861-2 WHERE "Position" < 1
SELECT SUM("Played") FROM 2-17715861-2 WHERE "Position" < 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next628>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Goals_against") FROM 2-17710217-4 WHERE "Goals_for" > '52' AND "Losses" < '10'</answer>
SELECT SUM("Goals_against") FROM 2-17710217-4 WHERE "Goals_for" > '52' AND "Losses" < '10'
SELECT SUM("Goals_against") FROM 2-17710217-4 WHERE "Goals_for" > 52 AND "Losses" < 10
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next629>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG(`Against`) FROM `2-17746037-1` WHERE `Draws` < 0;</answer>
SELECT AVG(`Against`) FROM `2-17746037-1` WHERE `Draws` < 0;
SELECT AVG("Against") FROM 2-17746037-1 WHERE "Draws" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next630>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Change` FROM 2-177962-1 WHERE CAST(__votes AS REAL) * 100 / Seats < 4.7 AND Seats > 0</answer>
SELECT `Change` FROM 2-177962-1 WHERE CAST(__votes AS REAL) * 100 / Seats < 4.7 AND Seats > 0
SELECT SUM("Change") FROM 2-177962-1 WHERE "__votes" < 4.7 AND "Seats" > 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next631>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Date" FROM 2-18178608-3 WHERE "Against" = '7'</answer>
SELECT "Date" FROM 2-18178608-3 WHERE "Against" = '7'
SELECT "Date" FROM 2-18178608-3 WHERE "Against" = 7
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next632>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Results` FROM 2-1805191-33 WHERE `First_elected` < '1982';
SELECT `Results` FROM 2-1805191-33 WHERE `First_elected` < '1982';
SELECT "Results" FROM 2-1805191-33 WHERE "First_elected" < 1982
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next633>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Venue` FROM 2-1818534-3 WHERE `Against` < 7;</answer>
SELECT `Venue` FROM 2-1818534-3 WHERE `Against` < 7;
SELECT "Venue" FROM 2-18178534-3 WHERE "Against" < 7
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next634>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT SUM("Draws") FROM 2-18036506-5 WHERE "Against" = '1465' AND "Byes" < '2';
SELECT SUM("Draws") FROM 2-18036506-5 WHERE "Against" = '1465' AND "Byes" < '2';
SELECT COUNT("Draws") FROM 2-18036506-5 WHERE "Against" = 1465 AND "Byes" < 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next635>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Status` FROM 2-17891863-1 WHERE `Against` = '18'</answer>
SELECT `Status` FROM 2-17891863-1 WHERE `Against` = '18'
SELECT "Status" FROM 2-17891863-1 WHERE "Against" = 18
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next636>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Total` FROM 2-17766676-3 WHERE `Silver` > 0 AND `Bronze` < 0;
SELECT `Total` FROM 2-17766676-3 WHERE `Silver` > 0 AND `Bronze` < 0;
SELECT MAX("Total") FROM 2-17766676-3 WHERE "Silver" > 0 AND "Bronze" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next637>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Position` FROM 2-17846691-2 WHERE `Goals_against` < 59 AND `Goals_for` > 32 AND `Draws` > 9 AND `Points` > 35;</answer>
SELECT `Position` FROM 2-17846691-2 WHERE `Goals_against` < 59 AND `Goals_for` > 32 AND `Draws` > 9 AND `Points` > 35;
SELECT AVG("Position") FROM 2-17846691-2 WHERE "Goals_against" < 59 AND "Goals_for" > 32 AND "Draws" > 9 AND "Points" > 35
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next638>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("FA_Cup_Goals") FROM 2-17706737-1 WHERE "FLT_Goals" > 0</answer>
SELECT SUM("FA_Cup_Goals") FROM 2-17706737-1 WHERE "FLT_Goals" > 0
SELECT COUNT("FA_Cup_Goals") FROM 2-17706737-1 WHERE "FLT_Goals" > 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next639>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Total" FROM 2-17838465-2 WHERE "Silver" = '0'</answer>
SELECT "Total" FROM 2-17838465-2 WHERE "Silver" = '0'
SELECT COUNT("Total") FROM 2-17838465-2 WHERE "Silver" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next640>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Wins") FROM 2-18017970-2 WHERE "Points" > 51 AND "Goals_against" > 23 AND "Losses" = '5'</answer>
SELECT SUM("Wins") FROM 2-18017970-2 WHERE "Points" > 51 AND "Goals_against" > 23 AND "Losses" = '5'
SELECT COUNT("Wins") FROM 2-18017970-2 WHERE "Points" > 51 AND "Goals_against" > 23 AND "Losses" = 5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next641>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Competition" FROM 2-18125937-1 WHERE "Year" < '1983';
SELECT "Competition" FROM 2-18125937-1 WHERE "Year" < '1983';
SELECT "Competition" FROM 2-18125937-1 WHERE "Year" < 1983
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next642>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

<answer>SELECT SUM(`Losses`) FROM 2-17747471-4 WHERE `Wins` = '15' AND `Position` > '3'</answer>
SELECT SUM(`Losses`) FROM 2-17747471-4 WHERE `Wins` = '15' AND `Position` > '3'
SELECT SUM("Losses") FROM 2-17747471-4 WHERE "Wins" = 15 AND "Position" > 3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next643>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Loses") FROM 2-18018248-3 WHERE "Position" = '4' AND "Goals_conceded" < '23'</answer>
SELECT SUM("Loses") FROM 2-18018248-3 WHERE "Position" = '4' AND "Goals_conceded" < '23'
SELECT COUNT("Loses") FROM 2-18018248-3 WHERE "Position" = 4 AND "Goals_conceded" < 23
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next644>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG("Hoop") FROM 2-18170681-6 WHERE "All_Around" < '9.7'</answer>
SELECT AVG("Hoop") FROM 2-18170681-6 WHERE "All_Around" < '9.7'
SELECT AVG("Hoop") FROM 2-18170681-6 WHERE "All_Around" < 9.7
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next645>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Total` FROM 2-17837875-2 WHERE `Rank` < '10' AND `Silver` > '3' AND `Gold` > '3'</answer>
SELECT `Total` FROM 2-17837875-2 WHERE `Rank` < '10' AND `Silver` > '3' AND `Gold` > '3'
SELECT SUM("Total") FROM 2-17837875-2 WHERE "Rank" < 10 AND "Silver" > 3 AND "Gold" > 3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next646>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Points") FROM 2-18017936-2 WHERE "Played" < '30';</answer>
SELECT MAX("Points") FROM 2-18017936-2 WHERE "Played" < '30';
SELECT MAX("Points") FROM 2-18017936-2 WHERE "Played" < 30
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next647>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Rank` FROM 2-17657219-1 WHERE `Bronze` = '0' AND `Silver` >= '1'</answer>
SELECT `Rank` FROM 2-17657219-1 WHERE `Bronze` = '0' AND `Silver` >= '1'
SELECT AVG("Rank") FROM 2-17657219-1 WHERE "Bronze" < 1 AND "Silver" > 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next648>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Byes" FROM 2-17982176-6 WHERE "Draws" < 0</answer>
SELECT "Byes" FROM 2-17982176-6 WHERE "Draws" < 0
SELECT AVG("Byes") FROM 2-17982176-6 WHERE "Draws" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next649>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Status` FROM 2-1818608 WHERE `Against` = 24;</answer>
SELECT `Status` FROM 2-1818608 WHERE `Against` = 24;
SELECT "Status" FROM 2-18178608-6 WHERE "Against" = 24
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next650>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Matches") FROM 2-17900317-4 WHERE "Balls" < 224 AND "Average" > 38.25 AND "S_Rate" > 139.09;</answer>
SELECT SUM("Matches") FROM 2-17900317-4 WHERE "Balls" < 224 AND "Average" > 38.25 AND "S_Rate" > 139.09;
SELECT SUM("Matches") FROM 2-17900317-4 WHERE "Balls" < 224 AND "Average" > 38.25 AND "S_Rate" > 139.09
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next651>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG(`Bronze`) FROM `2-17877429-1` WHERE `Total` < '1'</answer>
SELECT AVG(`Bronze`) FROM `2-17877429-1` WHERE `Total` < '1'
SELECT AVG("Bronze") FROM 2-17877429-1 WHERE "Total" < 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next652>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Gold` FROM 2-17877429-1 WHERE `Bronze` > '4' ORDER BY `Gold` DESC LIMIT 1</answer>
SELECT `Gold` FROM 2-17877429-1 WHERE `Bronze` > '4' ORDER BY `Gold` DESC LIMIT 1
SELECT MAX("Gold") FROM 2-17877429-1 WHERE "Bronze" > 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next653>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Average` FROM `2-17862135-3` WHERE `Place` < '3' AND `Total_points` < '433' AND `Rank_by_average` < '2'</answer>
SELECT `Average` FROM `2-17862135-3` WHERE `Place` < '3' AND `Total_points` < '433' AND `Rank_by_average` < '2'
SELECT MAX("Average") FROM 2-17862135-3 WHERE "Place" < 3 AND "Total_points" < 433 AND "Rank_by_average" < 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next654>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Snatch` FROM 2-17703223-4 WHERE `Total__kg_` < 257;
SELECT `Snatch` FROM 2-17703223-4 WHERE `Total__kg_` < 257;
SELECT SUM("Snatch") FROM 2-17703223-4 WHERE "Total__kg_" < 257
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next655>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Driver` FROM 2-17693171-1 WHERE `Fin__Pos` = '8'</answer>
SELECT `Driver` FROM 2-17693171-1 WHERE `Fin__Pos` = '8'
SELECT "Driver" FROM 2-17693171-1 WHERE "Fin__Pos" = 8
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next656>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Goals") FROM 2-18160020-4 WHERE "Average" > '1'</answer>
SELECT SUM("Goals") FROM 2-18160020-4 WHERE "Average" > '1'
SELECT COUNT("Goals") FROM 2-18160020-4 WHERE "Average" > 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next657>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG("Played") FROM 2-18314162-2 WHERE "Draw" = '5' AND "Points" > '43'</answer>
SELECT AVG("Played") FROM 2-18314162-2 WHERE "Draw" = '5' AND "Points" > '43'
SELECT AVG("Played") FROM 2-18314162-2 WHERE "Draw" = 5 AND "Points" > 43
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next658>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Current_Club` FROM 2-18228282-1 WHERE `Height` = '1.96'</answer>
SELECT `Current_Club` FROM 2-18228282-1 WHERE `Height` = '1.96'
SELECT "Current_Club" FROM 2-18228282-1 WHERE "Height" = 1.96
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next659>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Name" FROM 2-18282916-2 WHERE "Points" = 1344;
SELECT "Name" FROM 2-18282916-2 WHERE "Points" = 1344;
SELECT "Name" FROM 2-18282916-2 WHERE "Points" = 1344
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next660>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Player" FROM 2-18059698-3 WHERE "Total" < '151' AND "To_par" = '8'</answer>
SELECT "Player" FROM 2-18059698-3 WHERE "Total" < '151' AND "To_par" = '8'
SELECT "Player" FROM 2-18059698-3 WHERE "Total" < 151 AND "To_par" = 8
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next661>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Opponent" FROM 2-17957014-2 WHERE "Week" = '11'</answer>
SELECT "Opponent" FROM 2-17957014-2 WHERE "Week" = '11'
SELECT "Opponent" FROM 2-17957014-2 WHERE "Week" = 11
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next662>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

<answer>SELECT `Points` FROM 2-17693482-4 WHERE `Goal_Difference` > 17 AND `Played` > 34;</answer>
SELECT `Points` FROM 2-17693482-4 WHERE `Goal_Difference` > 17 AND `Played` > 34;
SELECT COUNT("Points") FROM 2-17693482-4 WHERE "Goal_Difference" > 17 AND "Played" > 34
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next663>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Name" FROM 2-17978754-5 WHERE "Championship" < '3' AND "Total" < '2' AND "FA_Cup" > '0' ORDER BY "League_Cup" DESC LIMIT 1;</answer>
SELECT "Name" FROM 2-17978754-5 WHERE "Championship" < '3' AND "Total" < '2' AND "FA_Cup" > '0' ORDER BY "League_Cup" DESC LIMIT 1;
SELECT MAX("League_Cup") FROM 2-17978754-5 WHERE "Championship" < 3 AND "Total" < 2 AND "FA_Cup" > 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next664>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX(`Bronze`) FROM 2-17722429-3 WHERE `Silver` = 0 AND `Total` < 1;</answer>
SELECT MAX(`Bronze`) FROM 2-17722429-3 WHERE `Silver` = 0 AND `Total` < 1;
SELECT MAX("Bronze") FROM 2-17722429-3 WHERE "Silver" = 0 AND "Total" < 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next665>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Top_10`
FROM 2-1781343-3
WHERE `Events` < '39' AND `Top_5` = '1' AND `Cuts_made` > '5'
ORDER BY `Top_10` DESC
LIMIT 10;
SELECT `Top_10`
FROM 2-1781343-3
WHERE `Events` < '39' AND `Top_5` = '1' AND `Cuts_made` > '5'
ORDER BY `Top_10` DESC
LIMIT 10;
SELECT MAX("Top_10") FROM 2-1781343-3 WHERE "Events" < 39 AND "Top_5" = 1 AND "Cuts_made" > 5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next666>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Wins") FROM 2-18018214-1 WHERE "Goals_scored" > 64 AND "Position" < '2'</answer>
SELECT MAX("Wins") FROM 2-18018214-1 WHERE "Goals_scored" > 64 AND "Position" < '2'
SELECT MAX("Wins") FROM 2-18018214-1 WHERE "Goals_scored" > 64 AND "Position" < 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next667>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Church_Name` FROM 2-178408-1 WHERE `Year_Built` = '1600';
SELECT `Church_Name` FROM 2-178408-1 WHERE `Year_Built` = '1600';
SELECT "Church_Name" FROM 2-178408-1 WHERE "Year_Built" = 1600
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next668>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Home_team` FROM 2-18054397-8 WHERE `Tie_no` = '23'</answer>
SELECT `Home_team` FROM 2-18054397-8 WHERE `Tie_no` = '23'
SELECT "Home_team" FROM 2-18054397-8 WHERE "Tie_no" = 23
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next669>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Total` FROM 2-17991356-3 WHERE `Year_won` < '1991' AND `To_par` < '14';</answer>
SELECT `Total` FROM 2-17991356-3 WHERE `Year_won` < '1991' AND `To_par` < '14';
SELECT COUNT("Total") FROM 2-17991356-3 WHERE "Year_won" < 1991 AND "To_par" < 14
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next670>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Nationality` FROM 2-18624865-5 WHERE `Lane` < '6' AND `Rank` = '1'</answer>
SELECT `Nationality` FROM 2-18624865-5 WHERE `Lane` < '6' AND `Rank` = '1'
SELECT "Nationality" FROM 2-18624865-5 WHERE "Lane" < 6 AND "Rank" = 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next671>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Top_10") FROM 2-1891067-3 WHERE "Events" > '16' AND "Top_5" > '5'</answer>
SELECT SUM("Top_10") FROM 2-1891067-3 WHERE "Events" > '16' AND "Top_5" > '5'
SELECT COUNT("Top_10") FROM 2-1891067-3 WHERE "Events" > 16 AND "Top_5" > 5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next672>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG(`Silver`) FROM `2-18395409-3` WHERE `Gold` > '17'</answer>
SELECT AVG(`Silver`) FROM `2-18395409-3` WHERE `Gold` > '17'
SELECT AVG("Silver") FROM 2-18395409-3 WHERE "Gold" > 17
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next673>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT("Wins") FROM 2-18512893-3 WHERE "Cuts_made" < '0'</answer>
SELECT COUNT("Wins") FROM 2-18512893-3 WHERE "Cuts_made" < '0'
SELECT AVG("Wins") FROM 2-18512893-3 WHERE "Cuts_made" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next674>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Events") FROM 2-18512893-3 WHERE "Top_5" = '2' AND "Cuts_made" = '4' AND CAST("Wins" AS REAL) < 0;</answer>
SELECT SUM("Events") FROM 2-18512893-3 WHERE "Top_5" = '2' AND "Cuts_made" = '4' AND CAST("Wins" AS REAL) < 0;
SELECT COUNT("Events") FROM 2-18512893-3 WHERE "Top_5" = 2 AND "Cuts_made" = 4 AND "Wins" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next675>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG("Population") FROM 2-18409245-1 WHERE "Area__km_2__" < '433.7' AND "Code" = '23013'</answer>
SELECT AVG("Population") FROM 2-18409245-1 WHERE "Area__km_2__" < '433.7' AND "Code" = '23013'
SELECT AVG("Population") FROM 2-18409245-1 WHERE "Area__km_2__" < 433.7 AND "Code" = 23013
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next676>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG(`Year_Joined`) FROM 2-18956862-1 WHERE `County` = '277'</answer>
SELECT AVG(`Year_Joined`) FROM 2-18956862-1 WHERE `County` = '277'
SELECT AVG("Year_Joined") FROM 2-18956862-1 WHERE "County" = 277
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next677>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `BR_number` FROM 2-1872462-1 WHERE `LMS_Number` > '14768';
SELECT `BR_number` FROM 2-1872462-1 WHERE `LMS_Number` > '14768';
SELECT "BR_number" FROM 2-1872462-1 WHERE "LMS_Number" > 14768
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next678>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT(*) FROM 2_18567761_1 WHERE Goals > 0;</answer>
SELECT COUNT(*) FROM 2_18567761_1 WHERE Goals > 0;
SELECT SUM("Tries") FROM 2-18567761-1 WHERE "Goals" > 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next679>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Team` FROM 2_18704095_8 WHERE `Lost` < '3' AND `Goals_Scored` > '63'</answer>
SELECT `Team` FROM 2_18704095_8 WHERE `Lost` < '3' AND `Goals_Scored` > '63'
SELECT SUM("Lost") FROM 2-18704095-8 WHERE "Goals_Scored" > 63 AND "Place" < 3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next680>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Pop___2010_` FROM 2-18600760-22 WHERE `Latitude` = '48.853051' AND `Water__sqmi_` < '0.9590000000000001'</answer>
SELECT `Pop___2010_` FROM 2-18600760-22 WHERE `Latitude` = '48.853051' AND `Water__sqmi_` < '0.9590000000000001'
SELECT MAX("Pop___2010_") FROM 2-18600760-22 WHERE "Latitude" = 48.853051 AND "Water__sqmi_" < 0.9590000000000001
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next681>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

<answer>SELECT MAX("Wins") FROM 2-18628904-12 WHERE "Losses" < '2'</answer>
SELECT MAX("Wins") FROM 2-18628904-12 WHERE "Losses" < '2'
SELECT MAX("Wins") FROM 2-18628904-12 WHERE "Losses" < 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next682>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Position` FROM 2-18771190-1 WHERE `Drawn` > 1 AND `Played` < 14;</answer>
SELECT `Position` FROM 2-18771190-1 WHERE `Drawn` > 1 AND `Played` < 14;
SELECT MAX("Position") FROM 2-18771190-18 WHERE "Drawn" > 1 AND "Played" < 14
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next683>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "School" FROM 2-18717975-2 WHERE "Year_Left" = '1966'</answer>
SELECT "School" FROM 2-18717975-2 WHERE "Year_Left" = '1966'
SELECT "School" FROM 2-18717975-2 WHERE "Year_Left" = 1966
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next684>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "W_rttemberg" FROM 2-18577849-10 WHERE "Year" = '1928'</answer>
SELECT "W_rttemberg" FROM 2-18577849-10 WHERE "Year" = '1928'
SELECT "W_rttemberg" FROM 2-18577849-10 WHERE "Year" < 1929
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next685>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Bronze") FROM 2-1846470-1 WHERE "Rank" > 2 AND "Total" < 2 AND "Silver" > 0;</answer>
SELECT SUM("Bronze") FROM 2-1846470-1 WHERE "Rank" > 2 AND "Total" < 2 AND "Silver" > 0;
SELECT COUNT("Bronze") FROM 2-1846470-1 WHERE "Rank" > 2 AND "Total" < 2 AND "Silver" > 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next686>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Score_Final` FROM 2-18694663-1 WHERE `Rank_Final` = '7' AND `Year` > '2009' ORDER BY `Score_Final` ASC LIMIT 1;</answer>
SELECT `Score_Final` FROM 2-18694663-1 WHERE `Rank_Final` = '7' AND `Year` > '2009' ORDER BY `Score_Final` ASC LIMIT 1;
SELECT MIN("Score_Final") FROM 2-18694663-1 WHERE "Rank_Final" = 7 AND "Year" > 2009
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next687>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Population") FROM 2-18926-3 WHERE "Rank_Among_Provinces" < 5;</answer>
SELECT MAX("Population") FROM 2-18926-3 WHERE "Rank_Among_Provinces" < 5;
SELECT MAX("Population") FROM 2-18926-3 WHERE "Rank_Among_Provinces" < 5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next688>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Nationality` FROM 2-18624808-5 WHERE `Time` = '50.92'</answer>
SELECT `Nationality` FROM 2-18624808-5 WHERE `Time` = '50.92'
SELECT "Nationality" FROM 2-18624808-5 WHERE "Time" = 50.92
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next689>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Draws` FROM 2-18976447-9 WHERE `Byes` > 2 ORDER BY `Draws` ASC LIMIT 1</answer>
SELECT `Draws` FROM 2-18976447-9 WHERE `Byes` > 2 ORDER BY `Draws` ASC LIMIT 1
SELECT MIN("Draws") FROM 2-18976447-9 WHERE "Byes" > 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next690>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Losses` FROM 2-18976447-7 WHERE `Wins` = '8' AND `Byes` < '2'</answer>
SELECT `Losses` FROM 2-18976447-7 WHERE `Wins` = '8' AND `Byes` < '2'
SELECT SUM("Losses") FROM 2-18976447-7 WHERE "Wins" = 8 AND "Byes" < 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next691>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG("Gold") FROM 2-18403681-1 WHERE "Bronze" = 1 AND "Silver" < 3 AND "Total" > 2;</answer>
SELECT AVG("Gold") FROM 2-18403681-1 WHERE "Bronze" = 1 AND "Silver" < 3 AND "Total" > 2;
SELECT AVG("Gold") FROM 2-18403681-1 WHERE "Bronze" = 1 AND "Total" > 2 AND "Silver" < 3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next692>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Yacht_Type` FROM 2-1858574-3 WHERE `LOA__Metres_` = '15.15';
SELECT `Yacht_Type` FROM 2-1858574-3 WHERE `LOA__Metres_` = '15.15';
SELECT "Yacht_Type" FROM 2-1858574-3 WHERE "LOA__Metres_" = 15.15
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next693>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT(*) FROM 2-18501314-1 WHERE `League_Cup_Goals` = '0'</answer>
SELECT COUNT(*) FROM 2-18501314-1 WHERE `League_Cup_Goals` = '0'
SELECT COUNT("Total_Goals") FROM 2-18501314-1 WHERE "League_Cup_Goals" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next694>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Silver`
FROM 2-18907412-3
WHERE `Gold` < '2' AND `Bronze` < '2';
SELECT `Silver`
FROM 2-18907412-3
WHERE `Gold` < '2' AND `Bronze` < '2';
SELECT COUNT("Silver") FROM 2-18907412-3 WHERE "Bronze" = 2 AND "Gold" < 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next695>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN("All_amendments_sponsored") FROM 2-18852984-2 WHERE "All_bills_cosponsored" = '150' AND "All_amendments_cosponsored" > '247'</answer>
SELECT MIN("All_amendments_sponsored") FROM 2-18852984-2 WHERE "All_bills_cosponsored" = '150' AND "All_amendments_cosponsored" > '247'
SELECT MIN("All_amendments_sponsored") FROM 2-18852984-2 WHERE "Bills_originally_cosponsored" = 150 AND "All_bills_cosponsored" > 247
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next696>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Opponent" FROM 2-18733329-2 WHERE "Week" = '8'</answer>
SELECT "Opponent" FROM 2-18733329-2 WHERE "Week" = '8'
SELECT "Opponent" FROM 2-18733329-2 WHERE "Week" = 8
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next697>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Name` FROM 2-18914438-1 WHERE `Overs` < '2047.3' AND `Wickets` > '200' AND `Average` = '29.02';
SELECT `Name` FROM 2-18914438-1 WHERE `Overs` < '2047.3' AND `Wickets` > '200' AND `Average` = '29.02';
SELECT "Name" FROM 2-18914438-1 WHERE "Overs" < 2047.3 AND "Wickets" > 200 AND "Average" > 29.02
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next698>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT _1st_Place_Team FROM 2-18618672-2 WHERE `Year` = '1957'</answer>
SELECT _1st_Place_Team FROM 2-18618672-2 WHERE `Year` = '1957'
SELECT "_1st_Place_Team" FROM 2-18618672-2 WHERE "Year" > 1956
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next699>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN("Lost") FROM 2-18704095-5 WHERE "Place" > '4' AND "Goals_Scored" = '12' AND "Points" > '4'</answer>
SELECT MIN("Lost") FROM 2-18704095-5 WHERE "Place" > '4' AND "Goals_Scored" = '12' AND "Points" > '4'
SELECT MIN("Lost") FROM 2-18704095-5 WHERE "Place" > 4 AND "Goals_Scored" = 12 AND "Points" > 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next700>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

SELECT COUNT(*) FROM 2-18771190-12 WHERE `Points` > 5 AND `Drawn` = '3' AND `Lost` < '2';
SELECT COUNT(*) FROM 2-18771190-12 WHERE `Points` > 5 AND `Drawn` = '3' AND `Lost` < '2';
SELECT COUNT("Position") FROM 2-18771190-12 WHERE "Points" > 5 AND "Drawn" = 3 AND "Lost" < 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next701>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Lane` FROM 2-18624623-4 WHERE `Rank` = '8';</answer>
SELECT `Lane` FROM 2-18624623-4 WHERE `Rank` = '8';
SELECT MAX("Lane") FROM 2-18624623-4 WHERE "Rank" = 8
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next702>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT SUM(`League_Goals`) FROM 2-18513721-1 WHERE `Total_Goals` = 8 AND `League_Cup_Goals` > 0;
SELECT SUM(`League_Goals`) FROM 2-18513721-1 WHERE `Total_Goals` = 8 AND `League_Cup_Goals` > 0;
SELECT SUM("League_Goals") FROM 2-18513721-1 WHERE "Total_Goals" = 8 AND "League_Cup_Goals" > 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next703>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Date" FROM 2-18409087-3 WHERE "Game" = '2';
SELECT "Date" FROM 2-18409087-3 WHERE "Game" = '2';
SELECT "Date" FROM 2-18409087-3 WHERE "Game" = 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next704>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "_140_" FROM 2-18968744-17 WHERE "_100_" = '173'</answer>
SELECT "_140_" FROM 2-18968744-17 WHERE "_100_" = '173'
SELECT COUNT("_140_") FROM 2-18968744-17 WHERE "_100_" = 173
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next705>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Draw" FROM 2-184814-1 WHERE "Points" = '98';
SELECT "Draw" FROM 2-184814-1 WHERE "Points" = '98';
SELECT COUNT("Draw") FROM 2-184814-1 WHERE "Points" = 98
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next706>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Country` FROM 2-18662697-3 WHERE `Rank` < '2'</answer>
SELECT `Country` FROM 2-18662697-3 WHERE `Rank` < '2'
SELECT "Country" FROM 2-18662697-3 WHERE "Rank" < 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next707>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Band" FROM 2-18529884-7 WHERE "Power__W_" <= 400;</answer>
SELECT "Band" FROM 2-18529884-7 WHERE "Power__W_" <= 400;
SELECT MAX("Band") FROM 2-18529884-7 WHERE "Power__W_" > 400
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next708>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Railway_number_s_` FROM 2-18843924-5 WHERE `Quantity` = '3';
SELECT `Railway_number_s_` FROM 2-18843924-5 WHERE `Quantity` = '3';
SELECT "Railway_number_s_" FROM 2-18843924-5 WHERE "Quantity" = 3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next709>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `First_publisher` FROM 2-18443854-1 WHERE `Year` = '2007'</answer>
SELECT `First_publisher` FROM 2-18443854-1 WHERE `Year` = '2007'
SELECT "First_publisher" FROM 2-18443854-1 WHERE "Year" = 2007
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next710>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "_1969" FROM 2-18940307-7 WHERE "_1967" < '0.73' AND "_1964" > '0.07'</answer>
SELECT "_1969" FROM 2-18940307-7 WHERE "_1967" < '0.73' AND "_1964" > '0.07'
SELECT COUNT("_1969") FROM 2-18940307-7 WHERE "_1967" < 0.73 AND "_1964" > 0.07
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next711>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN(`Bronze`) FROM 2-1846235-1 WHERE `Total` < 1</answer>
SELECT MIN(`Bronze`) FROM 2-1846235-1 WHERE `Total` < 1
SELECT MIN("Bronze") FROM 2-1846235-1 WHERE "Total" < 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next712>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `West_Lancashire` FROM 2-18992950-1 WHERE `Pendle` > 1 AND `Rossendale` > 2 ORDER BY `West_Lancashire` DESC LIMIT 1;</answer>
SELECT `West_Lancashire` FROM 2-18992950-1 WHERE `Pendle` > 1 AND `Rossendale` > 2 ORDER BY `West_Lancashire` DESC LIMIT 1;
SELECT MAX("West_Lancashire") FROM 2-18992950-1 WHERE "Pendle" > 1 AND "Rossendale" > 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next713>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Country" FROM 2-18594233-4 WHERE "Score" = '67'</answer>
SELECT "Country" FROM 2-18594233-4 WHERE "Score" = '67'
SELECT "Country" FROM 2-18594233-4 WHERE "Score" = 67
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next714>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Land___sqmi__` FROM 2-18600760-7 WHERE `Longitude` = '-99.172785' AND `Water__sqmi_` < '0.973'</answer>
SELECT `Land___sqmi__` FROM 2-18600760-7 WHERE `Longitude` = '-99.172785' AND `Water__sqmi_` < '0.973'
SELECT MIN("Land___sqmi__") FROM 2-18600760-7 WHERE "Longitude" = -99.172785 AND "Water__sqmi_" < 0.973
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next715>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Broadcast_Date` FROM 2-18850130-1 WHERE `Viewership__Millions_` = '9.65'
SELECT `Broadcast_Date` FROM 2-18850130-1 WHERE `Viewership__Millions_` = '9.65'
SELECT "Broadcast_Date" FROM 2-18850130-1 WHERE "Viewership__Millions_" = 9.65
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next716>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Position` FROM 2-18652198-2 WHERE `Pick` = '14';
SELECT `Position` FROM 2-18652198-2 WHERE `Pick` = '14';
SELECT "Position" FROM 2-18652198-2 WHERE "Pick" = 14
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next717>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Time` FROM 2-18624662-2 WHERE `Heat` = '5' AND `Lane` = '3'</answer>
SELECT `Time` FROM 2-18624662-2 WHERE `Heat` = '5' AND `Lane` = '3'
SELECT "Time" FROM 2-18624662-2 WHERE "Heat" = 5 AND "Lane" = 3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next718>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Against` FROM 2-18628904-15 WHERE `Losses` > '2' AND `Wins` > '3' AND `Draws` > '0'</answer>
SELECT `Against` FROM 2-18628904-15 WHERE `Losses` > '2' AND `Wins` > '3' AND `Draws` > '0'
SELECT AVG("Against") FROM 2-18628904-15 WHERE "Losses" > 2 AND "Wins" > 3 AND "Draws" > 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next719>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Score` FROM `2-18409087-10` WHERE `Game` = 'game 4';
SELECT `Score` FROM `2-18409087-10` WHERE `Game` = 'game 4';
SELECT "Score" FROM 2-18409087-10 WHERE "Game" = 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next720>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

<answer>SELECT SUM("Points") FROM 2-1861430-3 WHERE "Year" = '1992'</answer>
SELECT SUM("Points") FROM 2-1861430-3 WHERE "Year" = '1992'
SELECT COUNT("Points") FROM 2-1861430-3 WHERE "Year" = 1992
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next721>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Name" FROM 2-18662739-4 WHERE "Total" = '22'</answer>
SELECT "Name" FROM 2-18662739-4 WHERE "Total" = '22'
SELECT "Name" FROM 2-18662739-4 WHERE "Total" = 22
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next722>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Water__sqmi_` FROM 2-18600760-6 WHERE `Pop___2010_` = '359' AND `Longitude` < '-97.176811'</answer>
SELECT `Water__sqmi_` FROM 2-18600760-6 WHERE `Pop___2010_` = '359' AND `Longitude` < '-97.176811'
SELECT MAX("Water__sqmi_") FROM 2-18600760-6 WHERE "Pop___2010_" = 359 AND "Longitude" < -97.176811
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next723>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Score") FROM 2-18454995-5 WHERE "_1st_Half" < 289 AND "Rank" < 61;</answer>
SELECT MAX("Score") FROM 2-18454995-5 WHERE "_1st_Half" < 289 AND "Rank" < 61;
SELECT MAX("Score") FROM 2-18454995-5 WHERE "_1st_Half" < 289 AND "Rank" < 61
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next724>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT COUNT(*) FROM 2-18884038-5 WHERE "FA_Cup" < '0' AND "League_Cup" IS NOT NULL;
SELECT COUNT(*) FROM 2-18884038-5 WHERE "FA_Cup" < '0' AND "League_Cup" IS NOT NULL;
SELECT COUNT("League_Cup") FROM 2-18884038-5 WHERE "FA_Cup" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next725>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `European_competitions` FROM 2-18480042-1 WHERE `Tier` = '2' AND `Pos_` = '3';
SELECT `European_competitions` FROM 2-18480042-1 WHERE `Tier` = '2' AND `Pos_` = '3';
SELECT "European_competitions" FROM 2-18480042-1 WHERE "Tier" = 2 AND "Pos_" = 3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next726>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN("Lane") FROM 2-18624865-3 WHERE "Rank" = '33';</answer>
SELECT MIN("Lane") FROM 2-18624865-3 WHERE "Rank" = '33';
SELECT MIN("Lane") FROM 2-18624865-3 WHERE "Rank" = 33
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next727>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Wins` FROM 2-18594107-2 WHERE `Losses` < 6 AND `Position` = '4' AND `Played` > 9;</answer>
SELECT `Wins` FROM 2-18594107-2 WHERE `Losses` < 6 AND `Position` = '4' AND `Played` > 9;
SELECT MIN("Wins") FROM 2-18594107-2 WHERE "Losses" < 6 AND "Position" = 4 AND "Played" > 9
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next728>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Gross_Domestic_Product" FROM 2-18949128-1 WHERE "Inflation_Index__2000_100_" < '9.3';
SELECT "Gross_Domestic_Product" FROM 2-18949128-1 WHERE "Inflation_Index__2000_100_" < '9.3';
SELECT AVG("Gross_Domestic_Product") FROM 2-18949128-1 WHERE "Inflation_Index__2000_100_" < 9.3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next729>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Director` FROM 2-18792948-9 WHERE `Production_Number` = '1490';</answer>
SELECT `Director` FROM 2-18792948-9 WHERE `Production_Number` = '1490';
SELECT "Director" FROM 2-18792948-9 WHERE "Production_Number" = 1490
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next730>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT(*) FROM 2-18974130-4 WHERE "Draws" > '0'</answer>
SELECT COUNT(*) FROM 2-18974130-4 WHERE "Draws" > '0'
SELECT MAX("Losses") FROM 2-18974130-4 WHERE "Draws" > 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next731>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Bronze") FROM 2-18700993-1 WHERE "Total" = 4 AND "Silver" = 1 AND "Bronze" < 2;</answer>
SELECT MAX("Bronze") FROM 2-18700993-1 WHERE "Total" = 4 AND "Silver" = 1 AND "Bronze" < 2;
SELECT MAX("Bronze") FROM 2-18700993-1 WHERE "Total" = 4 AND "Silver" = 1 AND "Gold" < 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next732>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT("Pommel_Horse") FROM 2-18662026-1 WHERE "Rings" < '59.85' AND "Team_Total" > '361.2'</answer>
SELECT COUNT("Pommel_Horse") FROM 2-18662026-1 WHERE "Rings" < '59.85' AND "Team_Total" > '361.2'
SELECT SUM("Pommel_Horse") FROM 2-18662026-1 WHERE "Rings" < 59.85 AND "Team_Total" > 361.2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next733>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Nominee_s_" FROM 2-18540176-6 WHERE "Year" = '2005'</answer>
SELECT "Nominee_s_" FROM 2-18540176-6 WHERE "Year" = '2005'
SELECT "Nominee_s_" FROM 2-18540176-6 WHERE "Year" = 2005
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next734>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `County` FROM 2-18974097-5 WHERE `Enrollment` = '297'</answer>
SELECT `County` FROM 2-18974097-5 WHERE `Enrollment` = '297'
SELECT "County" FROM 2-18974097-5 WHERE "Enrollment" = 297
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next735>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Losses` FROM 2-18976447-5 WHERE `Draws` > '0';
SELECT `Losses` FROM 2-18976447-5 WHERE `Draws` > '0';
SELECT MAX("Losses") FROM 2-18976447-5 WHERE "Draws" > 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next736>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Rank` FROM 2-12392804-3 WHERE `Total` > 2 AND `Gold` < '0'</answer>
SELECT `Rank` FROM 2-12392804-3 WHERE `Total` > 2 AND `Gold` < '0'
SELECT SUM("Rank") FROM 2-12392804-3 WHERE "Total" > 2 AND "Gold" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next737>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Location` FROM 2-1290967-1 WHERE `Game` = '7'</answer>
SELECT `Location` FROM 2-1290967-1 WHERE `Game` = '7'
SELECT "Location" FROM 2-1290967-1 WHERE "Game" > 6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next738>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Player" FROM 2-12453414-9 WHERE "Games_played" = 44 AND "Goals_against_average" > 2.07;
SELECT "Player" FROM 2-12453414-9 WHERE "Games_played" = 44 AND "Goals_against_average" > 2.07;
SELECT "Player" FROM 2-12453414-9 WHERE "Goals_against_average" > 2.07 AND "Games_played" = 44
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next739>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT(*) FROM 2-1238866-1 WHERE `Goals_Against` < 14 AND `Wins` > 1 AND `Draws` < 2 AND `Goals_For` = '3'</answer>
SELECT COUNT(*) FROM 2-1238866-1 WHERE `Goals_Against` < 14 AND `Wins` > 1 AND `Draws` < 2 AND `Goals_For` = '3'
SELECT MAX("Games") FROM 2-1238866-1 WHERE "Goals_Against" < 14 AND "Wins" > 1 AND "Draws" < 2 AND "Goals_For" = 3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next740>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

SELECT SUM("Wins") AS Total_Wins
FROM 2-1238866-1
WHERE "Games" < '7' AND "Goals_For" > '2' AND "Goals_Against" < '6' AND "Draws" = '1';
SELECT SUM("Wins") AS Total_Wins
FROM 2-1238866-1
WHERE "Games" < '7' AND "Goals_For" > '2' AND "Goals_Against" < '6' AND "Draws" = '1';
SELECT COUNT("Wins") FROM 2-1238866-1 WHERE "Games" < 7 AND "Goals_For" > 2 AND "Goals_Against" < 6 AND "Draws" = 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next741>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Wins` FROM 2-1226341-2 WHERE `Points` = '6' AND `Rank` = 'least';
SELECT `Wins` FROM 2-1226341-2 WHERE `Points` = '6' AND `Rank` = 'least';
SELECT MIN("Wins") FROM 2-1226341-2 WHERE "Points" = 6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next742>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Denomination" FROM 2-12284476-10 WHERE "Year" = '2006'</answer>
SELECT "Denomination" FROM 2-12284476-10 WHERE "Year" = '2006'
SELECT "Denomination" FROM 2-12284476-10 WHERE "Year" = 2006
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next743>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Fineness` FROM 2-12284476-10 WHERE `Year` < '2007'</answer>
SELECT `Fineness` FROM 2-12284476-10 WHERE `Year` < '2007'
SELECT "Fineness" FROM 2-12284476-10 WHERE "Year" < 2007
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next744>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Points") FROM 2-1226454-4 WHERE "Year" = '1984'</answer>
SELECT SUM("Points") FROM 2-1226454-4 WHERE "Year" = '1984'
SELECT SUM("Points") FROM 2-1226454-4 WHERE "Year" < 1984
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next745>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Total` FROM 2-12377104-4 WHERE `Silver` = 1 AND `Rank` > '7' ORDER BY `Total` DESC LIMIT 1;</answer>
SELECT `Total` FROM 2-12377104-4 WHERE `Silver` = 1 AND `Rank` > '7' ORDER BY `Total` DESC LIMIT 1;
SELECT MAX("Total") FROM 2-12377104-4 WHERE "Silver" = 1 AND "Rank" > 7
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next746>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Wickets` FROM 2-12898654-15 WHERE `Matches` > '10' AND `_10WM` > '1'</answer>
SELECT `Wickets` FROM 2-12898654-15 WHERE `Matches` > '10' AND `_10WM` > '1'
SELECT MIN("Wickets") FROM 2-12898654-15 WHERE "Matches" > 10 AND "_10WM" > 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next747>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Runs` FROM 2-12898654-15 WHERE `Wickets` = '66' AND `Matches` < '13' ORDER BY `Runs` DESC LIMIT 1;</answer>
SELECT `Runs` FROM 2-12898654-15 WHERE `Wickets` = '66' AND `Matches` < '13' ORDER BY `Runs` DESC LIMIT 1;
SELECT MAX("Runs") FROM 2-12898654-15 WHERE "Wickets" = 66 AND "Matches" < 13
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next748>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Average` FROM 2-13322378-8 WHERE `Innings` = '40' AND `Not_Outs` > '6'</answer>
SELECT `Average` FROM 2-13322378-8 WHERE `Innings` = '40' AND `Not_Outs` > '6'
SELECT AVG("Runs") FROM 2-13322378-8 WHERE "Innings" = 40 AND "Not_Outs" > 6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next749>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `_1999` FROM 2-1323466-5 WHERE `_1990` > 0 AND `_2003` = 3 AND `_2007` > 1 AND `_1996` > 0;
SELECT `_1999` FROM 2-1323466-5 WHERE `_1990` > 0 AND `_2003` = 3 AND `_2007` > 1 AND `_1996` > 0;
SELECT SUM("_1999") FROM 2-1323466-5 WHERE "_1990" > 0 AND "_2003" = 3 AND "_2007" > 1 AND "_1996" > 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next750>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT _2012 FROM 2-1323466-5 WHERE _2004 > 0 AND _2008 > 1 AND _1994 = 8 AND _2005 < 11;
SELECT _2012 FROM 2-1323466-5 WHERE _2004 > 0 AND _2008 > 1 AND _1994 = 8 AND _2005 < 11;
SELECT MIN("_2012") FROM 2-1323466-5 WHERE "_2004" > 0 AND "_2008" > 1 AND "_1994" = 8 AND "_2005" < 11
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next751>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Coach` FROM 2-1263399-7 WHERE `PCT_` > '0.1' AND `PTS_` > '9' AND `Loss` = '19';
SELECT `Coach` FROM 2-1263399-7 WHERE `PCT_` > '0.1' AND `PTS_` > '9' AND `Loss` = '19';
SELECT "Coach" FROM 2-1263399-7 WHERE "PCT_" > 0.1 AND "PTS_" > 9 AND "Loss" = 19
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next752>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Played` FROM 2-12109851-6 WHERE `Position` = '2' AND `Goals_against` > 53;</answer>
SELECT `Played` FROM 2-12109851-6 WHERE `Position` = '2' AND `Goals_against` > 53;
SELECT MIN("Played") FROM 2-12109851-6 WHERE "Position" = 2 AND "Goals_against" > 53
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next753>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG("Place") FROM 2-13018938-1 WHERE "Lost" > '12'</answer>
SELECT AVG("Place") FROM 2-13018938-1 WHERE "Lost" > '12'
SELECT AVG("Place") FROM 2-13018938-1 WHERE "Lost" > 12
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next754>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Runs_Allowed` FROM 2-12825727-1 WHERE `Rank` = '2' AND `Losses` > '2'</answer>
SELECT `Runs_Allowed` FROM 2-12825727-1 WHERE `Rank` = '2' AND `Losses` > '2'
SELECT AVG("Runs_Allowed") FROM 2-12825727-1 WHERE "Rank" = 2 AND "Losses" > 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next755>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG("Total") FROM 2-12573588-9 WHERE "Gold" = '13' AND "Bronze" < '13'</answer>
SELECT AVG("Total") FROM 2-12573588-9 WHERE "Gold" = '13' AND "Bronze" < '13'
SELECT AVG("Total") FROM 2-12573588-9 WHERE "Gold" = 13 AND "Bronze" < 13
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next756>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT COUNT(*) FROM 2-1262981-1 WHERE `Draws` > 4;</answer>
SELECT COUNT(*) FROM 2-1262981-1 WHERE `Draws` > 4;
SELECT COUNT("Draws") FROM 2-1262981-1 WHERE "Matches" < 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next757>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Goals_for` FROM 2-12187674-2 WHERE `Wins` = '18' AND `Goals_against` < 38 ORDER BY `Goals_for` ASC LIMIT 1;</answer>
SELECT `Goals_for` FROM 2-12187674-2 WHERE `Wins` = '18' AND `Goals_against` < 38 ORDER BY `Goals_for` ASC LIMIT 1;
SELECT MIN("Goals_for") FROM 2-12187674-2 WHERE "Wins" = 18 AND "Goals_against" < 38
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next758>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Score` FROM 2-13281014-1 WHERE `Year` = '2004'</answer>
SELECT `Score` FROM 2-13281014-1 WHERE `Year` = '2004'
SELECT "Score" FROM 2-13281014-1 WHERE "Year" = 2004
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next759>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

SELECT "Year" FROM 2-1226505-3 WHERE "Pts_" = '13';
SELECT "Year" FROM 2-1226505-3 WHERE "Pts_" = '13';
SELECT "Year" FROM 2-1226505-3 WHERE "Pts_" = 13
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next760>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Capacity` FROM 2-12335018-1 WHERE `First_season_in_Segunda_Divisi_n` = '2013' AND `Top_division_titles` > '0' ORDER BY `Capacity` ASC LIMIT 1;</answer>
SELECT `Capacity` FROM 2-12335018-1 WHERE `First_season_in_Segunda_Divisi_n` = '2013' AND `Top_division_titles` > '0' ORDER BY `Capacity` ASC LIMIT 1;
SELECT MIN("Capacity") FROM 2-12335018-1 WHERE "First_season_in_Segunda_Divisi_n" = 2013 AND "Top_division_titles" > 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next761>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT AVG("Yards")
FROM 2-12241207-1
WHERE "Starts" > '12'
SELECT AVG("Yards")
FROM 2-12241207-1
WHERE "Starts" > '12'
SELECT AVG("Yards") FROM 2-12241207-1 WHERE "Starts" > 12
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next762>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Round" FROM 2-12985404-1 WHERE "Score" < '21.5';
SELECT "Round" FROM 2-12985404-1 WHERE "Score" < '21.5';
SELECT "Round" FROM 2-12985404-1 WHERE "Score" < 21.5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next763>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Country" FROM 2-12660383-1 WHERE "_2006" = 14 AND "_2005" < 56;</answer>
SELECT "Country" FROM 2-12660383-1 WHERE "_2006" = 14 AND "_2005" < 56;
SELECT COUNT("_2004") FROM 2-12660383-1 WHERE "_2005" < 56 AND "_2006" = 14
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next764>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT SUM("Total_Viewers") FROM 2-12890652-3 WHERE "BBC_One_Weekly_Ranking" > '7' AND "Episode_No_" < '4';
SELECT SUM("Total_Viewers") FROM 2-12890652-3 WHERE "BBC_One_Weekly_Ranking" > '7' AND "Episode_No_" < '4';
SELECT "Total_Viewers" FROM 2-12890652-3 WHERE "BBC_One_Weekly_Ranking" > 7 AND "Episode_No_" < 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next765>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG("Lost") FROM 2-13119037-1 WHERE "Goals_Scored" > '20' AND "Played" < '18'</answer>
SELECT AVG("Lost") FROM 2-13119037-1 WHERE "Goals_Scored" > '20' AND "Played" < '18'
SELECT AVG("Lost") FROM 2-13119037-1 WHERE "Goals_Scored" > 20 AND "Played" < 18
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next766>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Draws") FROM 2-12255317-2 WHERE "Goal_Difference" > 3 AND "Losses" < 8;</answer>
SELECT MAX("Draws") FROM 2-12255317-2 WHERE "Goal_Difference" > 3 AND "Losses" < 8;
SELECT MAX("Draws") FROM 2-12255317-2 WHERE "Goal_Difference" > 3 AND "Losses" < 8
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next767>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Gold` FROM 2-12634250-2 WHERE `Silver` = '2' AND `Total` < '7';
SELECT `Gold` FROM 2-12634250-2 WHERE `Silver` = '2' AND `Total` < '7';
SELECT SUM("Gold") FROM 2-12634250-2 WHERE "Silver" = 2 AND "Total" < 7
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next768>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT DISTINCT `Team` FROM 2-1235920-4 WHERE `Year` > '1997';
SELECT DISTINCT `Team` FROM 2-1235920-4 WHERE `Year` > '1997';
SELECT "Team" FROM 2-1235920-4 WHERE "Year" > 1997
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next769>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT SUM("Points") / COUNT(*) FROM 2-1235866-1 WHERE "Year" = '1964';
SELECT SUM("Points") / COUNT(*) FROM 2-1235866-1 WHERE "Year" = '1964';
SELECT AVG("Points") FROM 2-1235866-1 WHERE "Year" = 1964
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next770>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Year` FROM 2-1235866-1 WHERE `Points` < 1 ORDER BY `Year` ASC LIMIT 1;
SELECT `Year` FROM 2-1235866-1 WHERE `Points` < 1 ORDER BY `Year` ASC LIMIT 1;
SELECT MIN("Year") FROM 2-1235866-1 WHERE "Points" < 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next771>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Rider` FROM 2-1286819-6 WHERE `Final_Position___Tour` < '50' AND `Final_Position___Vuelta` < '11' AND `Year` < '2008'</answer>
SELECT `Rider` FROM 2-1286819-6 WHERE `Final_Position___Tour` < '50' AND `Final_Position___Vuelta` < '11' AND `Year` < '2008'
SELECT "Rider" FROM 2-1286819-6 WHERE "Final_Position___Tour" < 50 AND "Final_Position___Vuelta" < 11 AND "Year" < 2008
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next772>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Goals` FROM `2-12307135-7` WHERE `Debut_in_Europe` < '1961' ORDER BY `Goals` ASC LIMIT 1;</answer>
SELECT `Goals` FROM `2-12307135-7` WHERE `Debut_in_Europe` < '1961' ORDER BY `Goals` ASC LIMIT 1;
SELECT MIN("Goals") FROM 2-12307135-7 WHERE "Debut_in_Europe" < 1961
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next773>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT SUM("Rank") FROM 2-12402019-5 WHERE "Bronze" < 1 AND "Gold" = 1 AND "Total" < 1;
SELECT SUM("Rank") FROM 2-12402019-5 WHERE "Bronze" < 1 AND "Gold" = 1 AND "Total" < 1;
SELECT SUM("Rank") FROM 2-12402019-5 WHERE "Bronze" < 1 AND "Gold" = 1 AND "Total" < 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next774>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Nation"
FROM 2-12180448-3
WHERE "Bronze" = (SELECT MAX("Bronze") FROM 2-12180448-3)
AND "Silver" > 1
AND "Gold" = 1
AND "Total" < 4;
SELECT "Nation"
FROM 2-12180448-3
WHERE "Bronze" = (SELECT MAX("Bronze") FROM 2-12180448-3)
AND "Silver" > 1
AND "Gold" = 1
AND "Total" < 4;
SELECT MAX("Bronze") FROM 2-12180448-3 WHERE "Silver" > 1 AND "Gold" = 1 AND "Total" < 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next775>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Club" FROM 2-12709578-2 WHERE "Matches" = '10' AND "Draws" > '1' ORDER BY "Losses" DESC LIMIT 1;
SELECT "Club" FROM 2-12709578-2 WHERE "Matches" = '10' AND "Draws" > '1' ORDER BY "Losses" DESC LIMIT 1;
SELECT MAX("Losses") FROM 2-12709578-2 WHERE "Matches" = 10 AND "Draws" > 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next776>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Rank` FROM 2-12386507-4 WHERE `Lane` = '1' ORDER BY `Rank` ASC LIMIT 1;</answer>
SELECT `Rank` FROM 2-12386507-4 WHERE `Lane` = '1' ORDER BY `Rank` ASC LIMIT 1;
SELECT MIN("Rank") FROM 2-12386507-4 WHERE "Lane" = 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next777>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

SELECT `Points` FROM `2-13053979-1` WHERE `Draw` = '6' AND `Rank` < '10' ORDER BY `Points` ASC LIMIT 1;
SELECT `Points` FROM `2-13053979-1` WHERE `Draw` = '6' AND `Rank` < '10' ORDER BY `Points` ASC LIMIT 1;
SELECT MIN("Points") FROM 2-13053979-1 WHERE "Draw" = 6 AND "Rank" > 10
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next778>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Ground` FROM 2-12666456-12 WHERE `Match` = '8';</answer>
SELECT `Ground` FROM 2-12666456-12 WHERE `Match` = '8';
SELECT "Ground" FROM 2-12666456-12 WHERE "Match" = 8
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next779>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Gender` FROM 2-12303251-3 WHERE `Roll` = '627';</answer>
SELECT `Gender` FROM 2-12303251-3 WHERE `Roll` = '627';
SELECT "Gender" FROM 2-12303251-3 WHERE "Roll" = 627
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next780>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Mountain_Peak` FROM 2-12679495-3 WHERE `Rank` = '49'</answer>
SELECT `Mountain_Peak` FROM 2-12679495-3 WHERE `Rank` = '49'
SELECT "Mountain_Peak" FROM 2-12679495-3 WHERE "Rank" = 49
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next781>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Call_sign` FROM 2-12839896-1 WHERE `Frequency_MHz` > '98.5' AND `ERP_W` < '155';
SELECT `Call_sign` FROM 2-12839896-1 WHERE `Frequency_MHz` > '98.5' AND `ERP_W` < '155';
SELECT "Call_sign" FROM 2-12839896-1 WHERE "Frequency_MHz" > 98.5 AND "ERP_W" < 155
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next782>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("League_Cup") FROM 2-12872606-2 WHERE "FA_Cup" > '2'</answer>
SELECT MAX("League_Cup") FROM 2-12872606-2 WHERE "FA_Cup" > '2'
SELECT MAX("League_Cup") FROM 2-12872606-2 WHERE "FA_Cup" > 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next783>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Result` FROM 2-1212502-1 WHERE `Year` = '2012';</answer>
SELECT `Result` FROM 2-1212502-1 WHERE `Year` = '2012';
SELECT "Result" FROM 2-1212502-1 WHERE "Year" = 2012
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next784>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN("Points") FROM 2-12976372-1 WHERE "Drawn" < '2' AND "Played" > '8'</answer>
SELECT MIN("Points") FROM 2-12976372-1 WHERE "Drawn" < '2' AND "Played" > '8'
SELECT MIN("Points") FROM 2-12976372-1 WHERE "Drawn" < 2 AND "Played" > 8
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next785>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG("Total") FROM 2-13150131-4 WHERE "Gold" < 1 AND "Rank" < 5;</answer>
SELECT AVG("Total") FROM 2-13150131-4 WHERE "Gold" < 1 AND "Rank" < 5;
SELECT AVG("Total") FROM 2-13150131-4 WHERE "Gold" < 1 AND "Rank" < 5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next786>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT SUM("Total") FROM 2-13150131-4 WHERE "Gold" > '1' AND "Bronze" > '0';</answer>
SELECT SUM("Total") FROM 2-13150131-4 WHERE "Gold" > '1' AND "Bronze" > '0';
SELECT SUM("Total") FROM 2-13150131-4 WHERE "Gold" > 1 AND "Bronze" > 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next787>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG("Grid") FROM 2-13062122-3 WHERE "Laps" > 23;</answer>
SELECT AVG("Grid") FROM 2-13062122-3 WHERE "Laps" > 23;
SELECT AVG("Grid") FROM 2-13062122-3 WHERE "Laps" > 23
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next788>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `_2006` FROM 2-12459580-1 WHERE `_2011` > 4113 AND `_2008` < 7181;</answer>
SELECT `_2006` FROM 2-12459580-1 WHERE `_2011` > 4113 AND `_2008` < 7181;
SELECT SUM("_2006") FROM 2-12459580-1 WHERE "_2011" > 4113 AND "_2008" < 7181
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next789>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Date` FROM 2-12824897-1 WHERE `Year` = '1786';
SELECT `Date` FROM 2-12824897-1 WHERE `Year` = '1786';
SELECT "Date" FROM 2-12824897-1 WHERE "Year" = 1786
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next790>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT COUNT(*) FROM 2-12518301-1 WHERE `Bonus_Pts` < 3 AND `Matches` <= 7;
SELECT COUNT(*) FROM 2-12518301-1 WHERE `Bonus_Pts` < 3 AND `Matches` <= 7;
SELECT MIN("Rides") FROM 2-12518301-1 WHERE "Bonus_Pts" < 3 AND "Matches" < 7
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next791>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Gold` FROM 2-12392607-3 WHERE `Silver` < '0' ORDER BY `Gold` ASC LIMIT 1</answer>
SELECT `Gold` FROM 2-12392607-3 WHERE `Silver` < '0' ORDER BY `Gold` ASC LIMIT 1
SELECT MIN("Gold") FROM 2-12392607-3 WHERE "Silver" < 0
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next792>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Player" FROM 2-12962773-1 WHERE "Year_born" = '1981';</answer>
SELECT "Player" FROM 2-12962773-1 WHERE "Year_born" = '1981';
SELECT "Player" FROM 2-12962773-1 WHERE "Year_born" = 1981
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next793>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "First_game" FROM 2-13106281-1 WHERE "Lost" > 4;</answer>
SELECT "First_game" FROM 2-13106281-1 WHERE "Lost" > 4;
SELECT "First_game" FROM 2-13106281-1 WHERE "Lost" > 4
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next794>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Winner_Nominee_s_" FROM 2-1305286-7 WHERE "Year" = '2001'</answer>
SELECT "Winner_Nominee_s_" FROM 2-1305286-7 WHERE "Year" = '2001'
SELECT "Winner_Nominee_s_" FROM 2-1305286-7 WHERE "Year" = 2001
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next795>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `School` FROM 2-129118-2 WHERE `Enrollment` < '301';</answer>
SELECT `School` FROM 2-129118-2 WHERE `Enrollment` < '301';
SELECT "School" FROM 2-129118-2 WHERE "Enrollment" < 301
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next796>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Decay_Constant__s__1__` FROM 2-1221457-1 WHERE `Half_Life__s_` < '22.72' AND `Yield__Neutrons_per_Fission` = '0.0031000000000000003' AND `Group` < '3';
SELECT `Decay_Constant__s__1__` FROM 2-1221457-1 WHERE `Half_Life__s_` < '22.72' AND `Yield__Neutrons_per_Fission` = '0.0031000000000000003' AND `Group` < '3';
SELECT COUNT("Decay_Constant__s__1__") FROM 2-1221457-1 WHERE "Half_Life__s_" < 22.72 AND "Yield__Neutrons_per_Fission" = 0.0031000000000000003 AND "Group" < 3
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next797>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

SELECT `College` FROM 2-13312898-46 WHERE `Pick__` = '1' AND `Overall` > '1' AND `Round` = '7';
SELECT `College` FROM 2-13312898-46 WHERE `Pick__` = '1' AND `Overall` > '1' AND `Round` = '7';
SELECT "College" FROM 2-13312898-46 WHERE "Pick__" = 1 AND "Overall" > 1 AND "Round" = 7
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next798>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN("Games") FROM 2-1241808-2 WHERE "Year" > '2013'</answer>
SELECT MIN("Games") FROM 2-1241808-2 WHERE "Year" > '2013'
SELECT MIN("Games") FROM 2-1241808-2 WHERE "Year" > 2013
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next799>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG(`Change____`) FROM 2-1260656-1 WHERE `Land_area__km__` = '546.74' AND `Population_density__per_km__` > '0.5'</answer>
SELECT AVG(`Change____`) FROM 2-1260656-1 WHERE `Land_area__km__` = '546.74' AND `Population_density__per_km__` > '0.5'
SELECT AVG("Change____") FROM 2-1260656-1 WHERE "Land_area__km__" = 546.74 AND "Population_density__per_km__" > 0.5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next800>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT "Total" FROM 2-12997882-1 WHERE "Bronze" > '1' AND "Gold" < '1'</answer>
SELECT "Total" FROM 2-12997882-1 WHERE "Bronze" > '1' AND "Gold" < '1'
SELECT SUM("Total") FROM 2-12997882-1 WHERE "Bronze" > 1 AND "Gold" < 1
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next801>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT "Attendance" FROM 2-13258823-2 WHERE "Week" = '12' ORDER BY "Attendance" DESC LIMIT 1;
SELECT "Attendance" FROM 2-13258823-2 WHERE "Week" = '12' ORDER BY "Attendance" DESC LIMIT 1;
SELECT MAX("Attendance") FROM 2-13258823-2 WHERE "Week" = 12
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next802>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Round` FROM 2-13312898-27 WHERE `Overall` = '6';
SELECT `Round` FROM 2-13312898-27 WHERE `Overall` = '6';
SELECT "Round" FROM 2-13312898-27 WHERE "Overall" = 6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next803>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Rank") FROM 2-12386605-5 WHERE "Lane" = '5';</answer>
SELECT MAX("Rank") FROM 2-12386605-5 WHERE "Lane" = '5';
SELECT MAX("Rank") FROM 2-12386605-5 WHERE "Lane" = 5
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next804>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Nationality` FROM 2-12386605-5 WHERE `Lane` = '6' AND `Rank` < '6'</answer>
SELECT `Nationality` FROM 2-12386605-5 WHERE `Lane` = '6' AND `Rank` < '6'
SELECT "Nationality" FROM 2-12386605-5 WHERE "Rank" < 6 AND "Lane" = 6
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next805>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Losses` FROM 2-12117808-2 WHERE `Draws` > '6' AND `Played` > '38';</answer>
SELECT `Losses` FROM 2-12117808-2 WHERE `Draws` > '6' AND `Played` > '38';
SELECT AVG("Losses") FROM 2-12117808-2 WHERE "Draws" > 6 AND "Played" > 38
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next806>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Chassis` FROM 2-1226484-1 WHERE `Year` = '1967';</answer>
SELECT `Chassis` FROM 2-1226484-1 WHERE `Year` = '1967';
SELECT "Chassis" FROM 2-1226484-1 WHERE "Year" = 1967
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next807>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MIN("Matches") FROM 2-12518301-2 WHERE "Bonus_Pts" = 19 AND "Total_Points" > 421;</answer>
SELECT MIN("Matches") FROM 2-12518301-2 WHERE "Bonus_Pts" = 19 AND "Total_Points" > 421;
SELECT MIN("Matches") FROM 2-12518301-2 WHERE "Bonus_Pts" = 19 AND "Total_Points" > 421
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next808>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT MAX("Wins") FROM 2-12884908-3 WHERE "Cuts_made" = '1' AND "Top_25" < '1' AND "Events" < '2'</answer>
SELECT MAX("Wins") FROM 2-12884908-3 WHERE "Cuts_made" = '1' AND "Top_25" < '1' AND "Events" < '2'
SELECT MAX("Wins") FROM 2-12884908-3 WHERE "Cuts_made" = 1 AND "Top_25" < 1 AND "Events" < 2
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next809>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT COUNT("Lane") FROM 2-12594788-2 WHERE "Rank" > '22';
SELECT COUNT("Lane") FROM 2-12594788-2 WHERE "Rank" > '22';
SELECT SUM("Lane") FROM 2-12594788-2 WHERE "Rank" > 22
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next810>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
SELECT `Start` FROM 2-1252065-1 WHERE `Laps` = '55';
SELECT `Start` FROM 2-1252065-1 WHERE `Laps` = '55';
SELECT "Start" FROM 2-1252065-1 WHERE "Laps" = 55
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next811>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Player` FROM 2-13081672-1 WHERE `Score` = '70';</answer>
SELECT `Player` FROM 2-13081672-1 WHERE `Score` = '70';
SELECT "Player" FROM 2-13081672-1 WHERE "Score" = 70
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next812>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT AVG("Rank") FROM 2-12169960-1 WHERE "Floors" = '24'</answer>
SELECT AVG("Rank") FROM 2-12169960-1 WHERE "Floors" = '24'
SELECT AVG("Rank") FROM 2-12169960-1 WHERE "Floors" = 24
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next813>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<message_end>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
<answer>SELECT `Mountain_Range` FROM 2-12679495-2 WHERE `Rank` = '19'</answer>
SELECT `Mountain_Range` FROM 2-12679495-2 WHERE `Rank` = '19'
SELECT "Mountain_Range" FROM 2-12679495-2 WHERE "Rank" = 19
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<next814>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

In [16]:
df_out = pd.DataFrame({
    "generated_sql": sample_list,
    "correct_sql": correct_list
})

# 保存为 CSV
df_out.to_csv("sql_comparison_Qwen2.csv", index=False, encoding="utf-8-sig")

print("已保存到 sql_comparison.csv")

已保存到 sql_comparison.csv